openapi: 3.1.0
info:
  title: Servantrip API Documentation
  version: 1.0.0-oas3
  contact: {}
  license:
    name: Apache License 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-logo:
    url: /logo.png
servers:
  - url: https://api-sndbx.servantrip.com
  - url: https://api-sndbx.servantrip.com/api
paths:
  /api/v2_1/activities/{preorderid}:
    get:
      summary: Activity full detail from preorder_id Copy
      description: Activity full detail from preorder_id Copy
      operationId: activityFullDetailFromPreorderIdCopy
      security: []
      parameters:
        - name: X-Servantrip-Culture
          in: header
          schema:
            type: string
            example: '{{culture}}'
        - name: X-Servantrip-Currency
          in: header
          schema:
            type: string
            example: '{{currency}}'
      requestBody:
        content:
          text/plain:
            examples:
              Activity full detail from preorder_id 2:
                value: "\r\n\r\n"
              Activity full detail from preorder_id Copy:
                value: "\r\n\r\n"
      responses:
        '200':
          description: OK / OK
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: >-
                  Content-Type,api_key,
                  Authorization,X-Servantrip-AgentRef,X-Servantrip-Culture,X-Servantrip-Currency
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET,POST,DELETE,PUT,PATCH,OPTIONS
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Cache-Control:
              schema:
                type: string
                example: no-cache
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Content-Length:
              schema:
                type: string
                example: '1025'
            Date:
              schema:
                type: string
                example: Fri, 03 Nov 2023 11:40:55 GMT
            Expires:
              schema:
                type: string
                example: '-1'
            Pragma:
              schema:
                type: string
                example: no-cache
            Server:
              schema:
                type: string
                example: nginx
            X-AspNet-Version:
              schema:
                type: string
                example: 4.0.30319
            X-Powered-By:
              schema:
                type: string
                example: ASP.NET
          content:
            application/json:
              schema:
                type: object
                properties:
                  activity_destination:
                    type: object
                    properties:
                      country_code_2iso:
                        type: string
                        example: ES
                      destination_code:
                        type: string
                        example: Gijón
                      destination_name:
                        type: string
                        example: Gijon
                      geolocation:
                        type: object
                        properties:
                          lat:
                            type: number
                            example: 43.53573
                          lon:
                            type: number
                            example: -5.661519
                      ggle_place_id:
                        type: string
                        example: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                  additional_info:
                    type: object
                    properties:
                      highlights:
                        type: array
                        items:
                          type: string
                          example: Nice open space
                        example:
                          - Nice open space
                      included:
                        type: array
                        items:
                          type: string
                          example: Best sighseen
                        example:
                          - Best sighseen
                      not_included:
                        type: array
                        items:
                          type: string
                          example: Dinner
                        example:
                          - Dinner
                          - Additional drinks
                  available_languages_2iso:
                    type: array
                    items:
                      type: string
                      example: en
                    example:
                      - en
                      - es
                  cancellation_rates:
                    type: array
                    items:
                      type: object
                      properties:
                        amount:
                          type: number
                          example: 100
                        hour_range_max:
                          type: number
                          example: 24
                        hour_range_min:
                          type: number
                          example: 24
                        refund_type:
                          type: string
                          example: percentage
                    example:
                      - amount: 100
                        hour_range_min: 24
                        refund_type: percentage
                      - amount: 0
                        hour_range_max: 24
                        hour_range_min: 0
                        refund_type: percentage
                  categories:
                    type: array
                    items:
                      type: string
                      example: gastronomic_experience
                    example:
                      - gastronomic_experience
                      - performance
                  characteristics:
                    type: array
                    items:
                      type: string
                      example: instant_confirmation
                    example:
                      - instant_confirmation
                      - session_license
                      - translation_automatic
                  culture_code:
                    type: string
                    example: en-GB
                  description:
                    type: string
                    example: >-
                      Please, be at the meeting point at the confirmed time.
                      Pick your ticket up ...
                  destination:
                    type: object
                    properties:
                      country_code_2iso:
                        type: string
                        example: ES
                      destination_code:
                        type: string
                        example: Gijón
                      destination_name:
                        type: string
                        example: Gijon
                      geolocation:
                        type: object
                        properties:
                          lat:
                            type: number
                            example: 43.53573
                          lon:
                            type: number
                            example: -5.661519
                      ggle_place_id:
                        type: string
                        example: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                  duration_hours:
                    type: number
                    example: 0.033333335
                  instructions:
                    type: string
                    example: >-
                      Please, be at the meeting point at the confirmed time.
                      Pick your ticket up ...
                  main_picture:
                    type: string
                    example: >-
                      https://media.servantrip.com/resources/img/activities/mock/activity-mock-1-image.png
                  modifiers:
                    type: array
                    items:
                      type: string
                      example: duration_not_specified
                    example:
                      - duration_not_specified
                      - pickup_open_list
                  pickup_locations:
                    type: object
                    properties:
                      pickup000:
                        type: string
                        example: Aeropuerto
                      pickup001:
                        type: string
                        example: Plaza Pelayo
                      pickup002:
                        type: string
                        example: Puerto
                      pickup003:
                        type: string
                        example: Calle Corrida
                      pickup004:
                        type: string
                        example: Biblioteka
                      pickup005:
                        type: string
                        example: Hotel Reconquista
                      pickup006:
                        type: string
                        example: La Luna
                      pickup007:
                        type: string
                        example: Alpha Centauri
                      pickup008:
                        type: string
                        example: Valhala
                      pickup009:
                        type: string
                        example: Raiz de Igdrasil
                      pickup010:
                        type: string
                        example: Schwartzwald
                      pickup011:
                        type: string
                        example: Wonderland
                      pickup012:
                        type: string
                        example: Nether
                      pickup013:
                        type: string
                        example: Primodial Void
                      pickup014:
                        type: string
                        example: Yesterday
                      pickup015:
                        type: string
                        example: Rabit hole
                  pictures:
                    type: array
                    items:
                      type: string
                      example: >-
                        https://media.servantrip.com/resources/img/activities/mock/activity-mock-a-image.png
                    example:
                      - >-
                        https://media.servantrip.com/resources/img/activities/mock/activity-mock-a-image.png
                      - >-
                        https://media.servantrip.com/resources/img/activities/mock/activity-mock-b-image.png
                      - >-
                        https://media.servantrip.com/resources/img/activities/mock/activity-mock-c-image.png
                      - >-
                        https://media.servantrip.com/resources/img/activities/mock/activity-mock-d-image.png
                      - >-
                        https://media.servantrip.com/resources/img/activities/mock/activity-mock-e-image.png
                  pricing:
                    type: object
                    properties:
                      currency_code_3iso:
                        type: string
                        example: EUR
                      prediscount:
                        type: number
                        example: 100
                      total:
                        type: object
                        properties:
                          base:
                            type: number
                            example: 80
                          recommended:
                            type: number
                            example: 100
                  provider:
                    type: object
                    properties:
                      brand:
                        type: string
                        example: OnlineStandardProvider1
                      logo:
                        type: string
                        example: >-
                          https://media.servantrip.com/resources/img/providers/logos/providerlogo_XX0000000001.png
                  rating_info:
                    type: object
                    properties:
                      reviews_average:
                        type: number
                        example: 4.3
                      reviews_count:
                        type: number
                        example: 1543
                  subtitle:
                    type: string
                    example: >-
                      Activity to test  free text or list pickup and
                      participants information. Subtitle.
                  title:
                    type: string
                    example: >-
                      en. Activity to test  free text or list pickup and
                      participants information. Num: 000
              examples:
                OK:
                  value:
                    activity_destination:
                      country_code_2iso: ES
                      destination_code: Gijón
                      destination_name: Gijon
                      geolocation:
                        lat: 43.53573
                        lon: -5.661519
                      ggle_place_id: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                    additional_info:
                      highlights:
                        - Nice open space
                      included:
                        - Best sighseen
                      not_included:
                        - Dinner
                        - Additional drinks
                    available_languages_2iso:
                      - en
                      - es
                    cancellation_rates:
                      - amount: 100
                        hour_range_min: 24
                        refund_type: percentage
                      - amount: 0
                        hour_range_max: 24
                        hour_range_min: 0
                        refund_type: percentage
                    categories:
                      - gastronomic_experience
                      - performance
                    characteristics:
                      - instant_confirmation
                      - session_license
                      - translation_automatic
                    culture_code: en-GB
                    description: >-
                      Please, be at the meeting point at the confirmed time.
                      Pick your ticket up ...
                    destination:
                      country_code_2iso: ES
                      destination_code: Gijón
                      destination_name: Gijon
                      geolocation:
                        lat: 43.53573
                        lon: -5.661519
                      ggle_place_id: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                    duration_hours: 0.033333335
                    instructions: >-
                      Please, be at the meeting point at the confirmed time.
                      Pick your ticket up ...
                    main_picture: >-
                      https://media.servantrip.com/resources/img/activities/mock/activity-mock-1-image.png
                    modifiers:
                      - duration_not_specified
                      - pickup_open_list
                    pickup_locations:
                      pickup000: Aeropuerto
                      pickup001: Plaza Pelayo
                      pickup002: Puerto
                      pickup003: Calle Corrida
                      pickup004: Biblioteka
                      pickup005: Hotel Reconquista
                      pickup006: La Luna
                      pickup007: Alpha Centauri
                      pickup008: Valhala
                      pickup009: Raiz de Igdrasil
                      pickup010: Schwartzwald
                      pickup011: Wonderland
                      pickup012: Nether
                      pickup013: Primodial Void
                      pickup014: Yesterday
                      pickup015: Rabit hole
                    pictures:
                      - >-
                        https://media.servantrip.com/resources/img/activities/mock/activity-mock-a-image.png
                      - >-
                        https://media.servantrip.com/resources/img/activities/mock/activity-mock-b-image.png
                      - >-
                        https://media.servantrip.com/resources/img/activities/mock/activity-mock-c-image.png
                      - >-
                        https://media.servantrip.com/resources/img/activities/mock/activity-mock-d-image.png
                      - >-
                        https://media.servantrip.com/resources/img/activities/mock/activity-mock-e-image.png
                    pricing:
                      currency_code_3iso: EUR
                      prediscount: 100
                      total:
                        base: 80
                        recommended: 100
                    provider:
                      brand: OnlineStandardProvider1
                      logo: >-
                        https://media.servantrip.com/resources/img/providers/logos/providerlogo_XX0000000001.png
                    rating_info:
                      reviews_average: 4.3
                      reviews_count: 1543
                    subtitle: >-
                      Activity to test  free text or list pickup and
                      participants information. Subtitle.
                    title: >-
                      en. Activity to test  free text or list pickup and
                      participants information. Num: 000
        '400':
          description: Bad Request / Bad Request
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: >-
                  Content-Type,api_key,
                  Authorization,X-Servantrip-AgentRef,X-Servantrip-Culture,X-Servantrip-Currency
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET,POST,DELETE,PUT,PATCH,OPTIONS
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Cache-Control:
              schema:
                type: string
                example: no-cache
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '83'
            Date:
              schema:
                type: string
                example: Fri, 03 Nov 2023 11:48:46 GMT
            Expires:
              schema:
                type: string
                example: '-1'
            Pragma:
              schema:
                type: string
                example: no-cache
            Server:
              schema:
                type: string
                example: nginx
            X-AspNet-Version:
              schema:
                type: string
                example: 4.0.30319
            X-Powered-By:
              schema:
                type: string
                example: ASP.NET
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    example: 3002
                  message:
                    type: string
                    example: Error on field 'preorder_id'. Invalid Base64 Coded value.
              examples:
                Bad Request:
                  value:
                    code: 3002
                    message: Error on field 'preorder_id'. Invalid Base64 Coded value.
    parameters:
      - name: preorderid
        in: path
        required: true
        schema:
          type: string
  /api/v2_1/availability:
    post:
      summary: Activity pax, 1 ticket. Availability Copy
      description: Activity pax, 1 ticket. Availability Copy
      operationId: activityPax1TicketAvailabilityCopy
      security: []
      parameters:
        - name: X-Servantrip-Culture
          in: header
          schema:
            type: string
            example: '{{culture}}'
        - name: X-Servantrip-Currency
          in: header
          schema:
            type: string
            example: '{{currency}}'
      requestBody:
        content:
          text/plain:
            examples:
              Activity pax, 1 ticket. Availability 2:
                value: "\r\n{\r\n \"timeout\":{{timeout}},\r\n \"requirements\": [\r\n                   \r\n                ]\r\n}\r\n"
              Activity pax, 1 ticket. Availability Copy:
                value: "\r\n{\r\n \"timeout\":{{timeout}},\r\n \"requirements\": [\r\n                   \r\n                ]\r\n}\r\n"
      responses:
        '200':
          description: OK / OK
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: >-
                  Content-Type,api_key,
                  Authorization,X-Servantrip-AgentRef,X-Servantrip-Culture,X-Servantrip-Currency
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET,POST,DELETE,PUT,PATCH,OPTIONS
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Cache-Control:
              schema:
                type: string
                example: no-cache
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Content-Length:
              schema:
                type: string
                example: '1323'
            Date:
              schema:
                type: string
                example: Fri, 03 Nov 2023 11:34:43 GMT
            Expires:
              schema:
                type: string
                example: '-1'
            Pragma:
              schema:
                type: string
                example: no-cache
            Server:
              schema:
                type: string
                example: nginx
            X-AspNet-Version:
              schema:
                type: string
                example: 4.0.30319
            X-Powered-By:
              schema:
                type: string
                example: ASP.NET
          content:
            application/json:
              schema:
                type: object
                properties:
                  culture_code:
                    type: string
                    example: en-GB
                  reference:
                    type: string
                    example: 69b356ae-0f9f-4928-bd4e-3f770bd2bf2f
                  responses:
                    type: array
                    items:
                      type: object
                      properties:
                        common_activity_info:
                          type: object
                          properties:
                            destination:
                              type: object
                              properties:
                                country_code_2iso:
                                  type: string
                                  example: ES
                                destination_code:
                                  type: string
                                  example: Gijón
                                destination_name:
                                  type: string
                                  example: Gijón
                                geolocation:
                                  type: object
                                  properties:
                                    lat:
                                      type: number
                                      example: 43.5357322692871
                                    lon:
                                      type: number
                                      example: -5.66151905059814
                                ggle_place_id:
                                  type: string
                                  example: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                        consolidated_results:
                          type: array
                          items:
                            type: object
                            properties:
                              service_details:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    activity_information:
                                      type: object
                                      properties:
                                        activity_destination:
                                          type: object
                                          properties:
                                            country_code_2iso:
                                              type: string
                                              example: ES
                                            destination_code:
                                              type: string
                                              example: Gijón
                                            destination_name:
                                              type: string
                                              example: Gijon
                                            geolocation:
                                              type: object
                                              properties:
                                                lat:
                                                  type: number
                                                  example: 43.53573
                                                lon:
                                                  type: number
                                                  example: -5.661519
                                            ggle_place_id:
                                              type: string
                                              example: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                                        available_languages_2iso:
                                          type: array
                                          items:
                                            type: string
                                            example: en
                                          example:
                                            - en
                                            - es
                                        categories:
                                          type: array
                                          items:
                                            type: string
                                            example: gastronomic_experience
                                          example:
                                            - gastronomic_experience
                                            - performance
                                        characteristics:
                                          type: array
                                          items:
                                            type: string
                                            example: instant_confirmation
                                          example:
                                            - instant_confirmation
                                            - session_license
                                            - translation_automatic
                                        main_picture:
                                          type: string
                                          example: >-
                                            https://media.servantrip.com/resources/img/activities/mock/activity-mock-1-image.png
                                        modifiers:
                                          type: array
                                          items:
                                            type: string
                                            example: duration_not_specified
                                          example:
                                            - duration_not_specified
                                            - pickup_open_list
                                        participant_questions:
                                          type: array
                                          items:
                                            type: string
                                            example: name
                                          example:
                                            - name
                                            - surname
                                            - date_of_birth
                                            - lead_traveller
                                            - is_customer
                                            - phone_number
                                        pickup_locations:
                                          type: object
                                          properties:
                                            pickup000:
                                              type: string
                                              example: Aeropuerto
                                            pickup001:
                                              type: string
                                              example: Plaza Pelayo
                                            pickup002:
                                              type: string
                                              example: Puerto
                                            pickup003:
                                              type: string
                                              example: Calle Corrida
                                            pickup004:
                                              type: string
                                              example: Biblioteka
                                            pickup005:
                                              type: string
                                              example: Hotel Reconquista
                                            pickup006:
                                              type: string
                                              example: La Luna
                                            pickup007:
                                              type: string
                                              example: Alpha Centauri
                                            pickup008:
                                              type: string
                                              example: Valhala
                                            pickup009:
                                              type: string
                                              example: Raiz de Igdrasil
                                            pickup010:
                                              type: string
                                              example: Schwartzwald
                                            pickup011:
                                              type: string
                                              example: Wonderland
                                            pickup012:
                                              type: string
                                              example: Nether
                                            pickup013:
                                              type: string
                                              example: Primodial Void
                                            pickup014:
                                              type: string
                                              example: Yesterday
                                            pickup015:
                                              type: string
                                              example: Rabit hole
                                        proximity_meters:
                                          type: number
                                          example: 0
                                        rating_info:
                                          type: object
                                          properties:
                                            reviews_average:
                                              type: number
                                              example: 4.3
                                            reviews_count:
                                              type: number
                                              example: 1543
                                        subtitle:
                                          type: string
                                          example: >-
                                            Activity to test  free text or list
                                            pickup and participants information.
                                            Subtitle.
                                        title:
                                          type: string
                                          example: >-
                                            en. Activity to test  free text or list
                                            pickup and participants information.
                                            Num: 000
                                        topic:
                                          type: string
                                          example: lifestyle
                                        topic_description:
                                          type: string
                                          example: >-
                                            Unique activities to explore the other
                                            side of the destination and
                                            surroundings. For example balloon rides,
                                            romantic dinners, cooking classes, among
                                            others.
                                        topic_name:
                                          type: string
                                          example: Lifestyle
                                        topic_picture:
                                          type: string
                                          example: >-
                                            https://media.servantrip.com/resources/img/topics/img-topic-lifestyle.png
                                        venues:
                                          type: array
                                          items: {}
                                          example: []
                                    cancellation_rates:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          amount:
                                            type: number
                                            example: 100
                                          hour_range_max:
                                            type: number
                                            example: 24
                                          hour_range_min:
                                            type: number
                                            example: 24
                                          refund_type:
                                            type: string
                                            example: percentage
                                      example:
                                        - amount: 100
                                          hour_range_min: 24
                                          refund_type: percentage
                                        - amount: 0
                                          hour_range_max: 24
                                          hour_range_min: 0
                                          refund_type: percentage
                                    preorder_id:
                                      type: string
                                      example: >-
                                        VFVNNk5qbGlNelUyWVdVdE1HWTVaaTAwT1RJNExXSmtOR1V0TTJZM056QmlaREppWmpKbVh6QXRXRmd3TURBd01EQXdNREF4WHpFPQ==
                                    pricing:
                                      type: object
                                      properties:
                                        currency_code_3iso:
                                          type: string
                                          example: EUR
                                        prediscount:
                                          type: number
                                          example: 100
                                        total:
                                          type: object
                                          properties:
                                            base:
                                              type: number
                                              example: 90
                                            recommended:
                                              type: number
                                              example: 100
                                    product_id:
                                      type: string
                                      example: A0378427587
                                    provider:
                                      type: object
                                      properties:
                                        brand:
                                          type: string
                                          example: OnlineStandardProvider1
                                        logo:
                                          type: string
                                          example: >-
                                            https://media.servantrip.com/resources/img/providers/logos/providerlogo_XX0000000001.png
                                example:
                                  - activity_information:
                                      activity_destination:
                                        country_code_2iso: ES
                                        destination_code: Gijón
                                        destination_name: Gijon
                                        geolocation:
                                          lat: 43.53573
                                          lon: -5.661519
                                        ggle_place_id: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                                      available_languages_2iso:
                                        - en
                                        - es
                                      categories:
                                        - gastronomic_experience
                                        - performance
                                      characteristics:
                                        - instant_confirmation
                                        - session_license
                                        - translation_automatic
                                      main_picture: >-
                                        https://media.servantrip.com/resources/img/activities/mock/activity-mock-1-image.png
                                      modifiers:
                                        - duration_not_specified
                                        - pickup_open_list
                                      participant_questions:
                                        - name
                                        - surname
                                        - date_of_birth
                                        - lead_traveller
                                        - is_customer
                                        - phone_number
                                      pickup_locations:
                                        pickup000: Aeropuerto
                                        pickup001: Plaza Pelayo
                                        pickup002: Puerto
                                        pickup003: Calle Corrida
                                        pickup004: Biblioteka
                                        pickup005: Hotel Reconquista
                                        pickup006: La Luna
                                        pickup007: Alpha Centauri
                                        pickup008: Valhala
                                        pickup009: Raiz de Igdrasil
                                        pickup010: Schwartzwald
                                        pickup011: Wonderland
                                        pickup012: Nether
                                        pickup013: Primodial Void
                                        pickup014: Yesterday
                                        pickup015: Rabit hole
                                      proximity_meters: 0
                                      rating_info:
                                        reviews_average: 4.3
                                        reviews_count: 1543
                                      subtitle: >-
                                        Activity to test  free text or list
                                        pickup and participants information.
                                        Subtitle.
                                      title: >-
                                        en. Activity to test  free text or list
                                        pickup and participants information.
                                        Num: 000
                                      topic: lifestyle
                                      topic_description: >-
                                        Unique activities to explore the other
                                        side of the destination and
                                        surroundings. For example balloon rides,
                                        romantic dinners, cooking classes, among
                                        others.
                                      topic_name: Lifestyle
                                      topic_picture: >-
                                        https://media.servantrip.com/resources/img/topics/img-topic-lifestyle.png
                                      venues: []
                                    cancellation_rates:
                                      - amount: 100
                                        hour_range_min: 24
                                        refund_type: percentage
                                      - amount: 0
                                        hour_range_max: 24
                                        hour_range_min: 0
                                        refund_type: percentage
                                    preorder_id: >-
                                      VFVNNk5qbGlNelUyWVdVdE1HWTVaaTAwT1RJNExXSmtOR1V0TTJZM056QmlaREppWmpKbVh6QXRXRmd3TURBd01EQXdNREF4WHpFPQ==
                                    pricing:
                                      currency_code_3iso: EUR
                                      prediscount: 100
                                      total:
                                        base: 90
                                        recommended: 100
                                    product_id: A0378427587
                                    provider:
                                      brand: OnlineStandardProvider1
                                      logo: >-
                                        https://media.servantrip.com/resources/img/providers/logos/providerlogo_XX0000000001.png
                          example:
                            - service_details:
                                - activity_information:
                                    activity_destination:
                                      country_code_2iso: ES
                                      destination_code: Gijón
                                      destination_name: Gijon
                                      geolocation:
                                        lat: 43.53573
                                        lon: -5.661519
                                      ggle_place_id: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                                    available_languages_2iso:
                                      - en
                                      - es
                                    categories:
                                      - gastronomic_experience
                                      - performance
                                    characteristics:
                                      - instant_confirmation
                                      - session_license
                                      - translation_automatic
                                    main_picture: >-
                                      https://media.servantrip.com/resources/img/activities/mock/activity-mock-1-image.png
                                    modifiers:
                                      - duration_not_specified
                                      - pickup_open_list
                                    participant_questions:
                                      - name
                                      - surname
                                      - date_of_birth
                                      - lead_traveller
                                      - is_customer
                                      - phone_number
                                    pickup_locations:
                                      pickup000: Aeropuerto
                                      pickup001: Plaza Pelayo
                                      pickup002: Puerto
                                      pickup003: Calle Corrida
                                      pickup004: Biblioteka
                                      pickup005: Hotel Reconquista
                                      pickup006: La Luna
                                      pickup007: Alpha Centauri
                                      pickup008: Valhala
                                      pickup009: Raiz de Igdrasil
                                      pickup010: Schwartzwald
                                      pickup011: Wonderland
                                      pickup012: Nether
                                      pickup013: Primodial Void
                                      pickup014: Yesterday
                                      pickup015: Rabit hole
                                    proximity_meters: 0
                                    rating_info:
                                      reviews_average: 4.3
                                      reviews_count: 1543
                                    subtitle: >-
                                      Activity to test  free text or list pickup
                                      and participants information. Subtitle.
                                    title: >-
                                      en. Activity to test  free text or list
                                      pickup and participants information. Num:
                                      000
                                    topic: lifestyle
                                    topic_description: >-
                                      Unique activities to explore the other
                                      side of the destination and surroundings.
                                      For example balloon rides, romantic
                                      dinners, cooking classes, among others.
                                    topic_name: Lifestyle
                                    topic_picture: >-
                                      https://media.servantrip.com/resources/img/topics/img-topic-lifestyle.png
                                    venues: []
                                  cancellation_rates:
                                    - amount: 100
                                      hour_range_min: 24
                                      refund_type: percentage
                                    - amount: 0
                                      hour_range_max: 24
                                      hour_range_min: 0
                                      refund_type: percentage
                                  preorder_id: >-
                                    VFVNNk5qbGlNelUyWVdVdE1HWTVaaTAwT1RJNExXSmtOR1V0TTJZM056QmlaREppWmpKbVh6QXRXRmd3TURBd01EQXdNREF4WHpFPQ==
                                  pricing:
                                    currency_code_3iso: EUR
                                    prediscount: 100
                                    total:
                                      base: 90
                                      recommended: 100
                                  product_id: A0378427587
                                  provider:
                                    brand: OnlineStandardProvider1
                                    logo: >-
                                      https://media.servantrip.com/resources/img/providers/logos/providerlogo_XX0000000001.png
                        count:
                          type: number
                          example: 1
                        reference:
                          type: string
                          example: 69b356ae-0f9f-4928-bd4e-3f770bd2bf2f_0
                        skip:
                          type: number
                          example: 0
                        take:
                          type: number
                          example: 10
                        vertical:
                          type: string
                          example: hospitality_activites
                    example:
                      - common_activity_info:
                          destination:
                            country_code_2iso: ES
                            destination_code: Gijón
                            destination_name: Gijón
                            geolocation:
                              lat: 43.5357322692871
                              lon: -5.66151905059814
                            ggle_place_id: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                        consolidated_results:
                          - service_details:
                              - activity_information:
                                  activity_destination:
                                    country_code_2iso: ES
                                    destination_code: Gijón
                                    destination_name: Gijon
                                    geolocation:
                                      lat: 43.53573
                                      lon: -5.661519
                                    ggle_place_id: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                                  available_languages_2iso:
                                    - en
                                    - es
                                  categories:
                                    - gastronomic_experience
                                    - performance
                                  characteristics:
                                    - instant_confirmation
                                    - session_license
                                    - translation_automatic
                                  main_picture: >-
                                    https://media.servantrip.com/resources/img/activities/mock/activity-mock-1-image.png
                                  modifiers:
                                    - duration_not_specified
                                    - pickup_open_list
                                  participant_questions:
                                    - name
                                    - surname
                                    - date_of_birth
                                    - lead_traveller
                                    - is_customer
                                    - phone_number
                                  pickup_locations:
                                    pickup000: Aeropuerto
                                    pickup001: Plaza Pelayo
                                    pickup002: Puerto
                                    pickup003: Calle Corrida
                                    pickup004: Biblioteka
                                    pickup005: Hotel Reconquista
                                    pickup006: La Luna
                                    pickup007: Alpha Centauri
                                    pickup008: Valhala
                                    pickup009: Raiz de Igdrasil
                                    pickup010: Schwartzwald
                                    pickup011: Wonderland
                                    pickup012: Nether
                                    pickup013: Primodial Void
                                    pickup014: Yesterday
                                    pickup015: Rabit hole
                                  proximity_meters: 0
                                  rating_info:
                                    reviews_average: 4.3
                                    reviews_count: 1543
                                  subtitle: >-
                                    Activity to test  free text or list pickup
                                    and participants information. Subtitle.
                                  title: >-
                                    en. Activity to test  free text or list
                                    pickup and participants information. Num:
                                    000
                                  topic: lifestyle
                                  topic_description: >-
                                    Unique activities to explore the other side
                                    of the destination and surroundings. For
                                    example balloon rides, romantic dinners,
                                    cooking classes, among others.
                                  topic_name: Lifestyle
                                  topic_picture: >-
                                    https://media.servantrip.com/resources/img/topics/img-topic-lifestyle.png
                                  venues: []
                                cancellation_rates:
                                  - amount: 100
                                    hour_range_min: 24
                                    refund_type: percentage
                                  - amount: 0
                                    hour_range_max: 24
                                    hour_range_min: 0
                                    refund_type: percentage
                                preorder_id: >-
                                  VFVNNk5qbGlNelUyWVdVdE1HWTVaaTAwT1RJNExXSmtOR1V0TTJZM056QmlaREppWmpKbVh6QXRXRmd3TURBd01EQXdNREF4WHpFPQ==
                                pricing:
                                  currency_code_3iso: EUR
                                  prediscount: 100
                                  total:
                                    base: 90
                                    recommended: 100
                                product_id: A0378427587
                                provider:
                                  brand: OnlineStandardProvider1
                                  logo: >-
                                    https://media.servantrip.com/resources/img/providers/logos/providerlogo_XX0000000001.png
                        count: 1
                        reference: 69b356ae-0f9f-4928-bd4e-3f770bd2bf2f_0
                        skip: 0
                        take: 10
                        vertical: hospitality_activites
              examples:
                OK:
                  value:
                    culture_code: en-GB
                    reference: 69b356ae-0f9f-4928-bd4e-3f770bd2bf2f
                    responses:
                      - common_activity_info:
                          destination:
                            country_code_2iso: ES
                            destination_code: Gijón
                            destination_name: Gijón
                            geolocation:
                              lat: 43.5357322692871
                              lon: -5.66151905059814
                            ggle_place_id: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                        consolidated_results:
                          - service_details:
                              - activity_information:
                                  activity_destination:
                                    country_code_2iso: ES
                                    destination_code: Gijón
                                    destination_name: Gijon
                                    geolocation:
                                      lat: 43.53573
                                      lon: -5.661519
                                    ggle_place_id: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                                  available_languages_2iso:
                                    - en
                                    - es
                                  categories:
                                    - gastronomic_experience
                                    - performance
                                  characteristics:
                                    - instant_confirmation
                                    - session_license
                                    - translation_automatic
                                  main_picture: >-
                                    https://media.servantrip.com/resources/img/activities/mock/activity-mock-1-image.png
                                  modifiers:
                                    - duration_not_specified
                                    - pickup_open_list
                                  participant_questions:
                                    - name
                                    - surname
                                    - date_of_birth
                                    - lead_traveller
                                    - is_customer
                                    - phone_number
                                  pickup_locations:
                                    pickup000: Aeropuerto
                                    pickup001: Plaza Pelayo
                                    pickup002: Puerto
                                    pickup003: Calle Corrida
                                    pickup004: Biblioteka
                                    pickup005: Hotel Reconquista
                                    pickup006: La Luna
                                    pickup007: Alpha Centauri
                                    pickup008: Valhala
                                    pickup009: Raiz de Igdrasil
                                    pickup010: Schwartzwald
                                    pickup011: Wonderland
                                    pickup012: Nether
                                    pickup013: Primodial Void
                                    pickup014: Yesterday
                                    pickup015: Rabit hole
                                  proximity_meters: 0
                                  rating_info:
                                    reviews_average: 4.3
                                    reviews_count: 1543
                                  subtitle: >-
                                    Activity to test  free text or list pickup
                                    and participants information. Subtitle.
                                  title: >-
                                    en. Activity to test  free text or list
                                    pickup and participants information. Num:
                                    000
                                  topic: lifestyle
                                  topic_description: >-
                                    Unique activities to explore the other side
                                    of the destination and surroundings. For
                                    example balloon rides, romantic dinners,
                                    cooking classes, among others.
                                  topic_name: Lifestyle
                                  topic_picture: >-
                                    https://media.servantrip.com/resources/img/topics/img-topic-lifestyle.png
                                  venues: []
                                cancellation_rates:
                                  - amount: 100
                                    hour_range_min: 24
                                    refund_type: percentage
                                  - amount: 0
                                    hour_range_max: 24
                                    hour_range_min: 0
                                    refund_type: percentage
                                preorder_id: >-
                                  VFVNNk5qbGlNelUyWVdVdE1HWTVaaTAwT1RJNExXSmtOR1V0TTJZM056QmlaREppWmpKbVh6QXRXRmd3TURBd01EQXdNREF4WHpFPQ==
                                pricing:
                                  currency_code_3iso: EUR
                                  prediscount: 100
                                  total:
                                    base: 90
                                    recommended: 100
                                product_id: A0378427587
                                provider:
                                  brand: OnlineStandardProvider1
                                  logo: >-
                                    https://media.servantrip.com/resources/img/providers/logos/providerlogo_XX0000000001.png
                        count: 1
                        reference: 69b356ae-0f9f-4928-bd4e-3f770bd2bf2f_0
                        skip: 0
                        take: 10
                        vertical: hospitality_activites
        '400':
          description: Bad Request / Bad Request
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: >-
                  Content-Type,api_key,
                  Authorization,X-Servantrip-AgentRef,X-Servantrip-Culture,X-Servantrip-Currency
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET,POST,DELETE,PUT,PATCH,OPTIONS
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Cache-Control:
              schema:
                type: string
                example: no-cache
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: '81'
            Date:
              schema:
                type: string
                example: Fri, 03 Nov 2023 11:39:30 GMT
            Expires:
              schema:
                type: string
                example: '-1'
            Pragma:
              schema:
                type: string
                example: no-cache
            Server:
              schema:
                type: string
                example: nginx
            X-AspNet-Version:
              schema:
                type: string
                example: 4.0.30319
            X-Powered-By:
              schema:
                type: string
                example: ASP.NET
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                    example: 2003
                  message:
                    type: string
                    example: Error on field 'requirements'. Cannot be null or empty.
              examples:
                Bad Request:
                  value:
                    code: 2003
                    message: Error on field 'requirements'. Cannot be null or empty.
  /v2_1/availability:
    post:
      summary: Availability USD
      description: Shows all availability in USD.
      operationId: availabilityUsd
      security: []
      parameters:
        - name: X-Servantrip-Culture
          in: header
          schema:
            type: string
            example: '{{culture}}'
        - name: X-Servantrip-Currency
          in: header
          schema:
            type: string
            example: USD
      requestBody:
        content:
          application/json:
            examples:
              Availability USD:
                value: "\n{\n \"timeout\":{{timeout}},\n \"requirement\": [\n\t\t\t\t\t{\n    \n    \t\t\t\t\t\"vertical\": \"ground_transfer_p2p\",\n\t\t\t\t\t    \n\t\t\t\t\t    \"ground_information\": {\n                            \"point_origin\":{\n\t\t\t\t\t    \t\t\"ggle_place_id\": \"ChIJAQAAANAxQg0R786FD-old24\"\n\t\t\t\t\t\n\t\t\t\t\t        },\n\t\t\t\t\t\t\t\"point_dest\":{\n\t\t\t\t\t\t\t    \"ggle_place_id\": \"ChIJMeVgaYQoQg0Rwof_7Cy9PmQ\"\n\t\t\t\t\t\t\t},\n                            \"people_detail\":{\n\t\t\t\t\t\t\t\t\"adult\": 1\n\t\t\t\t\t    \t},\n                            \"include_providers\": [\"{{mock_groundpto_provideruid}}\"]\n    \t\t\t\t\t },\n    \t\t\t\t\t\"when\": \"{{selected_date}}T10:00:00\"\n\t\t\t\t\t    \n    \t\t\t\t}\n\t\t\t\t ]\n}\n"
              Availability USD 2:
                value: "\n{\n \"timeout\":{{timeout}},\n \"requirement\": [\n\t\t\t\t\t{\n    \n    \t\t\t\t\t\"vertical\": \"ground_transfer_p2p\",\n\t\t\t\t\t    \n\t\t\t\t\t    \"ground_information\": {\n                            \"point_origin\":{\n\t\t\t\t\t    \t\t\"ggle_place_id\": \"ChIJAQAAANAxQg0R786FD-old24\"\n\t\t\t\t\t\n\t\t\t\t\t        },\n\t\t\t\t\t\t\t\"point_dest\":{\n\t\t\t\t\t\t\t    \"ggle_place_id\": \"ChIJMeVgaYQoQg0Rwof_7Cy9PmQ\"\n\t\t\t\t\t\t\t},\n                            \"people_detail\":{\n\t\t\t\t\t\t\t\t\"adult\": 1\n\t\t\t\t\t    \t},\n                            \"include_providers\": [\"{{mock_groundpto_provideruid}}\"]\n    \t\t\t\t\t },\n    \t\t\t\t\t\"when\": \"{{selected_date}}T10:00:00\"\n\t\t\t\t\t    \n    \t\t\t\t}\n\t\t\t\t ]\n}\n"
      responses:
        '200':
          description: OK / OK
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: >-
                  Content-Type,api_key,
                  Authorization,X-Servantrip-AgentRef,X-Servantrip-Culture,X-Servantrip-Currency
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET,POST,DELETE,PUT,PATCH,OPTIONS
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Cache-Control:
              schema:
                type: string
                example: no-cache
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Content-Length:
              schema:
                type: string
                example: '2638'
            Date:
              schema:
                type: string
                example: Wed, 08 Nov 2023 15:44:23 GMT
            Expires:
              schema:
                type: string
                example: '-1'
            Pragma:
              schema:
                type: string
                example: no-cache
            Server:
              schema:
                type: string
                example: nginx
            Set-Cookie:
              schema:
                type: string
                example: >-
                  ASP.NET_SessionId=m1ajq2gkoapdsux2nsoywbhq; path=/; secure;
                  HttpOnly; SameSite=Lax
            X-AspNet-Version:
              schema:
                type: string
                example: 4.0.30319
            X-Powered-By:
              schema:
                type: string
                example: ASP.NET
          content:
            application/json:
              schema:
                type: object
                properties:
                  culture_code:
                    type: string
                    example: en-GB
                  reference:
                    type: string
                    example: f94dc3ae-bdc6-4298-b0b6-0a594dd27d3f
                  responses:
                    type: array
                    items:
                      type: object
                      properties:
                        common_ground_info:
                          type: object
                          properties:
                            dropoff_point:
                              type: object
                              properties:
                                address:
                                  type: string
                                  example: Calle de Alcalá, 45, 28014 Madrid, Spain
                                country_code_2iso:
                                  type: string
                                  example: ES
                                destination_name:
                                  type: string
                                  example: Madrid
                                display_text:
                                  type: string
                                  example: Calle de Alcalá, 45, 28014 Madrid, Spain
                                geolocation:
                                  type: object
                                  properties:
                                    lat:
                                      type: number
                                      example: 40.419184
                                    lon:
                                      type: number
                                      example: -3.6962013
                                ggle_place_id:
                                  type: string
                                  example: ChIJMeVgaYQoQg0Rwof_7Cy9PmQ
                            pickup_point:
                              type: object
                              properties:
                                address:
                                  type: string
                                  example: >-
                                    Av de la Hispanidad, s/n, 28042 Madrid,
                                    Spain
                                airport_iata:
                                  type: string
                                  example: MAD
                                country_code_2iso:
                                  type: string
                                  example: ES
                                destination_name:
                                  type: string
                                  example: Madrid
                                display_text:
                                  type: string
                                  example: >-
                                    (MAD) Madrid-Barajas Adolfo Suárez Airport
                                    (MAD), Avenida de la Hispanidad, Madrid,
                                    Spain
                                geolocation:
                                  type: object
                                  properties:
                                    lat:
                                      type: number
                                      example: 40.4983322
                                    lon:
                                      type: number
                                      example: -3.5675982
                                ggle_place_id:
                                  type: string
                                  example: ChIJAQAAANAxQg0R786FD-old24
                            pickup_when:
                              type: string
                              example: '2023-12-30T09:00:00'
                            service_conditions:
                              type: array
                              items: {}
                              example: []
                        consolidated_results:
                          type: array
                          items:
                            type: object
                            properties:
                              service_details:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    cancellation_rates:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          amount:
                                            type: number
                                            example: 0
                                          hour_range_max:
                                            type: number
                                            example: 24
                                          hour_range_min:
                                            type: number
                                            example: 0
                                          refund_type:
                                            type: string
                                            example: percentage
                                      example:
                                        - amount: 0
                                          hour_range_max: 24
                                          hour_range_min: 0
                                          refund_type: percentage
                                        - amount: 100
                                          hour_range_min: 24
                                          refund_type: percentage
                                    ground_information:
                                      type: object
                                      properties:
                                        baggage_allowed:
                                          type: object
                                          properties:
                                            standard_suitcase:
                                              type: number
                                              example: 2
                                        car_category:
                                          type: string
                                          example: economy
                                        car_type:
                                          type: string
                                          example: other
                                        car_type_description:
                                          type: string
                                          example: Toyota Prius or similar
                                        car_type_name:
                                          type: string
                                          example: Private Economy
                                        max_people:
                                          type: number
                                          example: 4
                                        modifiers:
                                          type: array
                                          items:
                                            type: string
                                            example: meet_greet
                                          example:
                                            - meet_greet
                                            - private
                                            - direct_ride
                                            - no_green_friendly
                                            - refundable
                                            - no_weelchair_adapted
                                        no_identical_vehicles:
                                          type: number
                                          example: 1
                                        route_info:
                                          type: object
                                          properties:
                                            distance_km:
                                              type: number
                                              example: 8.536
                                            duration_hours:
                                              type: number
                                              example: 0.03333334
                                        service_description:
                                          type: string
                                          example: >-
                                            Hiring a basic transfer service from/to
                                            the airport to/from the accommodation.
                                        service_picture:
                                          type: string
                                          example: >-
                                            https://media.servantrip.com/resources/img/Economy.png
                                        waiting_time_minutes:
                                          type: number
                                          example: 10
                                    preorder_id:
                                      type: string
                                      example: >-
                                        VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01ERT0=
                                    pricing:
                                      type: object
                                      properties:
                                        currency_code_3iso:
                                          type: string
                                          example: USD
                                        prediscount:
                                          type: number
                                          example: 481
                                        total:
                                          type: object
                                          properties:
                                            base:
                                              type: number
                                              example: 432.9
                                            recommended:
                                              type: number
                                              example: 481
                                        unitary:
                                          type: object
                                          properties:
                                            base:
                                              type: number
                                              example: 432.9
                                            recommended:
                                              type: number
                                              example: 481
                                    provider:
                                      type: object
                                      properties:
                                        brand:
                                          type: string
                                          example: Ground Standard Mock
                                        logo:
                                          type: string
                                          example: >-
                                            https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                                example:
                                  - cancellation_rates:
                                      - amount: 0
                                        hour_range_max: 24
                                        hour_range_min: 0
                                        refund_type: percentage
                                      - amount: 100
                                        hour_range_min: 24
                                        refund_type: percentage
                                    ground_information:
                                      baggage_allowed:
                                        standard_suitcase: 2
                                      car_category: economy
                                      car_type: other
                                      car_type_description: Toyota Prius or similar
                                      car_type_name: Private Economy
                                      max_people: 4
                                      modifiers:
                                        - meet_greet
                                        - private
                                        - direct_ride
                                        - no_green_friendly
                                        - refundable
                                        - no_weelchair_adapted
                                      no_identical_vehicles: 1
                                      route_info:
                                        distance_km: 8.536
                                        duration_hours: 0.03333334
                                      service_description: >-
                                        Hiring a basic transfer service from/to
                                        the airport to/from the accommodation.
                                      service_picture: >-
                                        https://media.servantrip.com/resources/img/Economy.png
                                      waiting_time_minutes: 10
                                    preorder_id: >-
                                      VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01ERT0=
                                    pricing:
                                      currency_code_3iso: USD
                                      prediscount: 481
                                      total:
                                        base: 432.9
                                        recommended: 481
                                      unitary:
                                        base: 432.9
                                        recommended: 481
                                    provider:
                                      brand: Ground Standard Mock
                                      logo: >-
                                        https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                                  - cancellation_rates:
                                      - amount: 0
                                        hour_range_max: 24
                                        hour_range_min: 0
                                        refund_type: percentage
                                      - amount: 100
                                        hour_range_min: 24
                                        refund_type: percentage
                                    ground_information:
                                      baggage_allowed:
                                        standard_suitcase: 2
                                      car_category: economy
                                      car_type: other
                                      car_type_description: Toyota Prius or similar
                                      car_type_name: Private Economy
                                      max_people: 4
                                      modifiers:
                                        - meet_greet
                                        - private
                                        - direct_ride
                                        - no_green_friendly
                                        - refundable
                                        - no_weelchair_adapted
                                      no_identical_vehicles: 1
                                      route_info:
                                        distance_km: 8.536
                                        duration_hours: 0.03333334
                                      service_description: >-
                                        Hiring a basic transfer service from/to
                                        the airport to/from the accommodation.
                                      service_picture: >-
                                        https://media.servantrip.com/resources/img/Economy.png
                                      waiting_time_minutes: 10
                                    preorder_id: >-
                                      VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01EWT0=
                                    pricing:
                                      currency_code_3iso: USD
                                      prediscount: 481
                                      total:
                                        base: 432.9
                                        recommended: 481
                                      unitary:
                                        base: 432.9
                                        recommended: 481
                                    provider:
                                      brand: Ground Standard Mock
                                      logo: >-
                                        https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                                  - cancellation_rates:
                                      - amount: 0
                                        hour_range_max: 24
                                        hour_range_min: 0
                                        refund_type: percentage
                                      - amount: 100
                                        hour_range_min: 24
                                        refund_type: percentage
                                    ground_information:
                                      baggage_allowed:
                                        standard_suitcase: 2
                                      car_category: economy
                                      car_type: other
                                      car_type_description: Toyota Prius or similar
                                      car_type_name: Private Economy
                                      max_people: 4
                                      modifiers:
                                        - meet_greet
                                        - private
                                        - direct_ride
                                        - no_green_friendly
                                        - refundable
                                        - no_weelchair_adapted
                                      no_identical_vehicles: 1
                                      route_info:
                                        distance_km: 8.536
                                        duration_hours: 0.03333334
                                      service_description: >-
                                        Hiring a basic transfer service from/to
                                        the airport to/from the accommodation.
                                      service_picture: >-
                                        https://media.servantrip.com/resources/img/Economy.png
                                      waiting_time_minutes: 10
                                    preorder_id: >-
                                      VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd016ST0=
                                    pricing:
                                      currency_code_3iso: USD
                                      prediscount: 481
                                      total:
                                        base: 432.9
                                        recommended: 481
                                      unitary:
                                        base: 432.9
                                        recommended: 481
                                    provider:
                                      brand: Ground Standard Mock
                                      logo: >-
                                        https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                                  - cancellation_rates:
                                      - amount: 0
                                        hour_range_max: 24
                                        hour_range_min: 0
                                        refund_type: percentage
                                      - amount: 100
                                        hour_range_min: 24
                                        refund_type: percentage
                                    ground_information:
                                      baggage_allowed:
                                        standard_suitcase: 2
                                      car_category: economy
                                      car_type: other
                                      car_type_description: Toyota Prius or similar
                                      car_type_name: Private Economy
                                      max_people: 4
                                      modifiers:
                                        - meet_greet
                                        - private
                                        - direct_ride
                                        - no_green_friendly
                                        - refundable
                                        - no_weelchair_adapted
                                      no_identical_vehicles: 1
                                      route_info:
                                        distance_km: 8.536
                                        duration_hours: 0.03333334
                                      service_description: >-
                                        Hiring a basic transfer service from/to
                                        the airport to/from the accommodation.
                                      service_picture: >-
                                        https://media.servantrip.com/resources/img/Economy.png
                                      waiting_time_minutes: 10
                                    preorder_id: >-
                                      VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd016Yz0=
                                    pricing:
                                      currency_code_3iso: USD
                                      prediscount: 481
                                      total:
                                        base: 432.9
                                        recommended: 481
                                      unitary:
                                        base: 432.9
                                        recommended: 481
                                    provider:
                                      brand: Ground Standard Mock
                                      logo: >-
                                        https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                          example:
                            - service_details:
                                - cancellation_rates:
                                    - amount: 0
                                      hour_range_max: 24
                                      hour_range_min: 0
                                      refund_type: percentage
                                    - amount: 100
                                      hour_range_min: 24
                                      refund_type: percentage
                                  ground_information:
                                    baggage_allowed:
                                      standard_suitcase: 2
                                    car_category: economy
                                    car_type: other
                                    car_type_description: Toyota Prius or similar
                                    car_type_name: Private Economy
                                    max_people: 4
                                    modifiers:
                                      - meet_greet
                                      - private
                                      - direct_ride
                                      - no_green_friendly
                                      - refundable
                                      - no_weelchair_adapted
                                    no_identical_vehicles: 1
                                    route_info:
                                      distance_km: 8.536
                                      duration_hours: 0.03333334
                                    service_description: >-
                                      Hiring a basic transfer service from/to
                                      the airport to/from the accommodation.
                                    service_picture: >-
                                      https://media.servantrip.com/resources/img/Economy.png
                                    waiting_time_minutes: 10
                                  preorder_id: >-
                                    VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01ERT0=
                                  pricing:
                                    currency_code_3iso: USD
                                    prediscount: 481
                                    total:
                                      base: 432.9
                                      recommended: 481
                                    unitary:
                                      base: 432.9
                                      recommended: 481
                                  provider:
                                    brand: Ground Standard Mock
                                    logo: >-
                                      https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                                - cancellation_rates:
                                    - amount: 0
                                      hour_range_max: 24
                                      hour_range_min: 0
                                      refund_type: percentage
                                    - amount: 100
                                      hour_range_min: 24
                                      refund_type: percentage
                                  ground_information:
                                    baggage_allowed:
                                      standard_suitcase: 2
                                    car_category: economy
                                    car_type: other
                                    car_type_description: Toyota Prius or similar
                                    car_type_name: Private Economy
                                    max_people: 4
                                    modifiers:
                                      - meet_greet
                                      - private
                                      - direct_ride
                                      - no_green_friendly
                                      - refundable
                                      - no_weelchair_adapted
                                    no_identical_vehicles: 1
                                    route_info:
                                      distance_km: 8.536
                                      duration_hours: 0.03333334
                                    service_description: >-
                                      Hiring a basic transfer service from/to
                                      the airport to/from the accommodation.
                                    service_picture: >-
                                      https://media.servantrip.com/resources/img/Economy.png
                                    waiting_time_minutes: 10
                                  preorder_id: >-
                                    VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01EWT0=
                                  pricing:
                                    currency_code_3iso: USD
                                    prediscount: 481
                                    total:
                                      base: 432.9
                                      recommended: 481
                                    unitary:
                                      base: 432.9
                                      recommended: 481
                                  provider:
                                    brand: Ground Standard Mock
                                    logo: >-
                                      https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                                - cancellation_rates:
                                    - amount: 0
                                      hour_range_max: 24
                                      hour_range_min: 0
                                      refund_type: percentage
                                    - amount: 100
                                      hour_range_min: 24
                                      refund_type: percentage
                                  ground_information:
                                    baggage_allowed:
[...]
