openapi: 3.1.0
info:
  title: API Reference - Developer tools
  termsOfService: https://www.infomaniak.com/en/legal/general-terms-and-conditions
  contact:
    name: Infomaniak Support
    url: https://developer.infomaniak.com/
    email: support@infomaniak.com
  license:
    name: MIT License
    url: https://developer.infomaniak.com/license
  version: 1.0.0
servers:
  - url: https://api.infomaniak.com
paths:
  /1/kmeet/rooms:
    post:
      tags:
        - Plan a conference
      summary: Plan a conference
      description: >-
        This endpoint allows you to plan a conference with predefined settings.
        It will add an event on your Infomaniak Calendar with the meeting url.
         If you just want to create a room you don't need any API calls, you can build a conference URL by adding an unique identifier to your kMeet instance url (eg: kmeet.infomaniak.com/${MY_VERY_SECRET_CONFERENCE_ID})
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlannedConference'
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PlannedConferenceReturn'
        '422':
          description: Unprocessable Entity
      deprecated: false
      security:
        - bearerAuth: []
  /1/kmeet/rooms/{room_id}/settings:
    get:
      tags:
        - Room settings
      summary: Get room settings
      description: |
        This endpoint allows you to fetch room settings.
      parameters:
        - description: Unique identifier of the room settings
          required: true
          schema:
            type: string
          name: room_id
          in: path
      responses:
        '200':
          description: Default response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PlannedConferenceReturn'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            description: Error code
                            example: not_authorized
                          description:
                            type: string
                            description: Description of the error
                            example: Forbidden
                          errors:
                            type: array
                            description: Error details
                        description: Error object
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            description: Error code
                            example: not_found
                          description:
                            type: string
                            description: Description of the error
                            example: Not Found
                          errors:
                            type: array
                            description: Error details
                        description: Error object
      deprecated: false
      security:
        - bearerAuth: []
  /teams/{team_id}/top/reactions:
    get:
      tags:
        - insights
      summary: Get a list of the top reactions for a team.
      description: >
        Get a list of the top reactions across all public and private channels
        (the user is a member of) for a given team.

        ##### Permissions

        Must have `view_team` permission for the team.
      operationId: GetTopReactionsForTeam
      parameters:
        - name: team_id
          in: path
          description: Team GUID
          required: true
          schema:
            type: string
        - name: time_range
          in: query
          description: |
            Time range can be "today", "7_day", or "28_day".
            - `today`: reactions posted on the current day.
            - `7_day`: reactions posted in the last 7 days.
            - `28_day`: reactions posted in the last 28 days.
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: The page to select.
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: The number of items per page, up to a maximum of 200.
          schema:
            type: integer
            default: 60
      responses:
        '200':
          description: Top reactions retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopReactionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /users/me/top/reactions:
    get:
      tags:
        - insights
      summary: Get a list of the top reactions for a user.
      description: >
        Get a list of the top reactions across all public and private channels
        (the user is a member of) for a given user.

        If no `team_id` is provided, this will also include reactions posted by
        the given user in direct and group messages.

        ##### Permissions

        Must be logged in as the user.
      operationId: GetTopReactionsForUser
      parameters:
        - name: time_range
          in: query
          description: |
            Time range can be "today", "7_day", or "28_day".
            - `today`: reactions posted on the current day.
            - `7_day`: reactions posted in the last 7 days.
            - `28_day`: reactions posted in the last 28 days.
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: The page to select.
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: The number of items per page, up to a maximum of 200.
          schema:
            type: integer
            default: 60
        - name: team_id
          in: query
          description: >
            Team ID will scope the response to a given team and exclude direct
            and group messages.

            ##### Permissions

            Must have `view_team` permission for the team.
          schema:
            type: string
      responses:
        '200':
          description: Top reactions retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopReactionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /teams/{team_id}/top/channels:
    get:
      tags:
        - insights
      summary: Get a list of the top channels for a team.
      description: >
        Get a list of the top public and private channels (the user is a member
        of) for a given team.

        ##### Permissions

        Must have `view_team` permission for the team.
      operationId: GetTopChannelsForTeam
      parameters:
        - name: team_id
          in: path
          description: Team GUID
          required: true
          schema:
            type: string
        - name: time_range
          in: query
          description: |
            Time range can be "today", "7_day", or "28_day".
            - `today`: channels with posts on the current day.
            - `7_day`: channels with posts in the last 7 days.
            - `28_day`: channels with posts in the last 28 days.
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: The page to select.
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: The number of items per page, up to a maximum of 200.
          schema:
            type: integer
            default: 60
      responses:
        '200':
          description: Top channels retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopChannelList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /users/me/top/channels:
    get:
      tags:
        - insights
      summary: Get a list of the top channels for a user.
      description: >
        Get a list of the top public and private channels (the user is a member
        of) for a given user.

        ##### Permissions

        Must be logged in as the user.
      operationId: GetTopChannelsForUser
      parameters:
        - name: time_range
          in: query
          description: |
            Time range can be "today", "7_day", or "28_day".
            - `today`: channels with posts on the current day.
            - `7_day`: channels with posts in the last 7 days.
            - `28_day`: channels with posts in the last 28 days.
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: The page to select.
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: The number of items per page, up to a maximum of 200.
          schema:
            type: integer
            default: 60
        - name: team_id
          in: query
          description: |
            Team ID will scope the response to a given team.
            ##### Permissions
            Must have `view_team` permission for the team.
          schema:
            type: string
      responses:
        '200':
          description: Top channels retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopChannelList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /teams/{team_id}/top/team_members:
    get:
      tags:
        - insights
      summary: Get a list of new team members.
      description: >
        Get a list of all of the new team members that have joined the given
        team during the given time period.

        ##### Permissions

        Must have `view_team` permission for the team.
      operationId: GetNewTeamMembers
      parameters:
        - name: team_id
          in: path
          description: Team GUID
          required: true
          schema:
            type: string
        - name: time_range
          in: query
          description: |
            Time range can be "today", "7_day", or "28_day".
            - `today`: team members who joined during the current day.
            - `7_day`: team members who joined in the last 7 days.
            - `28_day`: team members who joined in the last 28 days.
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: The page to select.
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: The number of items per page.
          schema:
            type: integer
            default: 60
      responses:
        '200':
          description: New team members retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewTeamMembersList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /teams/{team_id}/top/threads:
    get:
      tags:
        - insights
      summary: Get a list of the top threads for a team.
      description: >
        Get a list of the top threads from public and private channels (the user
        is a member of) for a given team.

        ##### Permissions

        Must have `view_team` permission for the team.
      operationId: GetTopThreadsForTeam
      parameters:
        - name: team_id
          in: path
          description: Team GUID
          required: true
          schema:
            type: string
        - name: time_range
          in: query
          description: |
            Time range can be "today", "7_day", or "28_day".
            - `today`: threads with activity on the current day.
            - `7_day`: threads with activity in the last 7 days.
            - `28_day`: threads with activity in the last 28 days.
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: The page to select.
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: The number of items per page, up to a maximum of 200.
          schema:
            type: integer
            default: 60
      responses:
        '200':
          description: Top threads retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopThreadList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /users/me/top/threads:
    get:
      tags:
        - insights
      summary: Get a list of the top threads for a user.
      description: >
        Get a list of the top threads from public and private channels (the user
        is a member of and participating in the thread) for a given user.

        ##### Permissions

        Must be logged in as the user.
      operationId: GetTopThreadsForUser
      parameters:
        - name: time_range
          in: query
          description: |
            Time range can be "today", "7_day", or "28_day".
            - `today`: threads with activity on the current day.
            - `7_day`: threads with activity in the last 7 days.
            - `28_day`: threads with activity in the last 28 days.
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: The page to select.
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: The number of items per page, up to a maximum of 200.
          schema:
            type: integer
            default: 60
        - name: team_id
          in: query
          description: |
            Team ID will scope the response to a given team.
            ##### Permissions
            Must have `view_team` permission for the team.
          schema:
            type: string
      responses:
        '200':
          description: Top threads retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopThreadList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /users/me/top/dms:
    get:
      tags:
        - insights
      summary: Get a list of the top dms for a user.
      description: |
        Get a list of the top dms for a given user.
        ##### Permissions
        Must be logged in as the user.
      operationId: GetTopDMsForUser
      parameters:
        - name: time_range
          in: query
          description: |
            Time range can be "today", "7_day", or "28_day".
            - `today`: threads with activity on the current day.
            - `7_day`: threads with activity in the last 7 days.
            - `28_day`: threads with activity in the last 28 days.
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: The page to select.
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: The number of items per page, up to a maximum of 200.
          schema:
            type: integer
            default: 60
      responses:
        '200':
          description: Top dms retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopDMList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /users:
    get:
      tags:
        - users
      summary: Get users
      description: >
        Get a page of a list of users. Based on query string parameters, select
        users from a team, channel, or select users not in a specific channel.


        Some basic sorting is available using the `sort` query parameter.
        Sorting is currently only supported when selecting users on a team.

        ##### Permissions

        Requires an active session and (if specified) membership to the channel
        or team being selected from.
      operationId: GetUsers
      parameters:
        - name: page
          in: query
          description: The page to select.
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: >-
            The number of users per page. There is a maximum limit of 200 users
            per page.
          schema:
            type: integer
            default: 60
        - name: in_team
          in: query
          description: The ID of the team to get users for.
          schema:
            type: string
        - name: not_in_team
          in: query
          description: >-
            The ID of the team to exclude users for. Must not be used with
            "in_team" query parameter.
          schema:
            type: string
        - name: in_channel
          in: query
          description: The ID of the channel to get users for.
          schema:
            type: string
        - name: not_in_channel
          in: query
          description: >-
            The ID of the channel to exclude users for. Must be used with
            "in_channel" query parameter.
          schema:
            type: string
        - name: in_group
          in: query
          description: >-
            The ID of the group to get users for. Must have `manage_system`
            permission.
          schema:
            type: string
        - name: group_constrained
          in: query
          description: >-
            When used with `not_in_channel` or `not_in_team`, returns only the
            users that are allowed to join the channel or team based on its
            group constrains.
          schema:
            type: boolean
        - name: without_team
          in: query
          description: >-
            Whether or not to list users that are not on any team. This option
            takes precendence over `in_team`, `in_channel`, and
            `not_in_channel`.
          schema:
            type: boolean
        - name: active
          in: query
          description: >-
            Whether or not to list only users that are active. This option
            cannot be used along with the `inactive` option.
          schema:
            type: boolean
        - name: inactive
          in: query
          description: >-
            Whether or not to list only users that are deactivated. This option
            cannot be used along with the `active` option.
          schema:
            type: boolean
        - name: role
          in: query
          description: Returns users that have this role.
          schema:
            type: string
        - name: sort
          in: query
          description: >
            Sort is only available in conjunction with certain options below.
            The paging parameter is also always available.


            ##### `in_team`

            Can be "", "last_activity_at" or "create_at".

            When left blank, sorting is done by username.

            ##### `in_channel`

            Can be "", "status".

            When left blank, sorting is done by username. `status` will sort by
            User's current status (Online, Away, DND, Offline), then by
            Username.
          schema:
            type: string
        - name: roles
          in: query
          description: >+
            Comma separated string used to filter users based on any of the
            specified system roles


            Example: `?roles=system_admin,system_user` will return users that
            are either system admins or system users

          schema:
            type: string
        - name: channel_roles
          in: query
          description: >+
            Comma separated string used to filter users based on any of the
            specified channel roles, can only be used in conjunction with
            `in_channel`


            Example:
            `?in_channel=4eb6axxw7fg3je5iyasnfudc5y&channel_roles=channel_user`
            will return users that are only channel users and not admins or
            guests

          schema:
            type: string
        - name: team_roles
          in: query
          description: >+
            Comma separated string used to filter users based on any of the
            specified team roles, can only be used in conjunction with `in_team`


            Example: `?in_team=4eb6axxw7fg3je5iyasnfudc5y&team_roles=team_user`
            will return users that are only team users and not admins or guests

          schema:
            type: string
      responses:
        '200':
          description: User page retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /users/ids:
    post:
      tags:
        - users
      summary: Get users by ids
      description: |
        Get a list of users based on a provided list of user ids.
        ##### Permissions
        Requires an active session but no other permissions.
      operationId: GetUsersByIds
      parameters:
        - name: since
          in: query
          description: >+
            Only return users that have been modified since the given Unix
            timestamp (in milliseconds).

          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        description: List of user ids
        required: true
      responses:
        '200':
          description: User list retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/group_channels:
    post:
      tags:
        - users
      summary: Get users by group channels ids
      description: |+
        Get an object containing a key per group channel id in the
        query and its value as a list of users members of that group
        channel.

        The user must be a member of the group ids in the query, or
        they will be omitted from the response.
        ##### Permissions
        Requires an active session but no other permissions.

      operationId: GetUsersByGroupChannelIds
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        description: List of group channel ids
        required: true
      responses:
        '200':
          description: User list retrieval successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  <CHANNEL_ID>:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/usernames:
    post:
      tags:
        - users
      summary: Get users by usernames
      description: |
        Get a list of users based on a provided list of usernames.
        ##### Permissions
        Requires an active session but no other permissions.
      operationId: GetUsersByUsernames
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        description: List of usernames
        required: true
      responses:
        '200':
          description: User list retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/search:
    post:
      tags:
        - users
      summary: Search users
      description: >
        Get a list of users based on search criteria provided in the request
        body. Searches are typically done against username, full name, nickname
        and email unless otherwise configured by the server.

        ##### Permissions

        Requires an active session and `read_channel` and/or `view_team`
        permissions for any channels or teams specified in the request body.
      operationId: SearchUsers
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - term
              properties:
                term:
                  description: >-
                    The term to match against username, full name, nickname and
                    email
                  type: string
                team_id:
                  description: If provided, only search users on this team
                  type: string
                not_in_team_id:
                  description: If provided, only search users not on this team
                  type: string
                in_channel_id:
                  description: If provided, only search users in this channel
                  type: string
                not_in_channel_id:
                  description: >-
                    If provided, only search users not in this channel. Must
                    specifiy `team_id` when using this option
                  type: string
                in_group_id:
                  description: >-
                    If provided, only search users in this group. Must have
                    `manage_system` permission.
                  type: string
                group_constrained:
                  description: >-
                    When used with `not_in_channel_id` or `not_in_team_id`,
                    returns only the users that are allowed to join the channel
                    or team based on its group constrains.
                  type: boolean
                allow_inactive:
                  description: When `true`, include deactivated users in the results
                  type: boolean
                without_team:
                  type: boolean
                  description: >-
                    Set this to `true` if you would like to search for users
                    that are not on a team. This option takes precendence over
                    `team_id`, `in_channel_id`, and `not_in_channel_id`.
                limit:
                  description: |
                    The maximum number of users to return in the results

                    __Defaults to `100` if not provided.__
                  type: integer
                  default: 100
        description: Search criteria
        required: true
      responses:
        '200':
          description: User list retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /users/autocomplete:
    get:
      tags:
        - users
      summary: Autocomplete users
      description: >
        Get a list of users for the purpose of autocompleting based on the
        provided search term. Specify a combination of `team_id` and
        `channel_id` to filter results further.

        ##### Permissions

        Requires an active session and `view_team` and `read_channel` on any
        teams or channels used to filter the results further.
      operationId: AutocompleteUsers
      parameters:
        - name: team_id
          in: query
          description: Team ID
          schema:
            type: string
        - name: channel_id
          in: query
          description: Channel ID
          schema:
            type: string
        - name: name
          in: query
          description: Username, nickname first name or last name
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: |
            The maximum number of users to return in each subresult

            __Defaults to `100` if not provided.__
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: User autocomplete successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAutocomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /users/{user_id}:
    get:
      tags:
        - users
      summary: Get a user
      description: |
        Get a user a object. Sensitive information will be sanitized out.
        ##### Permissions
        Requires an active session but no other permissions.
      operationId: GetUser
      parameters:
        - name: user_id
          in: path
          description: >-
            User GUID. This can also be "me" which will point to the current
            user.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User retrieval successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/patch:
    put:
      tags:
        - users
      summary: Patch a user
      description: >
        Partially update a user by providing only the fields you want to update.
        Omitted fields will not be updated. The fields that can be updated are
        defined in the request body, all other provided fields will be ignored.

        ##### Permissions

        Must be logged in as the user being updated or have the
        `edit_other_users` permission.
      operationId: PatchUser
      parameters:
        - name: user_id
          in: path
          description: User GUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                username:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
                nickname:
                  type: string
                locale:
                  type: string
                position:
                  type: string
                props:
                  type: object
                notify_props:
                  $ref: '#/components/schemas/UserNotifyProps'
        description: User object that is to be updated
        required: true
      responses:
        '200':
          description: User patch successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /users/{user_id}/roles:
    put:
      tags:
        - users
      summary: Update a user's roles
      description: >
        Update a user's system-level roles. Valid user roles are "system_user",
        "system_admin" or both of them. Overwrites any previously assigned
        system-level roles.

        ##### Permissions

        Must have the `manage_roles` permission.
      operationId: UpdateUserRoles
      parameters:
        - name: user_id
          in: path
          description: User GUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - roles
              properties:
                roles:
                  type: string
        description: Space-delimited system roles to assign to the user
        required: true
      responses:
        '200':
          description: User roles update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /users/{user_id}/image:
    get:
      tags:
        - users
      summary: Get user's profile image
      description: |
        Get a user's profile image based on user_id string parameter.
        ##### Permissions
        Must be logged in.
      operationId: GetProfileImage
      parameters:
        - name: user_id
          in: path
          description: User GUID
          required: true
          schema:
            type: string
        - name: _
          in: query
          description: >-
            Not used by the server. Clients can pass in the last picture update
            time of the user to potentially take advantage of caching
          required: false
          schema:
            type: number
      responses:
        '200':
          description: User's profile image
          content:
            image/png:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '501':
          $ref: '#/components/responses/NotImplemented'
  /users/{user_id}/image/default:
    get:
      tags:
        - users
      summary: Return user's default (generated) profile image
      description: >
        Returns the default (generated) user profile image based on user_id
        string parameter.

        ##### Permissions

        Must be logged in.
      operationId: GetDefaultProfileImage
      parameters:
        - name: user_id
          in: path
          description: User GUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Default profile image
          content:
            image/png:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '501':
          $ref: '#/components/responses/NotImplemented'
  /users/username/{username}:
    get:
      tags:
        - users
      summary: Get a user by username
      description: >
        Get a user object by providing a username. Sensitive information will be
        sanitized out.

        ##### Permissions

        Requires an active session but no other permissions.
      operationId: GetUserByUsername
      parameters:
        - name: username
          in: path
          description: Username
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User retrieval successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/email/{email}:
    get:
      tags:
        - users
      summary: Get a user by email
      description: >
        Get a user object by providing a user email. Sensitive information will
        be sanitized out.

        ##### Permissions

        Requires an active session and for the current session to be able to
        view another user's email based on the server's privacy settings.
      operationId: GetUserByEmail
      parameters:
        - name: email
          in: path
          description: User Email
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User retrieval successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/channel_members:
    get:
      tags:
        - users
      summary: Get all channel members for a user
      description: |
        Get all channel members for a user.

        ##### Permissions
        Logged in as the user, or have `edit_other_users` permission.
      operationId: GetChannelMembersWithTeamDataForUser
      parameters:
        - name: user_id
          in: path
          description: >-
            The ID of the user. This can also be "me" which will point to the
            current user.
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Page specifies which part of the results to return, by PageSize.
          required: false
          schema:
            type: integer
        - name: pageSize
          in: query
          description: PageSize specifies the size of the returned chunk of results.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: User's uploads retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChannelMemberWithTeamData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/teams/{team_id}/threads:
    get:
      tags:
        - threads
      summary: Get all threads that user is following
      description: |
        Get all threads that user is following


        ##### Permissions
        Must be logged in as the user or have `edit_other_users` permission.
      operationId: GetUserThreads
      parameters:
        - name: user_id
          in: path
          description: >-
            The ID of the user. This can also be "me" which will point to the
            current user.
          required: true
          schema:
            type: string
        - name: team_id
          in: path
          description: The ID of the team in which the thread is.
          required: true
          schema:
            type: string
        - name: since
          in: query
          description: Since filters the threads based on their LastUpdateAt timestamp.
          required: false
          schema:
            type: integer
        - name: deleted
          in: query
          description: >-
            Deleted will specify that even deleted threads should be returned
            (For mobile sync).
          required: false
          schema:
            type: boolean
            default: false
        - name: extended
          in: query
          description: Extended will enrich the response with participant details.
          required: false
          schema:
            type: boolean
            default: false
        - name: page
          in: query
          description: Page specifies which part of the results to return, by PageSize.
          required: false
          schema:
            type: integer
            default: 0
        - name: pageSize
          in: query
          description: PageSize specifies the size of the returned chunk of results.
          required: false
          schema:
            default: 30
            type: integer
        - name: totalsOnly
          in: query
          description: Setting this to true will only return the total counts.
          required: false
          schema:
            type: boolean
            default: false
        - name: threadsOnly
          in: query
          description: Setting this to true will only return threads.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: User's thread retrieval successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserThreads'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/teams/{team_id}/threads/read:
    put:
      tags:
        - threads
      summary: Mark all threads that user is following as read
      description: |
        Mark all threads that user is following as read


        ##### Permissions
        Must be logged in as the user or have `edit_other_users` permission.
      operationId: UpdateThreadsReadForUser
      parameters:
        - name: user_id
          in: path
          description: >-
            The ID of the user. This can also be "me" which will point to the
            current user.
          required: true
          schema:
            type: string
        - name: team_id
          in: path
          description: The ID of the team in which the thread is.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User's thread update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/teams/{team_id}/threads/{thread_id}/read/{timestamp}:
    put:
      tags:
        - threads
      summary: Mark a thread that user is following read state to the timestamp
      description: |
        Mark a thread that user is following as read


        ##### Permissions
        Must be logged in as the user or have `edit_other_users` permission.
      operationId: UpdateThreadReadForUser
      parameters:
        - name: user_id
          in: path
          description: >-
            The ID of the user. This can also be "me" which will point to the
            current user.
          required: true
          schema:
            type: string
        - name: team_id
          in: path
          description: The ID of the team in which the thread is.
          required: true
          schema:
            type: string
        - name: thread_id
          in: path
          description: The ID of the thread to update
          required: true
          schema:
            type: string
        - name: timestamp
          in: path
          description: The timestamp to which the thread's "last read" state will be reset.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User's thread update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserThread'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/teams/{team_id}/threads/{thread_id}/set_unread/{post_id}:
    put:
      tags:
        - threads
      summary: Mark a thread that user is following as unread based on a post id
      description: >
        Mark a thread that user is following as unread


        ##### Permissions

        Must have `read_channel` permission for the channel the thread is in or
        if the channel is public, have the `read_public_channels` permission for
        the team.


        Must have `edit_other_users` permission if the user is not the one
        marking the thread for himself.
      operationId: SetThreadUnreadByPostId
      parameters:
        - name: user_id
          in: path
          description: >-
            The ID of the user. This can also be "me" which will point to the
            current user.
          required: true
          schema:
            type: string
        - name: team_id
          in: path
          description: The ID of the team in which the thread is.
          required: true
          schema:
            type: string
        - name: thread_id
          in: path
          description: The ID of the thread to update
          required: true
          schema:
            type: string
        - name: post_id
          in: path
          description: The ID of a post belonging to the thread to mark as unread.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User's thread update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserThread'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/teams/{team_id}/threads/{thread_id}/following:
    put:
      tags:
        - threads
      summary: Start following a thread
      description: |
        Start following a thread


        ##### Permissions
        Must be logged in as the user or have `edit_other_users` permission.
      operationId: StartFollowingThread
      parameters:
        - name: user_id
          in: path
          description: >-
            The ID of the user. This can also be "me" which will point to the
            current user.
          required: true
          schema:
            type: string
        - name: team_id
          in: path
          description: The ID of the team in which the thread is.
          required: true
          schema:
            type: string
        - name: thread_id
          in: path
          description: The ID of the thread to follow
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User's thread update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - threads
      summary: Stop following a thread
      description: |
        Stop following a thread


        ##### Permissions
        Must be logged in as the user or have `edit_other_users` permission.
      operationId: StopFollowingThread
      parameters:
        - name: user_id
          in: path
          description: >-
            The ID of the user. This can also be "me" which will point to the
            current user.
          required: true
          schema:
            type: string
        - name: team_id
          in: path
          description: The ID of the team in which the thread is.
          required: true
          schema:
            type: string
        - name: thread_id
          in: path
          description: The ID of the thread to update
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User's thread update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/teams/{team_id}/threads/{thread_id}:
    get:
      tags:
        - threads
      summary: Get a thread followed by the user
      description: |
        Get a thread


        ##### Permissions
        Must be logged in as the user or have `edit_other_users` permission.
      operationId: GetUserThread
      parameters:
        - name: user_id
          in: path
          description: >-
            The ID of the user. This can also be "me" which will point to the
            current user.
          required: true
          schema:
            type: string
        - name: team_id
          in: path
          description: The ID of the team in which the thread is.
          required: true
          schema:
            type: string
        - name: thread_id
          in: path
          description: The ID of the thread to follow
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Get was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserThread'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/status:
    get:
      tags:
        - status
      summary: Get user status
      description: |
        Get user status by id from the server.
        ##### Permissions
        Must be authenticated.
      operationId: GetUserStatus
      parameters:
        - name: user_id
          in: path
          description: User ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User status retrieval successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags:
        - status
      summary: Update user status
      description: >
        Manually set a user's status. When setting a user's status, the status
        will remain that value until set "online" again, which will return the
        status to being automatically updated based on user activity.

        ##### Permissions

        Must have `edit_other_users` permission for the team.
      operationId: UpdateUserStatus
      parameters:
        - name: user_id
          in: path
          description: User ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - status
                - user_id
              properties:
                user_id:
                  type: string
                  description: User ID
                status:
                  type: string
                  description: User status, can be `online`, `away`, `offline` and `dnd`
                dnd_end_time:
                  type: integer
                  description: Time in epoch seconds at which a dnd status would be unset.
        description: Status object that is to be updated
        required: true
      responses:
        '200':
          description: User status update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/status/ids:
    post:
      tags:
        - status
      summary: Get user statuses by id
      description: |
        Get a list of user statuses by id from the server.
        ##### Permissions
        Must be authenticated.
      operationId: GetUsersStatusesByIds
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        description: List of user ids to fetch
        required: true
      responses:
        '200':
          description: User statuses retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/{user_id}/status/custom:
    put:
      tags:
        - status
      summary: Update user custom status
      description: >
        Updates a user's custom status by setting the value in the user's props
        and updates the user. Also save the given custom status to the recent
        custom statuses in the user's props

        ##### Permissions

        Must be logged in as the user whose custom status is being updated.
      operationId: UpdateUserCustomStatus
      parameters:
        - name: user_id
          in: path
          description: User ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - emoji
                - text
              properties:
                emoji:
                  type: string
                  description: Any emoji
                text:
                  type: string
                  description: Any custom status text
                duration:
                  type: string
                  description: >-
                    Duration of custom status, can be `thirty_minutes`,
                    `one_hour`, `four_hours`, `today`, `this_week` or
                    `date_and_time`
                expires_at:
                  type: string
                  description: >-
                    The time at which custom status should be expired. It should
                    be in ISO format.
        description: Custom status object that is to be updated
        required: true
      responses:
        '200':
          description: User custom status update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags:
        - status
      summary: Unsets user custom status
      description: >
        Unsets a user's custom status by updating the user's props and updates
        the user

        ##### Permissions

        Must be logged in as the user whose custom status is being removed.
      operationId: UnsetUserCustomStatus
      parameters:
        - name: user_id
          in: path
          description: User ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User custom status delete successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/{user_id}/status/custom/recent/delete:
    post:
      tags:
        - status
      summary: Delete user's recent custom status
      description: >
        Deletes a user's recent custom status by removing the specific status
        from the recentCustomStatuses in the user's props and updates the user.

        ##### Permissions

        Must be logged in as the user whose recent custom status is being
        deleted.
      operationId: PostUserRecentCustomStatusDelete
      parameters:
        - name: user_id
          in: path
          description: User ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - emoji
                - text
                - duration
                - expires_at
              properties:
                emoji:
                  type: string
                  description: Any emoji
                text:
                  type: string
                  description: Any custom status text
                duration:
                  type: string
                  description: >-
                    Duration of custom status, can be `thirty_minutes`,
                    `one_hour`, `four_hours`, `today`, `this_week` or
                    `date_and_time`
                expires_at:
                  type: string
                  description: >-
                    The time at which custom status should be expired. It should
                    be in ISO format.
        description: >-
          Custom Status object that is to be removed from the recent custom
          statuses.
        required: true
      responses:
        '200':
          description: User recent custom status delete successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /teams:
    get:
      tags:
        - teams
      summary: Get teams
      description: >
        For regular users only returns open teams. Users with the
        "manage_system" permission will return teams regardless of type. The
        result is based on query string parameters - page and per_page.

        ##### Permissions

        Must be authenticated.
      operationId: GetAllTeams
      parameters:
        - name: page
          in: query
          description: The page to select.
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: The number of teams per page.
          schema:
            type: integer
            default: 60
        - name: include_total_count
          description: >-
            Appends a total count of returned teams inside the response object -
            ex: `{ "teams": [], "total_count" : 0 }`.      
          in: query
          schema:
            type: boolean
            default: false
        - name: exclude_policy_constrained
          in: query
          schema:
            type: boolean
            default: false
          description: >
            If set to true, teams which are part of a data retention policy will
            be excluded. The `sysconsole_read_compliance` permission is required
            to use this parameter.
      responses:
        '200':
          description: Team list retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /teams/{team_id}:
    get:
      tags:
        - teams
      summary: Get a team
      description: |
        Get a team on the system.
        ##### Permissions
        Must be authenticated and have the `view_team` permission.
      operationId: GetTeam
      parameters:
        - name: team_id
          in: path
          description: Team GUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Team retrieval successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /teams/name/{name}:
    get:
      tags:
        - teams
      summary: Get a team by name
      description: >
        Get a team based on provided name string

        ##### Permissions

        Must be authenticated, team type is open and have the `view_team`
        permission.
      operationId: GetTeamByName
      parameters:
        - name: name
          in: path
          description: Team Name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Team retrieval successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/teams:
    get:
      tags:
        - teams
      summary: Get a user's teams
      description: >
        Get a list of teams that a user is on.

        ##### Permissions

        Must be authenticated as the user or have the `manage_system`
        permission.
      operationId: GetTeamsForUser
      parameters:
        - name: user_id
          in: path
          description: User GUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Team list retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /teams/{team_id}/members:
    get:
      tags:
        - teams
      summary: Get team members
      description: >
        Get a page team members list based on query string parameters - team id,
        page and per page.

        ##### Permissions

        Must be authenticated and have the `view_team` permission.
      operationId: GetTeamMembers
      parameters:
        - name: team_id
          in: path
          description: Team GUID
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: The page to select.
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: The number of users per page.
          schema:
            type: integer
            default: 60
      responses:
        '200':
          description: Team members retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/teams/members:
    get:
      tags:
        - teams
      summary: Get team members for a user
      description: >
        Get a list of team members for a user. Useful for getting the ids of
        teams the user is on and the roles they have in those teams.

        ##### Permissions

        Must be logged in as the user or have the `edit_other_users` permission.
      operationId: GetTeamMembersForUser
      parameters:
        - name: user_id
          in: path
          description: User GUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Team members retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /teams/{team_id}/members/{user_id}:
    get:
      tags:
        - teams
      summary: Get a team member
      description: |
        Get a team member on the system.
        ##### Permissions
        Must be authenticated and have the `view_team` permission.
      operationId: GetTeamMember
      parameters:
        - name: team_id
          in: path
          description: Team GUID
          required: true
          schema:
            type: string
        - name: user_id
          in: path
          description: User GUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Team member retrieval successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /teams/{team_id}/members/ids:
    post:
      tags:
        - teams
      summary: Get team members by ids
      description: |
        Get a list of team members based on a provided array of user ids.
        ##### Permissions
        Must have `view_team` permission for the team.
      operationId: GetTeamMembersByIds
      parameters:
        - name: team_id
          in: path
          description: Team GUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        description: List of user ids
        required: true
      responses:
        '200':
          description: Team members retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /teams/{team_id}/stats:
    get:
      tags:
        - teams
      summary: Get a team stats
      description: |
        Get a team stats on the system.
        ##### Permissions
        Must be authenticated and have the `view_team` permission.
      operationId: GetTeamStats
      parameters:
        - name: team_id
          in: path
          description: Team GUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Team stats retrieval successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamStats'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /teams/{team_id}/members/{user_id}/roles:
    put:
      tags:
        - teams
      summary: Update a team member roles
      description: >
        Update a team member roles. Valid team roles are "team_user",
        "team_admin" or both of them. Overwrites any previously assigned team
        roles.

        ##### Permissions

        Must be authenticated and have the `manage_team_roles` permission.
      operationId: UpdateTeamMemberRoles
      parameters:
        - name: team_id
          in: path
          description: Team GUID
          required: true
          schema:
            type: string
        - name: user_id
          in: path
          description: User GUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - roles
              properties:
                roles:
                  type: string
        description: Space-delimited team roles to assign to the user
        required: true
      responses:
        '200':
          description: Team member roles update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{user_id}/teams/unread:
    get:
      tags:
        - teams
      summary: Get team unreads for a user
      description: >
        Get the count for unread messages and mentions in the teams the user is
        a member of.

        ##### Permissions

        Must be logged in.
      operationId: GetTeamsUnreadForUser
      parameters:
        - name: user_id
          in: path
          description: User GUID
          required: true
          schema:
            type: string
        - name: exclude_team
          in: query
          description: Optional team id to be excluded from the results
          required: true
          schema:
            type: string
        - name: include_collapsed_threads
          in: query
          description: >-
            Boolean to determine whether the collapsed threads should be
            included or not
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Team unreads retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamUnread'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /users/{user_id}/teams/{team_id}/unread:
    get:
      tags:
        - teams
      summary: Get unreads for a team
      description: >
        Get the unread mention and message counts for a team for the specified
        user.

        ##### Permissions

        Must be the user or have `edit_other_users` permission and have
        `view_team` permission for the team.
      operationId: GetTeamUnread
      parameters:
        - name: user_id
          in: path
          description: User GUID
          required: true
          schema:
            type: string
        - name: team_id
          in: path
          description: Team GUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Team unread count retrieval successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamUnread'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /teams/{team_id}/invite-guests/email:
    post:
      tags:
        - teams
      summary: Invite guests to the team by email
      description: >
        Invite guests to existing team channels usign the user's email.


        The number of emails that can be sent is rate limited to 20 per hour
        with a burst of 20 emails. If the rate limit exceeds, the error message
        contains details on when to retry and when the timer will be reset.


        ##### Permissions

        Must have `invite_guest` permission for the team.
      operationId: InviteGuestsToTeam
      parameters:
        - name: team_id
          in: path
          description: Team GUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - emails
                - channels
              properties:
                emails:
                  type: array
                  items:
                    type: string
                  description: List of emails
                channels:
                  type: array
                  items:
                    type: string
                  description: List of channel ids
                message:
                  type: string
                  description: Message to include in the invite
        description: Guests invite information
        required: true
      responses:
        '200':
          description: Guests invite successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/TooLarge'
  /channels:
    get:
      tags:
        - channels
      summary: Get a list of all channels
      description: |
        ##### Permissions
        `manage_system`
      operationId: GetAllChannels
      parameters:
        - name: not_associated_to_group
          in: query
          description: >-
            A group id to exclude channels that are associated with that group
            via GroupChannel records. This can also be left blank with
            `not_associated_to_group=`.
          schema:
            type: string
        - name: page
          in: query
          description: The page to select.
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: The number of channels per page.
          schema:
            type: integer
            default: 0
        - name: exclude_default_channels
          in: query
          description: >-
            Whether to exclude default channels (ex Town Square, Off-Topic) from
            the results.
          schema:
            type: boolean
            default: false
        - name: include_deleted
          in: query
          description: >-
            Include channels that have been archived. This correlates to the
            `DeleteAt` flag being set in the database.
          schema:
            type: boolean
            default: false
        - name: include_total_count
          in: query
          description: >-
            Appends a total count of returned channels inside the response
            object - ex: `{ "channels": [], "total_count" : 0 }`.      
          schema:
            type: boolean
            default: false
        - name: exclude_policy_constrained
          in: query
          schema:
            type: boolean
            default: false
          description: >
            If set to true, channels which are part of a data retention policy
            will be excluded. The `sysconsole_read_compliance` permission is
            required to use this parameter.
      responses:
        '200':
          description: Channel list retrieval successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListWithTeamData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - channels
      summary: Create a channel
      description: >
        Create a new channel.

        ##### Permissions

        If creating a public channel, `create_public_channel` permission is
        required. If creating a private channel, `create_private_channel`
        permission is required.
      operationId: CreateChannel
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - display_name
                - type
                - team_id
              properties:
                team_id:
                  type: string
                  description: The team ID of the team to create the channel on
                name:
                  type: string
                  description: >-
                    The unique handle for the channel, will be present in the
                    channel URL
                display_name:
                  type: string
                  description: The non-unique UI name for the channel
                purpose:
                  type: string
                  description: A short description of the purpose of the channel
                header:
                  type: string
                  description: >-
                    Markdown-formatted text to display in the header of the
                    channel
                type:
                  type: string
                  description: '''O'' for a public channel, ''P'' for a private channel'
        description: Channel object to be created
        required: true
      responses:
        '201':
          description: Channel creation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /channels/direct:
    post:
      tags:
        - channels
      summary: Create a direct message channel
      description: >
        Create a new direct message channel between two users.

        ##### Permissions

        Must be one of the two users and have `create_direct_channel`
        permission. Having the `manage_system` permission voids the previous
        requirements.
      operationId: CreateDirectChannel
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
              minItems: 2
              maxItems: 2
        description: The two user ids to be in the direct message
        required: true
      responses:
        '201':
          description: Direct channel creation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /channels/group:
    post:
      tags:
        - channels
      summary: Create a group message channel
      description: >
        Create a new group message channel to group of users. If the logged in
        user's id is not included in the list, it will be appended to the end.

        ##### Permissions

        Must have `create_group_channel` permission.
      operationId: CreateGroupChannel
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        description: User ids to be in the group message channel
        required: true
      responses:
        '201':
          description: Group channel creation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /channels/search:
    post:
      tags:
        - channels
      summary: Search all private and open type channels
      description: >
        Returns all private and open type channels where 'term' matches on the
        name, display name, or purpose of

        the channel.


        Configured 'default' channels (ex Town Square and Off-Topic) can be
        excluded from the results

        with the `exclude_default_channels` boolean parameter.


        Channels that are associated (via GroupChannel records) to a given group
        can be excluded from the results

        with the `not_associated_to_group` parameter and a group id string.
      operationId: SearchAllChannels
      parameters:
        - name: system_console
          in: query
          description: >
            Is the request from system_console. If this is set to true, it
            filters channels by the logged in user.
          required: false
          schema:
            type: boolean
            default: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - term
              properties:
                term:
                  type: string
                  description: >-
                    The string to search in the channel name, display name, and
                    purpose.
                not_associated_to_group:
                  type: string
                  description: >-
                    A group id to exclude channels that are associated to that
                    group via GroupChannel records.
                exclude_default_channels:
                  type: boolean
                  description: >-
                    Exclude default channels from the results by setting this
                    parameter to true.
                team_ids:
                  type: array
                  items:
                    type: string
                  description: |+
                    Filters results to channels belonging to the given team ids

                group_constrained:
                  type: boolean
                  description: >+
                    Filters results to only return channels constrained to a
                    group

                exclude_group_constrained:
                  type: boolean
                  description: |+
                    Filters results to exclude channels constrained to a group

                public:
                  type: boolean
                  description: >+
                    Filters results to only return Public / Open channels, can
                    be used in conjunction with `private` to return both
                    `public` and `private` channels

                private:
                  type: boolean
                  description: >+
                    Filters results to only return Private channels, can be used
                    in conjunction with `public` to return both `private` and
                    `public` channels

                deleted:
                  type: boolean
                  description: |+
                    Filters results to only return deleted / archived channels

                page:
                  type: string
                  description: >-
                    The page number to return, if paginated. If this parameter
                    is not present with the `per_page` parameter then the
                    results will be returned un-paged.
                per_page:
                  type: string
                  description: >-
                    The number of entries to return per page, if paginated. If
                    this parameter is not present with the `page` parameter then
                    the results will be returned un-paged.
                exclude_policy_constrained:
                  type: boolean
                  default: false
                  description: >+
                    If set to true, only channels which do not have a granular
                    retention policy assigned to them will be returned. The
                    `sysconsole_read_compliance_data_retention` permission is
                    required to use this parameter.

                include_search_by_id:
                  type: boolean
                  default: false
                  description: >+
                    If set to true, returns channels where given search 'term'
                    matches channel ID.

        description: The search terms and logic to use in the search.
        required: true
      responses:
        '200':
          description: >-
            Paginated channel response. (Note that the non-paginated
            response—returned if the request body does not contain both `page`
            and `per_page` fields—is a simple array of channels.)
          content:
            application/json:
              schema:
                type: object
                properties:
                  channels:
                    type: array
                    description: The channels that matched the query.
                    items:
                      $ref: '#/components/schemas/Channel'
                  total_count:
                    type: number
                    description: >-
                      The total number of results, regardless of page and
                      per_page requested.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /channels/group/search:
    post:
      tags:
        - channels
      summary: Search Group Channels
      description: >+
        Get a list of group channels for a user which members' usernames match
        the search term.

      operationId: SearchGroupChannels
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - term
              properties:
                term:
                  description: >-
                    The search term to match against the members' usernames of
                    the group channels
                  type: string
        description: Search criteria
        required: true
      responses:
        '200':
          description: Channels search successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /teams/{team_id}/channels/ids:
    post:
      tags:
        - channels
      summary: Get a list of channels by ids
      description: |
        Get a list of public channels on a team by id.
        ##### Permissions
        `view_team` for the team the channels are on.
      operationId: GetPublicChannelsByIdsForTeam
      parameters:
        - name: team_id
          in: path
          description: Team GUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        description: List of channel ids
        required: true
      responses:
        '200':
          description: Channel list retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /channels/{channel_id}:
    get:
      tags:
        - channels
      summary: Get a channel
      description: |
        Get channel from the provided channel id string.
        ##### Permissions
        `read_channel` permission for the channel.
      operationId: GetChannel
      parameters:
        - name: channel_id
          in: path
          description: Channel GUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Channel retrieval successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - channels
      summary: Update a channel
      description: >
        Update a channel. The fields that can be updated are listed as
        parameters. Omitted fields will be treated as blanks.

        ##### Permissions

        If updating a public channel, `manage_public_channel_members` permission
        is required. If updating a private channel,
        `manage_private_channel_members` permission is required.
      operationId: UpdateChannel
      parameters:
        - name: channel_id
          in: path
          description: Channel GUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: The channel's id, not updatable
                name:
                  type: string
                  description: >-
                    The unique handle for the channel, will be present in the
                    channel URL
                display_name:
                  type: string
                  description: The non-unique UI name for the channel
                purpose:
                  type: string
                  description: A short description of the purpose of the channel
                header:
                  type: string
                  description: >-
                    Markdown-formatted text to display in the header of the
                    channel
        description: Channel object to be updated
        required: true
      responses:
        '200':
          description: Channel update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - channels
      summary: Delete a channel
      description: >
        Archives a channel. This will set the `deleteAt` to the current
        timestamp in the database. Soft deleted channels may not be accessible
        in the user interface. They can be viewed and unarchived in the **System
        Console > User Management > Channels** based on your license. Direct and
        group message channels cannot be deleted.


        ##### Permissions

        `delete_public_channel` permission if the channel is public,

        `delete_private_channel` permission if the channel is private,

        or have `manage_system` permission.
      operationId: DeleteChannel
      parameters:
        - name: channel_id
          in: path
          description: Channel GUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Channel deletion successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /channels/{channel_id}/patch:
    put:
      tags:
        - channels
      summary: Patch a channel
      description: >
        Partially update a channel by providing only the fields you want to
        update. Omitted fields will not be updated. The fields that can be
        updated are defined in the request body, all other provided fields will
        be ignored.

        ##### Permissions

        If updating a public channel, `manage_public_channel_members` permission
        is required. If updating a private channel,
        `manage_private_channel_members` permission is required.
      operationId: PatchChannel
      parameters:
        - name: channel_id
          in: path
          description: Channel GUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: >-
                    The unique handle for the channel, will be present in the
                    channel URL
                display_name:
                  type: string
                  description: The non-unique UI name for the channel
                purpose:
                  type: string
                  description: A short description of the purpose of the channel
                header:
                  type: string
                  description: >-
                    Markdown-formatted text to display in the header of the
                    channel
        description: Channel object to be updated
        required: true
      responses:
        '200':
          description: Channel patch successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /channels/{channel_id}/privacy:
    put:
      tags:
        - channels
      summary: Update channel's privacy
      description: >
        Updates channel's privacy allowing changing a channel from Public to
        Private and back.


        ##### Permissions

        `convert_public_channel_to_private` permission for the channel if
        updating privacy to 'P'. `convert_private_channel_to_public` permission
        for the channel if updating privacy to 'O'.
      operationId: UpdateChannelPrivacy
      parameters:
        - name: channel_id
          in: path
          description: Channel GUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - privacy
              properties:
                privacy:
                  type: string
                  description: >-
                    Channel privacy setting: 'O' for a public channel, 'P' for a
                    private channel
        required: true
      responses:
        '200':
          description: Channel conversion successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
[...]
