openapi: 3.0.3
info:
  description: This document describes the various API's for the Synchronoss Network
    Address Book Web Services. This API is a RESTful API which returns XML and WBXML
    objects. Developers must make sure to read and understand the backward compatibility
    requirements as described in the WSG Backward Compatibility document.
  title: Synchronoss Network Address Book Web Services API
  version: 1.0.0
servers:
- description: Web Service Gateway API
  url: https://wsg-vzw-nab-api01.api.synchronoss.net
paths:
  /wsg/public/nab/v1/group/{cloudOwnerID}/members:
    delete:
      description: "The owner of a shared cloud can call this api to remove accepted\
        \ members, and to cancel invites.\n\n When a member is removed from a shared\
        \ cloud, the group data are updated in NAB and GQM, then the cloud (media)\
        \ account is archived, and the NAB account status changed to ContactsOnly\
        \ (if wireless).\n\n To remove specific members from a group, the client must\
        \ call this api with a payload listing those members.\n\n To dismantle the\
        \ whole group, the client must call this api without any payload.\n\n Note:\
        \ this api usually removes members completely from the group data, but Family\
        \ Cloud is a special case, because we cannot cancel their entitlement to a\
        \ shared cloud in Verizon; hence if this api is used to removed a Family Cloud\
        \ user from a group, they will remain in the group data with status \"NotAccepted\"\
        \ \n\n Remove one or more members from a group\n\n Members who were enrolled,\
        \ or who have accepted their invite, can be removed; unaccepted invites can\
        \ be cancelled\n\n"
      parameters:
      - example: "15782943412"
        explode: false
        in: path
        name: cloudOwnerID
        required: true
        schema:
          type: string
        style: simple
      - example: Basic YVdOekxuQnZjblJoYkRwcFkzTmZZMnhwWlc1MFgybGs6aWNzX2NsaWVudF9wYXNzd29yZA==
        explode: false
        in: header
        name: X-F1-Client-Authorization
        required: false
        schema:
          type: string
        style: simple
      - description: userType can be MDN/CID/OTT
        example: Basic base64Encode(userType|ownerUserId:nabToken)
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: sncr.token
        explode: false
        in: header
        name: Authorization-domain
        required: false
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: Content
        required: false
        schema:
          type: string
        style: simple
      - example: HANDSET
        explode: false
        in: header
        name: X-Client-SNCR-Platform
        required: false
        schema:
          type: string
        style: simple
      - description: Not required if its SSO access
        example: "gzip, deflate"
        explode: false
        in: header
        name: accept-encoding
        required: false
        schema:
          type: string
        style: simple
      - description: Not required if its SSO access
        example: The version number of Client
        explode: false
        in: header
        name: x-sncr-client-version
        required: false
        schema:
          type: string
        style: simple
      - description: Can be guid
        example: uniq Id to represent the device
        explode: false
        in: header
        name: X-SNCR-app-id
        required: false
        schema:
          type: string
        style: simple
      - example: Basic MTU3ODI5NDMwNDc6QUhETU1qSi1XV3RKclFLS1RJQzhya24wYUlOd3d5X0h2VjFtTFk5dnhmdmpfUzNYYzEzN0NYM3hSSGxrdUtMaXJicG82Wk9GVS12cTF4bWJzTmNfQk9kSG1EdU1IWUpNRkk3eGdlX0xtaUYxbWhOR2lvaHZXTjVvTzUydjk2T0tmRF8zR2dPd1E2Y3VRVjlTOHF1RVd4VXZ0VFVGRDdUYVd2TGM0MDlIdHkzeDRtOUlHTWFfMXA0MDVTRXA0Q1QwQTIxVGgyVTljaFNJbkI5NnJEaTB6Mmd+
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example: "{\"members\":[{\"userId\":\"19986068231\",\"userType\":\"\
                MDN\",\"type\":\"owner\",\"status\":\"remove\"},{\"userId\":\"vdrivetest@gmail.com\"\
                ,\"userType\":\"EMAIL\",\"type\":\"member\",\"status\":\"cancelInvite\"\
                },{\"userId\":\"VZID001003\",\"userType\":\"CID\",\"type\":\"member\"\
                ,\"status\":\"remove\"},{\"userId\":\"b68668e7-c8f1-4bb0-9429-b9af0782e410\"\
                ,\"userType\":\"OTT\",\"type\":\"manager\",\"status\":\"remove\"}]}"
              type: string
        description: |
          These properties appear in the request body, to describe each group member being removed from a group

          | Name       | Required | Allowed Values                                                 | Description                                                                                                                                                                                                                                                                                                         |
          |------------|----------|----------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
          | userId     | Y        | (any VZW MDN) (any VZT CID) (any OTT GUID) (any email address) | The customer ID                                                                                                                                                                                                                                                                                                     |
          | userType   | Y        | "MDN" "CID" "OTT" "EMAIL"                                      | The customer ID type                                                                                                                                                                                                                                                                                                |
          | type       | Y        | "owner" "manager" "member"                                     | ??                                                                                                                                                                                                                                                                                                                  |
          | status     | Y        | "cancelInvite" "remove"                                        | An instruction for how to remove this member "cancelInvite": NAB will cancel the unaccepted invite(s); if an invitee tries to accept later, they will see an error "remove": NAB will remove the accepted / enrolled member(s), instantly freeing up seat(s) in the group, and archiving the given cloud account(s) |
          | attributes | N        | "*":"*"                                                        | Not used                                                                                                                                                                                                                                                                                                            |
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  status:
                    code: "4000"
                    msg: Success
                type: object
          description: Successful response
      security:
      - basicAuth: []
      summary: Delete Group Members 4
      tags:
      - default
      x-content-type: application/json
      x-accepts: application/json
    get:
      description: |-
        The owner of a shared cloud can call this api to list all its members.


        The owner of a shared cloud can also call this api (with an extra query param) to list MDNs on their VZ account, which are eligible to be added as members.
      parameters:
      - example: "15782943412"
        explode: false
        in: path
        name: cloudOwnerID
        required: true
        schema:
          type: string
        style: simple
      - example: Basic YVdOekxuQnZjblJoYkRwcFkzTmZZMnhwWlc1MFgybGs6aWNzX2NsaWVudF9wYXNzd29yZA==
        explode: false
        in: header
        name: X-F1-Client-Authorization
        required: false
        schema:
          type: string
        style: simple
      - description: userType can be MDN/CID/OTT
        example: Basic base64Encode(userType|ownerUserId:nabToken)
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: sncr.token
        explode: false
        in: header
        name: Authorization-domain
        required: false
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: Content
        required: false
        schema:
          type: string
        style: simple
      - example: HANDSET
        explode: false
        in: header
        name: X-Client-SNCR-Platform
        required: false
        schema:
          type: string
        style: simple
      - description: Not required if its SSO access
        example: "gzip, deflate"
        explode: false
        in: header
        name: accept-encoding
        required: false
        schema:
          type: string
        style: simple
      - description: Not required if its SSO access
        example: The version number of Client
        explode: false
        in: header
        name: x-sncr-client-version
        required: false
        schema:
          type: string
        style: simple
      - description: Can be guid
        example: uniq Id to represent the device
        explode: false
        in: header
        name: X-SNCR-app-id
        required: false
        schema:
          type: string
        style: simple
      - example: Basic MTU3ODI5NDMwNDc6QUhETU1qSi1XV3RKclFLS1RJQzhya24wYUlOd3d5X0h2VjFtTFk5dnhmdmpfUzNYYzEzN0NYM3hSSGxrdUtMaXJicG82Wk9GVS12cTF4bWJzTmNfQk9kSG1EdU1IWUpNRkk3eGdlX0xtaUYxbWhOR2lvaHZXTjVvTzUydjk2T0tmRF8zR2dPd1E2Y3VRVjlTOHF1RVd4VXZ0VFVGRDdUYVd2TGM0MDlIdHkzeDRtOUlHTWFfMXA0MDVTRXA0Q1QwQTIxVGgyVTljaFNJbkI5NnJEaTB6Mmd+
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  members:
                  - userId: "15782943412"
                    type: owner
                    status: Accepted
                    userType: MDN
                    attributes:
                      lcid: 686732e99f3c4a0da5aaba2a9324d11b
                      service.level: VD2
                      quota.used: "0"
                      display.name: "15782943412"
                  - userId: "15782943413"
                    type: member
                    status: Invited
                    userType: MDN
                    attributes:
                      lcid: f2d408df1e5a4ff3ac37d4968dc61aa7
                      service.level: VL9
                      display.name: user name
                      quota.used: "0"
                      display.name.alias: "15782943413"
                  status:
                    code: "4000"
                    msg: Success
                type: object
          description: |
            These properties appear in the response body, to describe each member in the group

            | Name       | Required | Allowed Values                                                 | Description                                                                                                                                                                                                                                 |
            |------------|----------|----------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
            | attributes | N        | "*":"*"                                                        | If the member has a nickname, it should appear as an attribute "display.name"                                                                                                                                                               |
            | status     | Y        | "Invited" "Accepted" "NotAccepted"                             | The status of the membership "Invited": NAB has sent an invite, but it has not yet been accepted "Accepted": either the invite was accepted, or the member was enrolled instantly; either way the member now has access to the shared cloud |
            | type       | Y        | "owner" "manager" "member"                                     | ??                                                                                                                                                                                                                                          |
            | userId     | Y        | (any VZW MDN) (any VZT CID) (any OTT GUID) (any email address) | The customer ID                                                                                                                                                                                                                             |
            | userType   | Y        | "MDN" "CID" "OTT" "EMAIL"                                      | The customer ID type                                                                                                                                                                                                                        |
        "400":
          content:
            application/json:
              examples:
                groupAccountNotFound:
                  value: |
                    {
                      "status": {
                        "code": "400",
                        "msg": "bad request"
                      }
                    }
          description: ""
        "403":
          content:
            application/json:
              examples:
                userIsNotAuthorizedToAccessData:
                  value: |
                    {
                      "status": {
                        "code": "4008",
                        "msg": "User is not authorized to access data"
                      }
                    }
          description: ""
        "404":
          content:
            application/json:
              examples:
                groupAccountNotFound:
                  value: |
                    {
                      "status": {
                        "code": "8000",
                        "msg": "Group Account not found"
                      }
                    }
                userNotFound:
                  value: |
                    {
                      "status": {
                        "code": "8010",
                        "msg": "user not found"
                      }
                    }
          description: ""
        "422":
          content:
            application/json:
              examples:
                jsonIsNotValid:
                  value: |
                    {
                      "status": {
                        "code": "8001",
                        "msg": "JSON is not valid"
                      }
                    }
                internalServerError:
                  value: |
                    {
                      "status": {
                        "code": "4001",
                        "msg": "Internal Server Error"
                      }
                    }
                mandatoryFieldsMissing:
                  value: |
                    {
                      "status": {
                        "code": "4011",
                        "msg": "Mandatory fields missing"
                      }
                    }
                invalidUserType:
                  value: |
                    {
                      "status": {
                        "code": "8011",
                        "msg": "invalid user type"
                      }
                    }
                unprocessableEntity:
                  value: |
                    {
                      "status": {
                        "code": "8012",
                        "msg": "unprocessable entity"
                      }
                    }
                invalidSearchParameter:
                  value: |
                    {
                      "status": {
                        "code": "4099",
                        "msg": "Invalid search parameter"
                      }
                    }
          description: ""
        "500":
          content:
            application/json:
              examples:
                internalServerError:
                  value: |
                    {
                      "status": {
                        "code": "5000",
                        "msg": "Internal Server Error"
                      }
                    }
          description: ""
      security:
      - basicAuth: []
      summary: Get Group members 2
      tags:
      - default
      x-accepts: application/json
    post:
      description: |-
        The owner of a shared cloud can call this api to add members instantly, if they are on the same VZ billing account; or to send invites to anyone, VZ customer or not. Add one or more members to a group.
        Members can be added instantly, or invited to join via email/SMS.
      parameters:
      - example: "15782943412"
        explode: false
        in: path
        name: cloudOwnerID
        required: true
        schema:
          type: string
        style: simple
      - example: Basic YVdOekxuQnZjblJoYkRwcFkzTmZZMnhwWlc1MFgybGs6aWNzX2NsaWVudF9wYXNzd29yZA==
        explode: false
        in: header
        name: X-F1-Client-Authorization
        required: false
        schema:
          type: string
        style: simple
      - description: userType can be MDN/CID/OTT
        example: Basic base64Encode(userType|ownerUserId:nabToken)
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: sncr.token
        explode: false
        in: header
        name: Authorization-domain
        required: false
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: Content
        required: false
        schema:
          type: string
        style: simple
      - example: HANDSET
        explode: false
        in: header
        name: X-Client-SNCR-Platform
        required: false
        schema:
          type: string
        style: simple
      - description: Not required if its SSO access
        example: "gzip, deflate"
        explode: false
        in: header
        name: accept-encoding
        required: false
        schema:
          type: string
        style: simple
      - description: Not required if its SSO access
        example: The version number of Client
        explode: false
        in: header
        name: x-sncr-client-version
        required: false
        schema:
          type: string
        style: simple
      - description: Can be guid
        example: uniq Id to represent the device
        explode: false
        in: header
        name: X-SNCR-app-id
        required: false
        schema:
          type: string
        style: simple
      - example: Basic MTU3ODI5NDMwNDc6QUhETU1qSi1XV3RKclFLS1RJQzhya24wYUlOd3d5X0h2VjFtTFk5dnhmdmpfUzNYYzEzN0NYM3hSSGxrdUtMaXJicG82Wk9GVS12cTF4bWJzTmNfQk9kSG1EdU1IWUpNRkk3eGdlX0xtaUYxbWhOR2lvaHZXTjVvTzUydjk2T0tmRF8zR2dPd1E2Y3VRVjlTOHF1RVd4VXZ0VFVGRDdUYVd2TGM0MDlIdHkzeDRtOUlHTWFfMXA0MDVTRXA0Q1QwQTIxVGgyVTljaFNJbkI5NnJEaTB6Mmd+
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example: "{\"members\":[{\"userId\":\"15782943413\",\"userType\":\"MDN\"\
              ,\"type\":\"member\",\"status\":\"Invite\",\"attributes\":{\"display.name\"\
              :\"user name\"}}]}"
            schema:
              type: string
        description: |
          These properties appear in the request body, to describe each group member being added to a group
          | Name       | Required | Allowed Values                    | Description                                                                                                                                                                                                                                                                                                                                                      |
          |------------|----------|-----------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
          | userType   | Y        | "MDN" "EMAIL"                     | The customer ID type                                                                                                                                                                                                                                                                                                                                             |
          | userId     | Y        | (any VZW MDN) (any email address) | The customer ID                                                                                                                                                                                                                                                                                                                                                  |
          | type       | Y        | "member"                          | ??                                                                                                                                                                                                                                                                                                                                                               |
          | status     | Y        | "invite" "enrollBillingMember"    | An instruction for how to add this member "invite": NAB will send an invitation to the given MDN or email address, to join the shared cloud group "enrollBillingMember": NAB will add the given MDN to the shared cloud group, instantly and without any invite or notification, provided they are in the same VZ billing account as the shared cloud subscriber |
          | attributes | N        | "*":"*"                           | Technically any name/value pairs can be added using this field, but in practice, it is used to assign the member a nickname via attribute "display.name"                                                                                                                                                                                                         |
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  members:
                  - userId: "15782943413"
                    type: member
                    status: Invited
                    userType: MDN
                    attributes:
                      display.name: user name
                  status:
                    code: "4000"
                    msg: Success
                type: object
          description: Successful response
        "404":
          content:
            application/json:
              examples:
                Group Account Not Found:
                  value: |-
                    {
                      "status": {
                        "code": "8000",
                        "msg": "Group Account not found"
                      }
                    }
                userNotFound:
                  value: |-
                    {
                              "status": {
                                "code": "8010",
                                "msg": "user not found"
                              }
                            }
          description: ""
        "412":
          content:
            application/json:
              examples:
                rpgAccountAlreadyExists:
                  value: |-
                    {
                              "status": {
                                "code": "8015",
                                "msg": "rpg account already exists in media, this member can't be enrolled"
                              }
                            }
          description: ""
        "422":
          content:
            application/json:
              examples:
                jsonIsNotValid:
                  value: |-
                    {
                              "status": {
                                "code": "8001",
                                "msg": "JSON is not valid"
                              }
                            }
                internalServerError:
                  value: |-
                    {
                              "status": {
                                "code": "4001",
                                "msg": "Internal Server Error"
                              }
                            }
                mandatoryFieldsMissing:
                  value: |-
                    {
                              "status": {
                                "code": "4011",
                                "msg": "Mandatory fields missing"
                              }
                            }
                oneOrMoreInviteesFailed:
                  value: |-
                    {
                      "status": {
                        "code": "8004",
                        "msg": "one or more invitees failed"
                      }
                    }
                invalidUserType:
                  value: |-
                    {
                      "status": {
                        "code": "8011",
                        "msg": "invalid user type"
                      }
                    }
                unprocessableEntity:
                  value: |-
                    {
                      "status": {
                        "code": "8012",
                        "msg": "unprocessable entity"
                      }
                    }
                addMemberToGroupFailed:
                  value: |-
                    {
                      "status": {
                        "code": "8013",
                        "msg": "add member to group failed"
                      }
                    }
                spgBillingFailed:
                  value: |-
                    {
                      "status": {
                        "code": "8014",
                        "msg": "spg billing failed"
                      }
                    }
                groupIsFull:
                  value: |-
                    {
                      "status": {
                        "code": "8016",
                        "msg": "group is full"
                      }
                    }
          description: ""
        "500":
          content:
            application/json:
              examples:
                internalServerError:
                  value: |-
                    {
                      "status": {
                        "code": "5000",
                        "msg": "Internal Server Error"
                      }
                    }
          description: ""
      security:
      - basicAuth: []
      summary: Post Group Members 1
      tags:
      - default
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: "The owner of a shared cloud can call this api to update one or\
        \ more of its members. Update members in a group \n\n The update can be one\
        \ of: \n\n\n* status=ReInvite: resend the invite \n\n * status=Update: update\
        \ the member's nickname (by setting attribute \"display.name\") \n\n * status=Enroll:\
        \ instantly enroll a new member (legacy logic for Family Cloud)"
      parameters:
      - example: "15782943412"
        explode: false
        in: path
        name: cloudOwnerID
        required: true
        schema:
          type: string
        style: simple
      - example: Basic YVdOekxuQnZjblJoYkRwcFkzTmZZMnhwWlc1MFgybGs6aWNzX2NsaWVudF9wYXNzd29yZA==
        explode: false
        in: header
        name: X-F1-Client-Authorization
        required: false
        schema:
          type: string
        style: simple
      - description: userType can be MDN/CID/OTT
        example: Basic base64Encode(userType|ownerUserId:nabToken)
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: sncr.token
        explode: false
        in: header
        name: Authorization-domain
        required: false
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: Content
        required: false
        schema:
          type: string
        style: simple
      - example: HANDSET
        explode: false
        in: header
        name: X-Client-SNCR-Platform
        required: false
        schema:
          type: string
        style: simple
      - description: Not required if its SSO access
        example: "gzip, deflate"
        explode: false
        in: header
        name: accept-encoding
        required: false
        schema:
          type: string
        style: simple
      - description: Not required if its SSO access
        example: The version number of Client
        explode: false
        in: header
        name: x-sncr-client-version
        required: false
        schema:
          type: string
        style: simple
      - description: Can be guid
        example: uniq Id to represent the device
        explode: false
        in: header
        name: X-SNCR-app-id
        required: false
        schema:
          type: string
        style: simple
      - example: Basic MTU3ODI5NDMwNDc6QUhETU1qSi1XV3RKclFLS1RJQzhya24wYUlOd3d5X0h2VjFtTFk5dnhmdmpfUzNYYzEzN0NYM3hSSGxrdUtMaXJicG82Wk9GVS12cTF4bWJzTmNfQk9kSG1EdU1IWUpNRkk3eGdlX0xtaUYxbWhOR2lvaHZXTjVvTzUydjk2T0tmRF8zR2dPd1E2Y3VRVjlTOHF1RVd4VXZ0VFVGRDdUYVd2TGM0MDlIdHkzeDRtOUlHTWFfMXA0MDVTRXA0Q1QwQTIxVGgyVTljaFNJbkI5NnJEaTB6Mmd+
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example: "{\"members\":[{\"userId\":\"15782943413\",\"userType\":\"\
                MDN\",\"type\":\"member\",\"status\":\"Update\",\"attributes\":{\"\
                display.name\":\"user name new\"}}]}"
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  members:
                  - userId: "15782943413"
                    type: member
                    status: Invited
                    userType: MDN
                    attributes:
                      lcid: f2d408df1e5a4ff3ac37d4968dc61aa7
                      service.level: VL9
                      display.name: user name new
                      quota.used: "0"
                  status:
                    code: "4000"
                    msg: Success
                type: object
          description: Successful response
        "404":
          content:
            application/json:
              examples:
                groupAccountNotFound:
                  value: |-
                    {
                              "status": {
                                "code": "8000",
                                "msg": "Group Account not found"
                              }
                            }
          description: ""
        "422":
          content:
            application/json:
              examples:
                jsonIsNotValid:
                  value: |-
                    {
                              "status": {
                                "code": "8001",
                                "msg": "JSON is not valid"
                              }
                            }
                internalServerError:
                  value: |-
                    {
                              "status": {
                                "code": "4001",
                                "msg": "Internal Server Error"
                              }
                            }
                mandatoryFieldsMissing:
                  value: |-
                    {
                      "status": {
                        "code": "4011",
                        "msg": "Mandatory fields missing"
                      }
                    }
                oneOrMoreInviteesFailed:
                  value: |-
                    {
                      "status": {
                        "code": "8004",
                        "msg": "one or more invitees failed"
                      }
                    }
          description: ""
        "500":
          content:
            application/json:
              examples:
                internalServerError:
                  value: |-
                    {
                      "status": {
                        "code": "5000",
                        "msg": "Internal Server Error"
                      }
                    }
          description: ""
      security:
      - basicAuth: []
      summary: Put Group Members 3
      tags:
      - default
      x-content-type: application/json
      x-accepts: application/json
  /wsg/public/nab/v1/familycloud/{userId}/members:
    delete:
      description: |+
        The owner can remove FamilyCloudAccepted member/all members from the group. Deleted member/members will be available in the NotAccepted list after removing.

         When Owner removes the member from the family cloud, member's media account will be archived and put into ContactsOnly mode and member entry will be removed from Media(Yet to decide API).

         To dismantle all the members from the family, the client should not send the payload. If payload exists then the members from payload will only be considered.

      parameters:
      - description: Owner Mdn
        example: "15782943414"
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - example: sncr.token
        explode: false
        in: header
        name: Authorization-domain
        required: false
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: Basic YVdOekxuQnZjblJoYkRwcFkzTmZZMnhwWlc1MFgybGs6aWNzX2NsaWVudF9wYXNzd29yZA==
        explode: false
        in: header
        name: X-F1-Client-Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: Basic MTU3ODI5NDMwODM6QUFTOU9YbVFEVkNSRmRjYktubUtjQnp3Q3ZHVTM1TGZxVkpqOFJxeF9nX2owLUR4aWNZMUd5WTJONmF5Y285T1lPUjVCX3JFckJHSGNHVHBXc0pKdUt4T01ubldOaG42NXdPR21lQzBpTk9jQmlhaHV4MTE5LXBLR1NBUDA1NGVPSU5OZUNOMUhoc0ZJQWdKZHdqX2RhSkVkQjNVTzh0dmFhV3Fld21MZkpLSnFwdmh4VjhXVjZVZnJfNmtCN1VUM3Q5Qk53NXFoX1NqalZUYkNSU2JBMkV+
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example: "{\"members\":[{\"mdn\":\"15782943087\",\"status\":\"NotAccepted\"\
                }]}"
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  status:
                    code: "4000"
                    msg: Success
                type: object
          description: Successful response
        "422":
          content:
            application/json:
              examples:
                mandatoryFieldsMissing:
                  value: |-
                    {
                      "status": {
                        "code": "4011",
                        "msg": "Mandatory fields missing"
                      }
                    }
                jsonIsNotValid:
                  value: |-
                    {
                      "status": {
                        "code": "8001",
                        "msg": "JSON is not valid"
                      }
                    }
                internalServerError:
                  value: |-
                    {
                      "status": {
                        "code": "4001",
                        "msg": "Internal Server Error"
                      }
                    }
          description: ""
      security:
      - familyCloudAuth: []
      summary: Delete Family Cloud Members 8 pending
      tags:
      - default
      x-content-type: application/json
      x-accepts: application/json
    get:
      parameters:
      - example: "15782943414"
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - example: sncr.token
        explode: false
        in: header
        name: Authorization-domain
        required: false
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: Basic YVdOekxuQnZjblJoYkRwcFkzTmZZMnhwWlc1MFgybGs6aWNzX2NsaWVudF9wYXNzd29yZA==
        explode: false
        in: header
        name: X-F1-Client-Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: Basic MTU3ODI5NDMwODM6QUFTOU9YbVFEVkNSRmRjYktubUtjQnp3Q3ZHVTM1TGZxVkpqOFJxeF9nX2owLUR4aWNZMUd5WTJONmF5Y285T1lPUjVCX3JFckJHSGNHVHBXc0pKdUt4T01ubldOaG42NXdPR21lQzBpTk9jQmlhaHV4MTE5LXBLR1NBUDA1NGVPSU5OZUNOMUhoc0ZJQWdKZHdqX2RhSkVkQjNVTzh0dmFhV3Fld21MZkpLSnFwdmh4VjhXVjZVZnJfNmtCN1VUM3Q5Qk53NXFoX1NqalZUYkNSU2JBMkV+
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  familyCloudGroupMembers:
                  - mdn: "15782943414"
                    type: owner
                    status: NotAccepted
                    attributes:
                      lcid: ed6312deec624b10a1736c5eb7d3050b
                      service.level: FC2
                      quota.used: "0"
                  status:
                    code: "4000"
                    msg: Success
                type: object
                xml:
                  name: Get Family Cloud Members
          description: Successful response
        "422":
          content:
            application/json:
              examples:
                fcsAccountNotFound:
                  value: |-
                    {
                      "status": {
                        "code": "8000",
                        "message": "FCS Account not found"
                      }
                    }
                internalServerError:
                  value: |-
                    {
                      "status": {
                        "code": "4001",
                        "message": "Internal Server Error"
                      }
                    }
          description: ""
      security:
      - familyCloudAuth: []
      summary: Get Family Cloud Members 6
      tags:
      - default
      x-accepts: application/json
    put:
      description: |+
        The only Owner can update member details from manage family screen and the details that can be updated are status/display name.


        * The owner can update owners display name

         * The owner can update the member display name/update status to Invite/Cancel Invite

         * The owner can update the member plan type . In the request if plan.type =Hexagon , then account gets updated with FH2 Feature code, else account will be updated in FC2.

      parameters:
      - description: Owner Mdn
        example: "15782943414"
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - example: sncr.token
        explode: false
        in: header
        name: Authorization-domain
        required: false
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: Basic YVdOekxuQnZjblJoYkRwcFkzTmZZMnhwWlc1MFgybGs6aWNzX2NsaWVudF9wYXNzd29yZA==
        explode: false
        in: header
        name: X-F1-Client-Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: Basic MTU3ODI5NDMwODM6QUFTOU9YbVFEVkNSRmRjYktubUtjQnp3Q3ZHVTM1TGZxVkpqOFJxeF9nX2owLUR4aWNZMUd5WTJONmF5Y285T1lPUjVCX3JFckJHSGNHVHBXc0pKdUt4T01ubldOaG42NXdPR21lQzBpTk9jQmlhaHV4MTE5LXBLR1NBUDA1NGVPSU5OZUNOMUhoc0ZJQWdKZHdqX2RhSkVkQjNVTzh0dmFhV3Fld21MZkpLSnFwdmh4VjhXVjZVZnJfNmtCN1VUM3Q5Qk53NXFoX1NqalZUYkNSU2JBMkV+
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                members:
                - mdn: "15782943415"
                  status: Enroll
                  attributes:
                    display.name: name1
                    plan.type: Hexagon
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  status:
                    code: "4000"
                    msg: Success
                type: object
          description: Successful response
        "422":
          content:
            application/json:
              examples:
                mandatoryFieldsMissing:
                  value: |-
                    {
                      "status": {
                        "code": "4011",
                        "msg": "Mandatory fields missing"
                      }
                    }
                jsonIsNotValid:
                  value: |-
                    {
                      "status": {
                        "code": "8001",
                        "msg": "JSON is not valid"
                      }
                    }
                internalServerError:
                  value: |-
                    {
                      "status": {
                        "code": "4001",
                        "msg": "Internal Server Error"
                      }
                    }
          description: ""
      security:
      - familyCloudAuth: []
      summary: Put update Family Cloud Members 7
      tags:
      - default
      x-content-type: application/json
      x-accepts: application/json
  /wsg/public/nab/v1/{userId}/account:
    get:
      parameters:
      - example: "15782943412"
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - example: Basic YVdOekxuQnZjblJoYkRwcFkzTmZZMnhwWlc1MFgybGs6aWNzX2NsaWVudF9wYXNzd29yZA==
        explode: false
        in: header
        name: X-F1-Client-Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: sncr.token
        explode: false
        in: header
        name: Authorization-domain
        required: false
        schema:
          type: string
        style: simple
      - example: application/xml
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: HANDSET
        explode: false
        in: header
        name: X-Client-SNCR-Platform
        required: false
        schema:
          type: string
        style: simple
      - example: Basic MTU3ODI5NDMwNTg6QUwtVTRQV19TTUlaMHJ2ZEUwRlM2WHVEb25HdDVQRzdaOVp1Vmh1TDhyV0tUa2JBODBiVGM3WEFOWWpTRUlwNl9BeFZmbEM3X0FLeXlTVENHRVZSdFA2TFc3cDhIN3BlTjRkNUJZekdBd0pzWVBYODgyMUtUMU9nUzFDZTRuY0ZiRHI3SzVzVDVoUWhkR2xFMVF5bFBkN3FlUk0xS3A0QklULVdkMmtZbEdkQUJFRV9kZ29Wc0R0YlhlTjVONGhSdHljTnViSTFZRVBCOVIxS01kdGotN2d+
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: "true"
        explode: true
        in: query
        name: manageStorage
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/xml:
              examples:
                Success response:
                  value: |-
                    <?xml version='1.0' encoding='UTF-8'?> <ns1:get-account-response xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns1="http://www.fusionone.com/xmlns/f1" xsi:schemaLocation="GetAccountResponse.xsd">
                      <ns1:userid type="MDN">15782943412</ns1:userid>
                      <ns1:firstname>TestFName</ns1:firstname>
                      <ns1:lastname>TestLName</ns1:lastname>
                      <ns1:email>test_user@gmail.com</ns1:email>
                      <ns1:country>2162</ns1:country>
                      <ns1:timezone>3137</ns1:timezone>
                      <ns1:featurecode>VD2</ns1:featurecode>
                      <ns1:status>
                        <ns1:code>4000</ns1:code>
                        <ns1:msg>Success</ns1:msg>
                      </ns1:status>
                      <ns1:nabuserid>^80^15782943412.12072802</ns1:nabuserid>
                      <ns1:lcid>686732e99f3c4a0da5aaba2a9324d11b</ns1:lcid>
                      <ns1:need-prov>false</ns1:need-prov>
                      <ns1:account-type>POSTPAID</ns1:account-type>
                      <ns1:features>
                        <ns1:feature default="false">
                          <ns1:name>V-Drive 2TB Owner</ns1:name>
                          <ns1:featurecode>VD2</ns1:featurecode>
                          <ns1:quota>2097152</ns1:quota>
                          <ns1:charge>14.99</ns1:charge>
                          <ns1:chargefrequency>MONTHLY</ns1:chargefrequency>
                          <ns1:featureAttribute name="shareable" value="true"/>
                          <ns1:featureAttribute name="passwordmanagerenabled" value="true"/>
                          <ns1:featureAttribute name="uicurrentname" value="2 TB"/>
                          <ns1:featureAttribute name="planDetails" value="{&quot;vdrive&quot;:true}"/>
                          <ns1:featureAttribute name="premium" value="true"/>
                          <ns1:featureAttribute name="uidescription" value="Get 2 TB of storage to share with up to 4 other users, on smartphones, tablets or computers."/>
                          <ns1:featureAttribute name="addOn" value="[{&quot;feature&quot;: &quot;Fuji&quot;,&quot;code&quot;: &quot;UG02&quot;,&quot;description&quot;: &quot;Free shipping on prints &amp; Gifts&quot;}]"/>
                          <ns1:featureAttribute name="uicharge" value="$14.99/mo"/>
                          <ns1:featureAttribute name="tagAndSearchEnabled" value="true"/>
                          <ns1:featureAttribute name="uiname" value="2 TB"/>
                        </ns1:feature>
                        <ns1:feature default="false">
                          <ns1:name>VZW Level Contacts Only</ns1:name>
                          <ns1:featurecode>SNCR0</ns1:featurecode>
                          <ns1:quota>1</ns1:quota>
                          <ns1:charge>0.0</ns1:charge>
                          <ns1:chargefrequency>MONTHLY</ns1:chargefrequency>
                          <ns1:featureAttribute name="passwordmanagerenabled" value="true"/>
                          <ns1:featureAttribute name="uicurrentname" value="Contacts only"/>
                          <ns1:featureAttribute name="premium" value="false"/>
                          <ns1:featureAttribute name="contactsonly" value="true"/>
                          <ns1:featureAttribute name="uidescription" value="Any media in your account will be archived immediately and permanently deleted after 60 days, but you can still back up Contacts."/>
                          <ns1:featureAttribute name="uiname" value="Delete My Account"/>
                        </ns1:feature>
                        <ns1:feature default="true">
                          <ns1:name>VZW Level 9</ns1:name>
                          <ns1:featurecode>VL9</ns1:featurecode>
                          <ns1:quota>614400</ns1:quota>
                          <ns1:charge>5.99</ns1:charge>
                          <ns1:chargefrequency>MONTHLY</ns1:chargefrequency>
                          <ns1:featureAttribute name="passwordmanagerenabled" value="true"/>
                          <ns1:featureAttribute name="uicurrentname" value="600 GB"/>
                          <ns1:featureAttribute name="premium" value="true"/>
                          <ns1:featureAttribute name="uidescription" value="Get 600 GB of storage for one user on one smartphone."/>
                          <ns1:featureAttribute name="addOn" value="[{&quot;feature&quot;: &quot;Fuji&quot;,&quot;code&quot;: &quot;UG01&quot;,&quot;description&quot;: &quot;Free Shipping on Prints &amp; Gifts&quot;}]"/>
                          <ns1:featureAttribute name="uicharge" value="$5.99/mo"/>
                          <ns1:featureAttribute name="tagAndSearchEnabled" value="true"/>
                          <ns1:featureAttribute name="contactsonly" value="false"/>
                          <ns1:featureAttribute name="uiname" value="600 GB"/>
                        </ns1:feature>
                      </ns1:features>
                      <ns1:events>
                        <ns1:event type="termsandconditions">
                          <ns1:attribute name="termsandconditionsaccepted" value="false"/>
                        </ns1:event>
                      </ns1:events>
                      <ns1:attributes>
                        <ns1:attribute name="fc.usertype" value="owner"/>
                        <ns1:attribute name="fc.manageFamilyEnabled" value="true"/>
                      </ns1:attributes>
                    </ns1:get-account-response>
              schema:
                type: object
                xml:
                  name: Get Account Summary
          description: Successful response
      security:
      - basicAuth: []
      summary: Get Account Summary 5
      tags:
      - default
      x-accepts: application/xml
  /wsg/public/nab/v1/account/{userId}:
    get:
      description: This method is used to retrieve all the account aliases and its
        corresponding f1Username related to a MDN. Usually used by tablet client.
      parameters:
      - example: "15782943412"
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - example: Basic YVdOekxuQnZjblJoYkRwcFkzTmZZMnhwWlc1MFgybGs6aWNzX2NsaWVudF9wYXNzd29yZA==
        explode: false
        in: header
        name: X-F1-Client-Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: sncr.token
        explode: false
        in: header
        name: Authorization-domain
        required: false
        schema:
          type: string
        style: simple
      - example: application/xml
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: HANDSET
        explode: false
        in: header
        name: X-Client-SNCR-Platform
        required: false
        schema:
          type: string
        style: simple
      - example: Basic MTU3ODI5NDMwNTg6QUwtVTRQV19TTUlaMHJ2ZEUwRlM2WHVEb25HdDVQRzdaOVp1Vmh1TDhyV0tUa2JBODBiVGM3WEFOWWpTRUlwNl9BeFZmbEM3X0FLeXlTVENHRVZSdFA2TFc3cDhIN3BlTjRkNUJZekdBd0pzWVBYODgyMUtUMU9nUzFDZTRuY0ZiRHI3SzVzVDVoUWhkR2xFMVF5bFBkN3FlUk0xS3A0QklULVdkMmtZbEdkQUJFRV9kZ29Wc0R0YlhlTjVONGhSdHljTnViSTFZRVBCOVIxS01kdGotN2d+
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: "true"
        explode: true
        in: query
        name: manageStorage
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/xml:
              examples:
                Success response:
                  value: |-
                    <?xml version='1.0' encoding='UTF-8'?> <ns1:lookup-mdn-response xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns1="http://www.fusionone.com/xmlns/f1" xsi:schemaLocation="provisioning_lookup_token.xsd">
                      <ns1:status>
                        <ns1:code>4000</ns1:code>
                        <ns1:msg>Success</ns1:msg>
                        <ns1:account alias="15782943412">
                          <ns1:username>^80^15782943412.12072802</ns1:username>
                        </ns1:account>
                      </ns1:status>
                    </ns1:lookup-mdn-response>
              schema:
                type: object
                xml:
                  name: Get Account
          description: Successful response
        "301":
          description: User is in Different PU
        "400":
          description: Bad Url Syntax
        "401":
          description: Authentication Failed
        "403":
          description: Authorization Failed
        "404":
          description: Resource Not Found
        "405":
          description: Method Not Found
        "500":
          description: Internal Server Error
      security:
      - basicAuth: []
      summary: Get Account 5
      tags:
      - default
      x-accepts: application/xml
  /wsg/public/nab/v1/{userId}/endpoints/{endPointId}:
    delete:
      description: This method is used for deleting an endpoint for the specified
        userId and endpoint id.
      parameters:
      - example: "15782943416"
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - example: Basic YVdOekxuQnZjblJoYkRwcFkzTmZZMnhwWlc1MFgybGs6aWNzX2NsaWVudF9wYXNzd29yZA==
        explode: false
        in: header
        name: X-F1-Client-Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: sncr.token
        explode: false
        in: header
        name: Authorization-domain
        required: false
        schema:
          type: string
        style: simple
      - example: application/xml
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: HANDSET
        explode: false
        in: header
        name: X-Client-SNCR-Platform
        required: false
        schema:
          type: string
        style: simple
      - example: Basic MTU3ODI5NDMwNTU6QUZra1BadVBLVkZ3R2xxMEMwVlFXNUVqVVVSLXRrdlp2X0xQNlI2OEtlOHZaZjlXWXJncDdwUVg0YUpvZEhKMTVRSEx2UE13ekxHbmtsU3cyNVpJV1AwZklBd1Q0VTVDVk90Qk5mWnI4V2YxZW1jaFBFTFJLVHgwRGZQSGJKRTVCdTBldlVZTExsQzUzT01CQjFFQmV1bFBnd3d5Qk83LTRYMUxxX0toMWQ4Uno4VXhxNm5Ta3htdGRRVXBJcDJmWnpGNVNRRW82QVJ6ckxIa0x2M05Hak1+
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/xml:
              examples:
                success response:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?> <ns1:endpoint-delete-response xmlns:ns1="http://www.fusionone.com/xmlns/f1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" userid="14085551235" xsi:schemaLocation="EndPointDeleteResponse.xsd">
                        <ns1:status endpointid="google.portal^testdevwsg@gmail.com" endpointtype="google.portal">
                            <ns1:code>4000</ns1:code>
                            <ns1:msg>Success</ns1:msg>
                        </ns1:status>
                    </ns1:endpoint-delete-response>
              schema:
                type: object
                xml:
                  name: Delete endpoints endPointId success response
          description: Delete endpoints endPointId success response
        "301":
          content:
            application/xml:
              examples:
                User is in Different PU:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?> <ns1:endpoint-delete-response xmlns:ns1="http://www.fusionone.com/xmlns/f1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" userid="14085551235" xsi:schemaLocation="EndPointDeleteResponse.xsd">
                        <ns1:status endpointid="google.portal^testdevwsg@gmail.com" endpointtype="google.portal">
                            <ns1:msg>User is in Different PU</ns1:msg>
                        </ns1:status>
                    </ns1:endpoint-delete-response>
              schema:
                type: object
                xml:
                  name: User is in Different PU response
          description: User is in Different PU response
        "401":
          content:
            application/xml:
              examples:
                Unsupported HTTP Authentication:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?> <ns1:endpoint-delete-response xmlns:ns1="http://www.fusionone.com/xmlns/f1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" userid="14085551235" xsi:schemaLocation="EndPointDeleteResponse.xsd">
                        <ns1:status endpointid="google.portal^testdevwsg@gmail.com" endpointtype="google.portal">
                            <ns1:code>4007</ns1:code>
                            <ns1:msg>Unsupported HTTP Authentication</ns1:msg>
                        </ns1:status>
                    </ns1:endpoint-delete-response>
                User is not authorized to access data:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?> <ns1:endpoint-delete-response xmlns:ns1="http://www.fusionone.com/xmlns/f1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" userid="14085551235" xsi:schemaLocation="EndPointDeleteResponse.xsd">
                        <ns1:status endpointid="google.portal^testdevwsg@gmail.com" endpointtype="google.portal">
                            <ns1:code>4008</ns1:code>
                            <ns1:msg>User is not authorized to access data</ns1:msg>
                        </ns1:status>
                    </ns1:endpoint-delete-response>
              schema:
                type: object
                xml:
                  name: Delete endpoints endPointId 401 error response
          description: Delete endpoints endPointId 401 error response
        "403":
          content:
            application/xml:
              examples:
                Authorization Failed:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?> <ns1:endpoint-delete-response xmlns:ns1="http://www.fusionone.com/xmlns/f1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" userid="14085551235" xsi:schemaLocation="EndPointDeleteResponse.xsd">
                        <ns1:status endpointid="google.portal^testdevwsg@gmail.com" endpointtype="google.portal">
                            <ns1:code>4004</ns1:code>
                            <ns1:msg>Authorization Failed</ns1:msg>
                        </ns1:status>
                    </ns1:endpoint-delete-response>
              schema:
                type: object
                xml:
                  name: Delete endpoints endPointId 403 error response
          description: Delete endpoints endPointId 403 error response
        "404":
          content:
            application/xml:
              examples:
                Endpoint does not exists:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?> <ns1:endpoint-delete-response xmlns:ns1="http://www.fusionone.com/xmlns/f1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" userid="14085551235" xsi:schemaLocation="EndPointDeleteResponse.xsd">
                        <ns1:status endpointid="google.portal^testdevwsg@gmail.com" endpointtype="google.portal">
                            <ns1:code>4096</ns1:code>
                            <ns1:msg>Endpoint does not exists</ns1:msg>
                        </ns1:status>
                    </ns1:endpoint-delete-response>
              schema:
                type: object
                xml:
                  name: Delete endpoints endPointId 404 error response
          description: Delete endpoints endPointId 404 error response
        "422":
          content:
            application/xml:
              examples:
                Error While deleting EndPoint:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?> <ns1:endpoint-delete-response xmlns:ns1="http://www.fusionone.com/xmlns/f1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" userid="14085551235" xsi:schemaLocation="EndPointDeleteResponse.xsd">
                        <ns1:status endpointid="google.portal^testdevwsg@gmail.com" endpointtype="google.portal">
                            <ns1:code>4093</ns1:code>
                            <ns1:msg>Error While deleting EndPoint</ns1:msg>
                        </ns1:status>
                    </ns1:endpoint-delete-response>
              schema:
                type: object
                xml:
                  name: Delete endpoints endPointId 422 error response
          description: Delete endpoints endPointId 422 error response
        "500":
          content:
            application/xml:
              examples:
                Unknown error:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?> <ns1:endpoint-delete-response xmlns:ns1="http://www.fusionone.com/xmlns/f1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" userid="14085551235" xsi:schemaLocation="EndPointDeleteResponse.xsd">
                        <ns1:status endpointid="google.portal^testdevwsg@gmail.com" endpointtype="google.portal">
                            <ns1:code>-1</ns1:code>
                            <ns1:msg>Unknown error</ns1:msg>
                        </ns1:status>
                    </ns1:endpoint-delete-response>
                Internal Server Error:
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?> <ns1:endpoint-delete-response xmlns:ns1="http://www.fusionone.com/xmlns/f1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" userid="14085551235" xsi:schemaLocation="EndPointDeleteResponse.xsd">
                        <ns1:status endpointid="google.portal^testdevwsg@gmail.com" endpointtype="google.portal">
                            <ns1:code>4001</ns1:code>
                            <ns1:msg>Internal Server Error</ns1:msg>
                        </ns1:status>
                    </ns1:endpoint-delete-response>
              schema:
                type: object
                xml:
                  name: Delete endpoints endPointId 500 error response
          description: Delete endpoints endPointId 500 error response
      security:
      - basicAuth: []
      summary: Delete endpoints endPointId pending not executed 10
      tags:
      - default
      x-accepts: application/xml
    get:
      description: |
        This method is used for retrieving a endpoint information includes pc client auto sync attributes, mobile client state attributes, upgrade info attributes based on userId and endpoint id.

        PC Client Upgrade Detection Attributes.
        | UPGRADE INFO ATTRIBUTES | DESCRIPTION                                                                                                                                                                                                                           | READONLY |
        |-------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------|
        | upgrade.status          | The status of the upgrade. This can be either none, recommended or mandatory. If the status is none then it means that no upgrade is present for the endpoint. In this case the upgrade message and download URL will not be present. | Yes      |
        | upgrade.message         | The upgrade message.                                                                                                                                                                                                                  | Yes      |
        | upgrade.download.url    | The upgrade download URL.                                                                                                                                                                                                             | Yes      |

        Mobile client state attributes
        | PHONE STATE                                                                            | GET ENDPOINTS RESPONSE                                                                                          |
        |----------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------|
        | User has a phone in the normal state i.e. it has been provisioned and is ready to sync | device.status=ACTIVE device.customer.model=empty or unavailable in the response device.client.support=SUPPORTED |
        | User switches to new phone. Client is supported on the new phone.                      | No phone device will be returned.                                                                               |
        | User switches to new phone. Client is NOT supported on the new phone.                  | No phone device will be returned.                                                                               |
      parameters:
      - example: "15782943416"
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: "Get the upgrade information for the device .Values for upgrade\
          \ param are true , default value is false"
        example: true
        explode: true
        in: query
        name: upgrade
        required: false
        schema:
          type: string
        style: form
      - description: List endpoint attributes which are needs to be displayed for
          the endpoint.
        example: attributeslist
        explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - description: Flag to filter endpoint supported contact fields. Default value
          is true
        example: true
        explode: true
        in: query
        name: supportedFields
        required: false
        schema:
          type: boolean
        style: form
      - description: Flag to filter endpoint autopromote settings info . Default value
          is true
        example: true
        explode: true
        in: query
        name: autopromote
        required: false
        schema:
          type: boolean
        style: form
      - example: Basic YVdOekxuQnZjblJoYkRwcFkzTmZZMnhwWlc1MFgybGs6aWNzX2NsaWVudF9wYXNzd29yZA==
        explode: false
        in: header
        name: X-F1-Client-Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: sncr.token
        explode: false
        in: header
        name: Authorization-domain
        required: false
        schema:
          type: string
        style: simple
      - example: application/xml
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - example: HANDSET
        explode: false
        in: header
        name: X-Client-SNCR-Platform
        required: false
        schema:
          type: string
        style: simple
      - example: Basic MTU3ODI5NDMwNTU6QUZra1BadVBLVkZ3R2xxMEMwVlFXNUVqVVVSLXRrdlp2X0xQNlI2OEtlOHZaZjlXWXJncDdwUVg0YUpvZEhKMTVRSEx2UE13ekxHbmtsU3cyNVpJV1AwZklBd1Q0VTVDVk90Qk5mWnI4V2YxZW1jaFBFTFJLVHgwRGZQSGJKRTVCdTBldlVZTExsQzUzT01CQjFFQmV1bFBnd3d5Qk83LTRYMUxxX0toMWQ4Uno4VXhxNm5Ta3htdGRRVXBJcDJmWnpGNVNRRW82QVJ6ckxIa0x2M05Hak1+
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/xml:
              examples:
                success response:
                  summary: Get endpoints by endpointsId success response
                  value: |-
                    <?xml version="1.0" encoding="UTF-8"?> <ns1:endpoint-get-response xmlns:ns1="http://www.fusionone.com/xmlns/f1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="EndPointGetResponse.xsd">
                        <ns1:f1account userid="12222233333">
                            <ns1:endpoint endpointid="google.portal^testdevwsg@gmail.com" endpointtype="google.portal">
                                <ns1:name>TestGoogleDevice</ns1:name>
                                <ns1:username>testdevwsg@gmail.com</ns1:username>
                                <ns1:password>Test1234</ns1:password>
                                <ns1:attributes>
                                    <ns1:attribute name="server.realtime.sync" value="on"/>
                                    <ns1:attribute name="lastsyncdate" value="Wed Nov 11 06:20:54 UTC 2009"/>
                                </ns1:attributes>
                                <ns1:autopromote-endpoints>
                                    <ns1:autopromote-endpoint autopromote="false" endpointid="3cf462de0124100091b06ac731abcd77" endpointtype="sun.server"/>
                                    <ns1:autopromote-endpoint autopromote="true" endpointid="3cf462de0124100091b16ac731abcd77" endpointtype="mbpim"/>
                                </ns1:autopromote-endpoints>
                                <ns1:endpoint-fields>
                                        <ns1:group name="NAME">
                                            <ns1:field name="FirstName" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="LastName" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                        </ns1:group>
                                        <ns1:group name="NICKNAME">
                                            <ns1:field name="NickName" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                        </ns1:group>
                                        <ns1:group name="DATE">
                                            <ns1:field name="Birth Day" required="false">
                                                <ns1:attribute name="type" value="Date"/>
                                            </ns1:field>
                                            <ns1:field name="Anniversy Day" required="false">
                                                <ns1:attribute name="type" value="Date"/>
                                            </ns1:field>
                                        </ns1:group>
                                        <ns1:group name="SPOUSE">
                                            <ns1:field name="Spouse" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                        </ns1:group>
                                        <ns1:group name="WEBSITE">
                                            <ns1:field name="Home URL" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Home URL2" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Home URL3" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Work URL" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Work URL2" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Work URL3" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="General URL" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="General URL2" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="General URL3" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                        </ns1:group>
                                        <ns1:group name="EMAIL">
                                            <ns1:field name="Home" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Home2" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Home3" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Work" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Work2" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Work3" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="General" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="General2" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="General3" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                        </ns1:group>
                                        <ns1:group name="PHONE">
                                            <ns1:field name="Home" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Home2" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Home3" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Home4" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Home5" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Work" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Work2" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Work3" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Work4" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Work5" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="General" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="General2" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="General3" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="General4" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="General5" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="HomeFax" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="WorkFax" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Mobile" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Pager" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Pager2" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Pager3" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Pager4" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Pager5" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                        </ns1:group>
                                        <ns1:group name="ADDRESS">
                                            <ns1:field name="Home" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Home2" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Home3" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Work" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Work2" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Work3" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Other" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Other2" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Other3" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                        </ns1:group>
                                        <ns1:group name="TITLE">
                                            <ns1:field name="Title" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                        </ns1:group>
                                        <ns1:group name="COMPANY JOB TITLE">
                                            <ns1:field name="Title" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                        </ns1:group>
                                        <ns1:group name="NOTE">
                                            <ns1:field name="Note" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="4000"/>
                                            </ns1:field>
                                        </ns1:group>
                                        <ns1:group name="CHAT_ADDRESS">
                                            <ns1:field name="Msn" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Yahoo" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Google" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Skype" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Aim" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Icq" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                            <ns1:field name="Jabber" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                        </ns1:group>
                                        <ns1:group name="GROUP">
                                            <ns1:field name="Group Name" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                        </ns1:group>
                                        <ns1:group name="PHOTO_REFERENCE">
                                            <ns1:field name="PhotoReference" required="false">
                                                <ns1:attribute name="type" value="text"/>
                                                <ns1:attribute name="size" value="255"/>
                                            </ns1:field>
                                        </ns1:group>
                                    </ns1:endpoint-fields>
                            </ns1:endpoint>
                        </ns1:f1account>
                    </ns1:endpoint-get-response>
              schema:
                type: object
                xml:
                  name: Get endpoints by endpointsId success response
          description: Get endpoints by endpointsId success response
        "301":
          description: User is in Different PU
        "400":
          description: Bad Url Syntax
        "401":
          description: Authentication Failed
        "403":
          description: Authorization Failed
        "404":
          description: Resource Not Found
        "405":
          description: Method Not Found
        "409":
          description: Resource access Conflict
        "422":
          description: Bad Request Semantics
        "500":
          description: Internal Server Error
      security:
      - basicAuth: []
      summary: Get endpoints endPointId pending not executed 9
      tags:
      - default
      x-accepts: application/xml
  /wsg/public/nab/v1/{userId}/account/properties:
    get:
      parameters:
      - example: "15782943416"
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: types specifies what account properties to be returned
        examples:
          all:
            value: all
          alerts:
            value: alerts
          config:
            value: config
          attributes:
            value: attributes
        explode: true
        in: query
        name: type
        required: true
        schema:
          type: string
        style: form
      - example: Basic YVdOekxuQnZjblJoYkRwcFkzTmZZMnhwWlc1MFgybGs6aWNzX2NsaWVudF9wYXNzd29yZA==
        explode: false
        in: header
        name: X-F1-Client-Authorization
        required: false
        schema:
          type: string
        style: simple
      - example: sncr.token
        explode: false
        in: header
[...]
