openapi: 3.1.0
info:
  contact: {}
  license:
    name: Apache License 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Servantrip API Documentation
  version: 1.0.0-oas3
  x-logo:
    url: /logo.png
servers:
- url: https://api-sndbx.servantrip.com
- url: https://api-sndbx.servantrip.com/api
paths:
  /api/v2_1/activities/{preorderid}:
    get:
      description: Activity full detail from preorder_id Copy
      operationId: activityFullDetailFromPreorderIdCopy
      parameters:
      - explode: false
        in: header
        name: X-Servantrip-Culture
        required: false
        schema:
          example: "{{culture}}"
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Servantrip-Currency
        required: false
        schema:
          example: "{{currency}}"
          type: string
        style: simple
      - explode: false
        in: path
        name: preorderid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          text/plain:
            examples:
              Activity full detail from preorder_id 2:
                value: "\r\n\r\n"
              Activity full detail from preorder_id Copy:
                value: "\r\n\r\n"
      responses:
        "200":
          content:
            application/json:
              examples:
                OK:
                  value:
                    activity_destination:
                      country_code_2iso: ES
                      destination_code: Gijón
                      destination_name: Gijon
                      geolocation:
                        lat: 43.53573
                        lon: -5.661519
                      ggle_place_id: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                    additional_info:
                      highlights:
                      - Nice open space
                      included:
                      - Best sighseen
                      not_included:
                      - Dinner
                      - Additional drinks
                    available_languages_2iso:
                    - en
                    - es
                    cancellation_rates:
                    - amount: 100
                      hour_range_min: 24
                      refund_type: percentage
                    - amount: 0
                      hour_range_max: 24
                      hour_range_min: 0
                      refund_type: percentage
                    categories:
                    - gastronomic_experience
                    - performance
                    characteristics:
                    - instant_confirmation
                    - session_license
                    - translation_automatic
                    culture_code: en-GB
                    description: "Please, be at the meeting point at the confirmed\
                      \ time. Pick your ticket up ..."
                    destination:
                      country_code_2iso: ES
                      destination_code: Gijón
                      destination_name: Gijon
                      geolocation:
                        lat: 43.53573
                        lon: -5.661519
                      ggle_place_id: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                    duration_hours: 0.033333335
                    instructions: "Please, be at the meeting point at the confirmed\
                      \ time. Pick your ticket up ..."
                    main_picture: https://media.servantrip.com/resources/img/activities/mock/activity-mock-1-image.png
                    modifiers:
                    - duration_not_specified
                    - pickup_open_list
                    pickup_locations:
                      pickup000: Aeropuerto
                      pickup001: Plaza Pelayo
                      pickup002: Puerto
                      pickup003: Calle Corrida
                      pickup004: Biblioteka
                      pickup005: Hotel Reconquista
                      pickup006: La Luna
                      pickup007: Alpha Centauri
                      pickup008: Valhala
                      pickup009: Raiz de Igdrasil
                      pickup010: Schwartzwald
                      pickup011: Wonderland
                      pickup012: Nether
                      pickup013: Primodial Void
                      pickup014: Yesterday
                      pickup015: Rabit hole
                    pictures:
                    - https://media.servantrip.com/resources/img/activities/mock/activity-mock-a-image.png
                    - https://media.servantrip.com/resources/img/activities/mock/activity-mock-b-image.png
                    - https://media.servantrip.com/resources/img/activities/mock/activity-mock-c-image.png
                    - https://media.servantrip.com/resources/img/activities/mock/activity-mock-d-image.png
                    - https://media.servantrip.com/resources/img/activities/mock/activity-mock-e-image.png
                    pricing:
                      currency_code_3iso: EUR
                      prediscount: 100
                      total:
                        base: 80
                        recommended: 100
                    provider:
                      brand: OnlineStandardProvider1
                      logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_XX0000000001.png
                    rating_info:
                      reviews_average: 4.3
                      reviews_count: 1543
                    subtitle: Activity to test  free text or list pickup and participants
                      information. Subtitle.
                    title: "en. Activity to test  free text or list pickup and participants\
                      \ information. Num: 000"
              schema:
                $ref: '#/components/schemas/activityFullDetailFromPreorderIdCopy_200_response'
          description: OK / OK
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                example: "Content-Type,api_key, Authorization,X-Servantrip-AgentRef,X-Servantrip-Culture,X-Servantrip-Currency"
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                example: "GET,POST,DELETE,PUT,PATCH,OPTIONS"
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: no-cache
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: "1025"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Fri, 03 Nov 2023 11:40:55 GMT"
                type: string
              style: simple
            Expires:
              explode: false
              schema:
                example: "-1"
                type: string
              style: simple
            Pragma:
              explode: false
              schema:
                example: no-cache
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: nginx
                type: string
              style: simple
            X-AspNet-Version:
              explode: false
              schema:
                example: 4.0.30319
                type: string
              style: simple
            X-Powered-By:
              explode: false
              schema:
                example: ASP.NET
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  value:
                    code: 3002
                    message: Error on field 'preorder_id'. Invalid Base64 Coded value.
              schema:
                $ref: '#/components/schemas/activityFullDetailFromPreorderIdCopy_400_response'
          description: Bad Request / Bad Request
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                example: "Content-Type,api_key, Authorization,X-Servantrip-AgentRef,X-Servantrip-Culture,X-Servantrip-Currency"
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                example: "GET,POST,DELETE,PUT,PATCH,OPTIONS"
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: no-cache
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: "83"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Fri, 03 Nov 2023 11:48:46 GMT"
                type: string
              style: simple
            Expires:
              explode: false
              schema:
                example: "-1"
                type: string
              style: simple
            Pragma:
              explode: false
              schema:
                example: no-cache
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: nginx
                type: string
              style: simple
            X-AspNet-Version:
              explode: false
              schema:
                example: 4.0.30319
                type: string
              style: simple
            X-Powered-By:
              explode: false
              schema:
                example: ASP.NET
                type: string
              style: simple
      security: []
      summary: Activity full detail from preorder_id Copy
      x-accepts: application/json
    parameters:
    - explode: false
      in: path
      name: preorderid
      required: true
      schema:
        type: string
      style: simple
  /api/v2_1/availability:
    post:
      description: "Activity pax, 1 ticket. Availability Copy"
      operationId: activityPax1TicketAvailabilityCopy
      parameters:
      - explode: false
        in: header
        name: X-Servantrip-Culture
        required: false
        schema:
          example: "{{culture}}"
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Servantrip-Currency
        required: false
        schema:
          example: "{{currency}}"
          type: string
        style: simple
      requestBody:
        content:
          text/plain:
            examples:
              Activity pax, 1 ticket. Availability 2:
                value: "\r\n{\r\n \"timeout\":{{timeout}},\r\n \"requirements\": [\r\
                  \n                   \r\n                ]\r\n}\r\n"
              Activity pax, 1 ticket. Availability Copy:
                value: "\r\n{\r\n \"timeout\":{{timeout}},\r\n \"requirements\": [\r\
                  \n                   \r\n                ]\r\n}\r\n"
      responses:
        "200":
          content:
            application/json:
              examples:
                OK:
                  value:
                    culture_code: en-GB
                    reference: 69b356ae-0f9f-4928-bd4e-3f770bd2bf2f
                    responses:
                    - common_activity_info:
                        destination:
                          country_code_2iso: ES
                          destination_code: Gijón
                          destination_name: Gijón
                          geolocation:
                            lat: 43.5357322692871
                            lon: -5.66151905059814
                          ggle_place_id: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                      consolidated_results:
                      - service_details:
                        - activity_information:
                            activity_destination:
                              country_code_2iso: ES
                              destination_code: Gijón
                              destination_name: Gijon
                              geolocation:
                                lat: 43.53573
                                lon: -5.661519
                              ggle_place_id: ChIJv5T0y2Z8Ng0RNjWNBAfSBr0
                            available_languages_2iso:
                            - en
                            - es
                            categories:
                            - gastronomic_experience
                            - performance
                            characteristics:
                            - instant_confirmation
                            - session_license
                            - translation_automatic
                            main_picture: https://media.servantrip.com/resources/img/activities/mock/activity-mock-1-image.png
                            modifiers:
                            - duration_not_specified
                            - pickup_open_list
                            participant_questions:
                            - name
                            - surname
                            - date_of_birth
                            - lead_traveller
                            - is_customer
                            - phone_number
                            pickup_locations:
                              pickup000: Aeropuerto
                              pickup001: Plaza Pelayo
                              pickup002: Puerto
                              pickup003: Calle Corrida
                              pickup004: Biblioteka
                              pickup005: Hotel Reconquista
                              pickup006: La Luna
                              pickup007: Alpha Centauri
                              pickup008: Valhala
                              pickup009: Raiz de Igdrasil
                              pickup010: Schwartzwald
                              pickup011: Wonderland
                              pickup012: Nether
                              pickup013: Primodial Void
                              pickup014: Yesterday
                              pickup015: Rabit hole
                            proximity_meters: 0
                            rating_info:
                              reviews_average: 4.3
                              reviews_count: 1543
                            subtitle: Activity to test  free text or list pickup and
                              participants information. Subtitle.
                            title: "en. Activity to test  free text or list pickup\
                              \ and participants information. Num: 000"
                            topic: lifestyle
                            topic_description: "Unique activities to explore the other\
                              \ side of the destination and surroundings. For example\
                              \ balloon rides, romantic dinners, cooking classes,\
                              \ among others."
                            topic_name: Lifestyle
                            topic_picture: https://media.servantrip.com/resources/img/topics/img-topic-lifestyle.png
                            venues: []
                          cancellation_rates:
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          preorder_id: VFVNNk5qbGlNelUyWVdVdE1HWTVaaTAwT1RJNExXSmtOR1V0TTJZM056QmlaREppWmpKbVh6QXRXRmd3TURBd01EQXdNREF4WHpFPQ==
                          pricing:
                            currency_code_3iso: EUR
                            prediscount: 100
                            total:
                              base: 90
                              recommended: 100
                          product_id: A0378427587
                          provider:
                            brand: OnlineStandardProvider1
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_XX0000000001.png
                      count: 1
                      reference: 69b356ae-0f9f-4928-bd4e-3f770bd2bf2f_0
                      skip: 0
                      take: 10
                      vertical: hospitality_activites
              schema:
                $ref: '#/components/schemas/activityPax1TicketAvailabilityCopy_200_response'
          description: OK / OK
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                example: "Content-Type,api_key, Authorization,X-Servantrip-AgentRef,X-Servantrip-Culture,X-Servantrip-Currency"
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                example: "GET,POST,DELETE,PUT,PATCH,OPTIONS"
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: no-cache
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: "1323"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Fri, 03 Nov 2023 11:34:43 GMT"
                type: string
              style: simple
            Expires:
              explode: false
              schema:
                example: "-1"
                type: string
              style: simple
            Pragma:
              explode: false
              schema:
                example: no-cache
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: nginx
                type: string
              style: simple
            X-AspNet-Version:
              explode: false
              schema:
                example: 4.0.30319
                type: string
              style: simple
            X-Powered-By:
              explode: false
              schema:
                example: ASP.NET
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  value:
                    code: 2003
                    message: Error on field 'requirements'. Cannot be null or empty.
              schema:
                $ref: '#/components/schemas/activityPax1TicketAvailabilityCopy_400_response'
          description: Bad Request / Bad Request
          headers:
            Access-Control-Allow-Headers:
              explode: false
              schema:
                example: "Content-Type,api_key, Authorization,X-Servantrip-AgentRef,X-Servantrip-Culture,X-Servantrip-Currency"
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                example: "GET,POST,DELETE,PUT,PATCH,OPTIONS"
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: no-cache
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: "81"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Fri, 03 Nov 2023 11:39:30 GMT"
                type: string
              style: simple
            Expires:
              explode: false
              schema:
                example: "-1"
                type: string
              style: simple
            Pragma:
              explode: false
              schema:
                example: no-cache
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: nginx
                type: string
              style: simple
            X-AspNet-Version:
              explode: false
              schema:
                example: 4.0.30319
                type: string
              style: simple
            X-Powered-By:
              explode: false
              schema:
                example: ASP.NET
                type: string
              style: simple
      security: []
      summary: "Activity pax, 1 ticket. Availability Copy"
      x-accepts: application/json
  /v2_1/availability:
    post:
      description: Shows all availability in USD.
      operationId: availabilityUsd
      parameters:
      - explode: false
        in: header
        name: X-Servantrip-Culture
        required: false
        schema:
          example: "{{culture}}"
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Servantrip-Currency
        required: false
        schema:
          example: USD
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Availability USD:
                value: "\n{\n \"timeout\":{{timeout}},\n \"requirement\": [\n\t\t\t\
                  \t\t{\n    \n    \t\t\t\t\t\"vertical\": \"ground_transfer_p2p\"\
                  ,\n\t\t\t\t\t    \n\t\t\t\t\t    \"ground_information\": {\n   \
                  \                         \"point_origin\":{\n\t\t\t\t\t    \t\t\
                  \"ggle_place_id\": \"ChIJAQAAANAxQg0R786FD-old24\"\n\t\t\t\t\t\n\
                  \t\t\t\t\t        },\n\t\t\t\t\t\t\t\"point_dest\":{\n\t\t\t\t\t\
                  \t\t    \"ggle_place_id\": \"ChIJMeVgaYQoQg0Rwof_7Cy9PmQ\"\n\t\t\
                  \t\t\t\t\t},\n                            \"people_detail\":{\n\t\
                  \t\t\t\t\t\t\t\"adult\": 1\n\t\t\t\t\t    \t},\n               \
                  \             \"include_providers\": [\"{{mock_groundpto_provideruid}}\"\
                  ]\n    \t\t\t\t\t },\n    \t\t\t\t\t\"when\": \"{{selected_date}}T10:00:00\"\
                  \n\t\t\t\t\t    \n    \t\t\t\t}\n\t\t\t\t ]\n}\n"
              Availability USD 2:
                value: "\n{\n \"timeout\":{{timeout}},\n \"requirement\": [\n\t\t\t\
                  \t\t{\n    \n    \t\t\t\t\t\"vertical\": \"ground_transfer_p2p\"\
                  ,\n\t\t\t\t\t    \n\t\t\t\t\t    \"ground_information\": {\n   \
                  \                         \"point_origin\":{\n\t\t\t\t\t    \t\t\
                  \"ggle_place_id\": \"ChIJAQAAANAxQg0R786FD-old24\"\n\t\t\t\t\t\n\
                  \t\t\t\t\t        },\n\t\t\t\t\t\t\t\"point_dest\":{\n\t\t\t\t\t\
                  \t\t    \"ggle_place_id\": \"ChIJMeVgaYQoQg0Rwof_7Cy9PmQ\"\n\t\t\
                  \t\t\t\t\t},\n                            \"people_detail\":{\n\t\
                  \t\t\t\t\t\t\t\"adult\": 1\n\t\t\t\t\t    \t},\n               \
                  \             \"include_providers\": [\"{{mock_groundpto_provideruid}}\"\
                  ]\n    \t\t\t\t\t },\n    \t\t\t\t\t\"when\": \"{{selected_date}}T10:00:00\"\
                  \n\t\t\t\t\t    \n    \t\t\t\t}\n\t\t\t\t ]\n}\n"
      responses:
        "200":
          content:
            application/json:
              examples:
                OK:
                  value:
                    culture_code: en-GB
                    reference: f94dc3ae-bdc6-4298-b0b6-0a594dd27d3f
                    responses:
                    - common_ground_info:
                        dropoff_point:
                          address: "Calle de Alcalá, 45, 28014 Madrid, Spain"
                          country_code_2iso: ES
                          destination_name: Madrid
                          display_text: "Calle de Alcalá, 45, 28014 Madrid, Spain"
                          geolocation:
                            lat: 40.419184
                            lon: -3.6962013
                          ggle_place_id: ChIJMeVgaYQoQg0Rwof_7Cy9PmQ
                        pickup_point:
                          address: "Av de la Hispanidad, s/n, 28042 Madrid, Spain"
                          airport_iata: MAD
                          country_code_2iso: ES
                          destination_name: Madrid
                          display_text: "(MAD) Madrid-Barajas Adolfo Suárez Airport\
                            \ (MAD), Avenida de la Hispanidad, Madrid, Spain"
                          geolocation:
                            lat: 40.4983322
                            lon: -3.5675982
                          ggle_place_id: ChIJAQAAANAxQg0R786FD-old24
                        pickup_when: 2023-12-30T09:00:00
                        service_conditions: []
                      consolidated_results:
                      - service_details:
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: economy
                            car_type: other
                            car_type_description: Toyota Prius or similar
                            car_type_name: Private Economy
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a basic transfer service from/to
                              the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Economy.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01ERT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: economy
                            car_type: other
                            car_type_description: Toyota Prius or similar
                            car_type_name: Private Economy
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a basic transfer service from/to
                              the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Economy.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01EWT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: economy
                            car_type: other
                            car_type_description: Toyota Prius or similar
                            car_type_name: Private Economy
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a basic transfer service from/to
                              the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Economy.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd016ST0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: economy
                            car_type: other
                            car_type_description: Toyota Prius or similar
                            car_type_name: Private Economy
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a basic transfer service from/to
                              the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Economy.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd016Yz0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                      - service_details:
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: standard
                            car_type: sedan
                            car_type_description: "VW Passat, Skoda Octavia or similar"
                            car_type_name: Private Standard Sedan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a standard transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Sedan.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01EST0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: standard
                            car_type: sedan
                            car_type_description: "VW Passat, Skoda Octavia or similar"
                            car_type_name: Private Standard Sedan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a standard transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Sedan.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01EYz0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: standard
                            car_type: sedan
                            car_type_description: "VW Passat, Skoda Octavia or similar"
                            car_type_name: Private Standard Sedan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a standard transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Sedan.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd016TT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: standard
                            car_type: sedan
                            car_type_description: "VW Passat, Skoda Octavia or similar"
                            car_type_name: Private Standard Sedan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a standard transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Sedan.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd016Zz0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                      - service_details:
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: business
                            car_type: sedan
                            car_type_description: "Mercedes E class, Audi A6 or similar"
                            car_type_name: Private Business Sedan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a comfortable transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Business.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01ETT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: business
                            car_type: sedan
                            car_type_description: "Mercedes E class, Audi A6 or similar"
                            car_type_name: Private Business Sedan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a comfortable transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Business.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01EZz0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: business
                            car_type: sedan
                            car_type_description: "Mercedes E class, Audi A6 or similar"
                            car_type_name: Private Business Sedan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a comfortable transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Business.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd016UT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: business
                            car_type: sedan
                            car_type_description: "Mercedes E class, Audi A6 or similar"
                            car_type_name: Private Business Sedan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a comfortable transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Business.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd016az0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                      - service_details:
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: premium
                            car_type: sedan
                            car_type_description: "Mercedes S class, Audi A8 or similar"
                            car_type_name: Private Premium Sedan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a luxury transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Premium.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01EUT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: premium
                            car_type: sedan
                            car_type_description: "Mercedes S class, Audi A8 or similar"
                            car_type_name: Private Premium Sedan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a luxury transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Premium.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01Eaz0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: premium
                            car_type: sedan
                            car_type_description: "Mercedes S class, Audi A8 or similar"
                            car_type_name: Private Premium Sedan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a luxury transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Premium.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd016VT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: premium
                            car_type: sedan
                            car_type_description: "Mercedes S class, Audi A8 or similar"
                            car_type_name: Private Premium Sedan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a luxury transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Premium.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd05EQT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                      - service_details:
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: standard
                            car_type: sedan
                            car_type_description: "Skoda SuperB, VW Passat or similar"
                            car_type_name: Taxi
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a Taxi service from/to the
                              airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/standard_taxi.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01EVT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: standard
                            car_type: sedan
                            car_type_description: "Skoda SuperB, VW Passat or similar"
                            car_type_name: Taxi
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a Taxi service from/to the
                              airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/standard_taxi.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01UQT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: standard
                            car_type: sedan
                            car_type_description: "Skoda SuperB, VW Passat or similar"
                            car_type_name: Taxi
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a Taxi service from/to the
                              airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/standard_taxi.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd016WT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: standard
                            car_type: sedan
                            car_type_description: "Skoda SuperB, VW Passat or similar"
                            car_type_name: Taxi
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a Taxi service from/to the
                              airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/standard_taxi.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd05ERT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                      - service_details:
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: standard
                            car_type: minivan
                            car_type_description: "Nissan Urban, Toyota Sienna or\
                              \ similar"
                            car_type_name: Private Standard Minivan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a standard minivan transfer
                              service from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Minivan-Sedan-White.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01URT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: standard
                            car_type: minivan
                            car_type_description: "Nissan Urban, Toyota Sienna or\
                              \ similar"
                            car_type_name: Private Standard Minivan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a standard minivan transfer
                              service from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Minivan-Sedan-White.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01UVT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: standard
                            car_type: minivan
                            car_type_description: "Nissan Urban, Toyota Sienna or\
                              \ similar"
                            car_type_name: Private Standard Minivan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a standard minivan transfer
                              service from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Minivan-Sedan-White.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd05EST0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: standard
                            car_type: minivan
                            car_type_description: "Nissan Urban, Toyota Sienna or\
                              \ similar"
                            car_type_name: Private Standard Minivan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a standard minivan transfer
                              service from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Transfer-Minivan-Sedan-White.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd05EWT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                      - service_details:
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: business
                            car_type: minivan
                            car_type_description: "Mercedes Viano, Mercedes Vito or\
                              \ similar"
                            car_type_name: Private Business Minivan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a comfortable transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Minivan_business.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01UST0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: business
                            car_type: minivan
                            car_type_description: "Mercedes Viano, Mercedes Vito or\
                              \ similar"
                            car_type_name: Private Business Minivan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a comfortable transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Minivan_business.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01UWT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: business
                            car_type: minivan
                            car_type_description: "Mercedes Viano, Mercedes Vito or\
                              \ similar"
                            car_type_name: Private Business Minivan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a comfortable transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Minivan_business.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd05ETT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: business
                            car_type: minivan
                            car_type_description: "Mercedes Viano, Mercedes Vito or\
                              \ similar"
                            car_type_name: Private Business Minivan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a comfortable transfer service
                              from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/Minivan_business.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd05EYz0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                      - service_details:
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: premium
                            car_type: minivan
                            car_type_description: Mercedes V Class or similar
                            car_type_name: Private Premium Minivan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a luxury minivan transfer
                              service from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/minivan_premium_mercedes_v.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01UTT0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: premium
                            car_type: minivan
                            car_type_description: Mercedes V Class or similar
                            car_type_name: Private Premium Minivan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
                            no_identical_vehicles: 1
                            route_info:
                              distance_km: 8.536
                              duration_hours: 0.03333334
                            service_description: Hiring a luxury minivan transfer
                              service from/to the airport to/from the accommodation.
                            service_picture: https://media.servantrip.com/resources/img/minivan_premium_mercedes_v.png
                            waiting_time_minutes: 10
                          preorder_id: VFU4NlpqazBaR016WVdVdFltUmpOaTAwTWprNExXSXdZall0TUdFMU9UUmtaREkzWkRObVh6QXRUVTlEUzBkU1RrUlBUakF4WHpFd01UYz0=
                          pricing:
                            currency_code_3iso: USD
                            prediscount: 481
                            total:
                              base: 432.9
                              recommended: 481
                            unitary:
                              base: 432.9
                              recommended: 481
                          provider:
                            brand: Ground Standard Mock
                            logo: https://media.servantrip.com/resources/img/providers/logos/providerlogo_MOCKGRNDON01.png
                        - cancellation_rates:
                          - amount: 0
                            hour_range_max: 24
                            hour_range_min: 0
                            refund_type: percentage
                          - amount: 100
                            hour_range_min: 24
                            refund_type: percentage
                          ground_information:
                            baggage_allowed:
                              standard_suitcase: 2
                            car_category: premium
                            car_type: minivan
                            car_type_description: Mercedes V Class or similar
                            car_type_name: Private Premium Minivan
                            max_people: 4
                            modifiers:
                            - meet_greet
                            - private
                            - direct_ride
                            - no_green_friendly
                            - refundable
                            - no_weelchair_adapted
[...]
