openapi: 3.1.0
info:
  description: "Public WSB API for third party clients.  \nPrefix: `/api/pub/vX`.\n"
  title: Websitebuilder public API
  version: "0.2"
servers:
- url: https://websitebuilder.one.com/api/pub/v1
- url: https://websitebuilder.hostnet.nl/api/pub/v1
- url: https://websitebuilder.checkdomain.de/api/pub/v1
paths:
  /brands:
    get:
      description: "Brands discovery endpoint.  \nRequires special `root` client acccess\
        \ token\n"
      parameters:
      - explode: true
        in: query
        name: env
        required: false
        schema:
          default: prod
          enum:
          - prod
          - staging
          - phase
          - next
          - test
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Brand'
                type: array
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          description: Internal Server Error. Contact devs
      summary: Get brands list
      tags:
      - Brands
      x-accepts: application/json
  /brands/{codeName}:
    get:
      parameters:
      - explode: false
        in: path
        name: codeName
        required: true
        schema:
          enum:
          - onecom
          - hostnet
          - checkdomain
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
          description: Success
      summary: Get information for specific brand
      tags:
      - Brands
      x-accepts: application/json
  /sso/{domainName}:
    post:
      parameters:
      - explode: false
        in: path
        name: domainName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_sso__domainName__post_200_response'
          description: Success
      summary: Generate WSB SSO for a domain
      tags:
      - WSB
      x-accepts: application/json
components:
  schemas:
    Brand:
      example:
        wsbApiUri:
          hostname: hostname
          baseUrl: baseUrl
        codeName: onecom
      properties:
        codeName:
          enum:
          - onecom
          - hostnet
          - checkdomain
          type: string
        wsbApiUri:
          $ref: '#/components/schemas/Brand_wsbApiUri'
    _sso__domainName__post_200_response:
      example:
        ssoUrl: ssoUrl
        expirationTime: 0.8008281904610115
      properties:
        ssoUrl:
          type: string
        expirationTime:
          description: SSO url expiration UNIX timestamp in milliseconds
          type: number
    Brand_wsbApiUri:
      example:
        hostname: hostname
        baseUrl: baseUrl
      properties:
        hostname:
          type: string
        baseUrl:
          type: string
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http

