openapi: 3.0.3
info:
  contact:
    email: apisupport@mastercard.com
    name: API Support
    url: https://developer.mastercard.com/open-banking-us/documentation/support/
  description: |-
    OpenAPI specification for Finicity APIs.

    Open Banking solutions in the US are provided by Finicity, a Mastercard
    company.
  title: Open Banking
  version: 1.21.3
servers:
- description: Production
  url: https://api.finicity.com
security:
- FinicityAppKey: []
  FinicityAppToken: []
tags:
- description: Fetch or refresh customer accounts
  name: Accounts
- description: Fetch simple customer accounts
  name: Accounts (Simple)
- description: Micro entries and account verification
  name: Account Validation Assistance
- description: Register and assign apps to customers
  name: App Registration
- description: Download asset files
  name: Assets
- description: Generate authentication tokens and manage credentials
  name: Authentication
- description: Balance Analytics for businesses
  name: Balance Analytics
- description: Fetch account statements and generate reports asynchronously
  name: Bank Statements
- description: Create and manage business associated with customers in order to use
    Balance Analytics or Cash Flow Analytics
  name: Businesses API
- description: Generate cash flow reports asynchronously
  name: Cash Flow
- description: Cash Flow Analytics for business
  name: Cash Flow Analytics
- description: Allow customers to log into their financial institutions and grant
    Finicity authorization
  name: Connect 🔗
- description: Create and manage consumers associated with customers in order to use
    report services
  name: Consumers
- description: Enroll and manage customers
  name: Customers
- description: Search and fetch financial institutions
  name: Institutions
- description: Upload pay statements
  name: Pay Statements
- description: Payment History for business
  name: Payment History
- description: Fetch ACH details and account balances
  name: Payments
- description: Generate portfolios of the most recent reports
  name: Portfolios
- description: Fetch generated reports when ready
  name: Reports
- description: Generate and manage access keys for other partners
  name: Third Party Access
- description: Fetch customer and account transactions and generate reports asynchronously
  name: Transactions
- description: Manage TxPush subscriptions
  name: TxPush
- description: Generate asset reports asynchronously
  name: Verify Assets
- description: Generate income and employment reports asynchronously
  name: Verify Income and Employment
- description: APIs to retrieve customer authorization details
  name: Customer Authorization Details
- description: Fetch details of the deposit and bill pay switches
  name: Transfer
paths:
  /aggregation/v2/partners/authentication:
    post:
      description: |-
        Send Partner ID and Partner Secret to the Partner Authentication service to obtain a token for accessing Finicity APIs.
        * The token is valid for two hours and is required on all calls to the Finicity APIs
        * As a best practice, use a single token for all calls. Assign a timestamp for each token, and then check the current timestamp before making any calls. If the token is greater than 90 minutes, generate a new one.
        * ⚠️ After five failed attempts to authenticate, your account will be locked. To reset your account, you can report a support issue using the support.finicity.com portal. Alternatively, contact your Client Success Manager or your onboarding representative.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: CreateToken
      requestBody:
        $ref: '#/components/requestBodies/CreateTokenRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
          description: The access token was successfully created
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                InvalidCredentialsExample:
                  $ref: '#/components/examples/InvalidCredentialsExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: "The request lacks valid authentication credentials. Check\
            \ Partner ID, Partner Secret or Finicity-App-Key."
      security:
      - FinicityAppKey: []
      summary: Create Access Token
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: |-
        Change the Partner Secret used to authenticate this partner.

        The secret does not expire, but can be changed by calling this API. A valid Partner Secret may contain upper and lowercase characters, numbers, and the characters !, @, #, $, %, &, *, _, -, +. It must include at least one number and at least one letter, and its length should be between 12 and 255 characters.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: ModifyPartnerSecret
      requestBody:
        $ref: '#/components/requestBodies/ModifyPartnerSecretRequest'
      responses:
        "204":
          description: The Partner Secret was successfully updated
        "400":
          content:
            application/json:
              examples:
                InvalidNewPartnerSecretExample:
                  $ref: '#/components/examples/InvalidNewPartnerSecretExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                InvalidCredentialsExample:
                  $ref: '#/components/examples/InvalidCredentialsExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: "The request lacks valid authentication credentials. Check\
            \ Partner ID, Partner Secret or Finicity-App-Key."
      security:
      - FinicityAppKey: []
      summary: Modify Partner Secret
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts: application/json
  /connect/v2/generate:
    post:
      description: |-
        Generate a Connect URL link to add within your own applications.

        Optional Parameters:
        * `experience`: Configure different customer experiences per Connect session by changing the brand, color, logo, icon, the type of credit decisioning report to generate after the session ends, and more.
        * `language`: By default, the Connect application is in English. You don't need to pass  this parameter unless you want to translate Connect into one of our supported languages.

          * Spanish (United States)
          * French (Canada)


        MVS Developers: You can pre-populate the consumer's SSN on the Find employment records page at the beginning of the MVS payroll app. Pass the SSN value for the consumer in the body of the request call.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: GenerateConnectUrl
      requestBody:
        $ref: '#/components/requestBodies/GenerateConnectUrlRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectUrl'
          description: The URL link was successfully generated
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
      summary: Generate Connect URL
      tags:
      - Connect 🔗
      x-content-type: application/json
      x-accepts: "application/json,text/plain"
  /connect/v2/generate/lite:
    post:
      description: |-
        Connect Lite is a variation of Connect Full (`POST /connect/v2/generate`), which has a limited set of features.
        * Sign in, user's credentials, and Multi-Factor Authentication (MFA)
        * No user account management

        The Connect Web SDK isn't a requirement when using Connect lite. However, if you want to use the SDK events, routes, and user events, then you must integrate with the Connect Web SDK.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: GenerateLiteConnectUrl
      requestBody:
        $ref: '#/components/requestBodies/GenerateLiteConnectUrlRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectUrl'
          description: The URL link was successfully generated
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
      summary: Generate Lite Connect URL
      tags:
      - Connect 🔗
      x-content-type: application/json
      x-accepts: "application/json,text/plain"
  /connect/v2/generate/fix:
    post:
      description: |-
        Use the Connect Fix API when the following conditions occur:
        * The connection to the user's financial institution is lost
        * The user's credentials were updated (for any number of reasons)
        * The user's MFA challenge has expired

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: GenerateFixConnectUrl
      requestBody:
        $ref: '#/components/requestBodies/GenerateFixConnectUrlRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectUrl'
          description: The URL link was successfully generated
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
      summary: Generate Fix Connect URL
      tags:
      - Connect 🔗
      x-content-type: application/json
      x-accepts: "application/json,text/plain"
  /connect/v2/send/email:
    post:
      description: |-
        Same as Connect Full (`POST /connect/v2/generate`) but send a Connect email to a consumer.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: SendConnectEmail
      requestBody:
        $ref: '#/components/requestBodies/SendConnectEmailRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectEmailUrl'
          description: The URL link was successfully generated and the email sent
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
      summary: Send Connect Email
      tags:
      - Connect 🔗
      x-content-type: application/json
      x-accepts: "application/json,text/plain"
  /connect/v2/generate/jointBorrower:
    post:
      description: |-
        Same as Connect Full (`POST /connect/v2/generate`) but for joint borrowers.

        MVS prompts both the primary and joint borrower to enter each of their financial, payroll, and paystub information in the same Connect session.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: GenerateJointBorrowerConnectUrl
      requestBody:
        $ref: '#/components/requestBodies/GenerateJointBorrowerConnectUrlRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectUrl'
          description: The URL link was successfully generated
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
      summary: Generate Connect URL - Joint Borrower
      tags:
      - Connect 🔗
      x-content-type: application/json
      x-accepts: "application/json,text/plain"
  /connect/v2/generate/microentry/verify:
    post:
      description: |-
        The UI re-engages the consumer to enter two microdeposit amounts found in their account and validates them.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: VerifyMicroEntryMicrodeposit
      requestBody:
        $ref: '#/components/requestBodies/MicroEntryVerifyRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectUrl'
          description: The URL link was successfully generated
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
      summary: Account Validation Assistant User verification of microdeposits
      tags:
      - Connect 🔗
      x-content-type: application/json
      x-accepts: "application/json,text/plain"
  /connect/generate/transfer/deposit-switch:
    post:
      description: Generate a Connect URL which you can use in your application to
        allow end users to select an FI for deposit switch.
      operationId: GenerateTransferDepositSwitchUrl
      requestBody:
        $ref: '#/components/requestBodies/ConnectGenerateTransferDepositSwitch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectUrl'
          description: The URL link was successfully generated
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
      summary: Connect Transfer URL
      tags:
      - Connect 🔗
      x-content-type: application/json
      x-accepts: "application/json,text/plain"
  /connect/v2/send/email/jointBorrower:
    post:
      description: |-
        Same as Connect Joint Borrower (`POST /connect/v2/generate/jointBorrower`) but send a Connect email  to at least one of the joint borrower's email addresses.

        When the consumer opens the email, MVS prompts both the primary and joint borrower to enter each of their financial, payroll, and paystub information in the same Connect session.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: SendJointBorrowerConnectEmail
      requestBody:
        $ref: '#/components/requestBodies/SendJointBorrowerConnectEmailRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectEmailUrl'
          description: The URL link was successfully generated and the email sent
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
      summary: Send Connect Email - Joint Borrower
      tags:
      - Connect 🔗
      x-content-type: application/json
      x-accepts: "application/json,text/plain"
  /aggregation/v2/customers/testing:
    post:
      description: |-
        Enroll a testing customer (Test Drive accounts).

        For using testing customers with FinBank OAuth, you must register a test application with your systems engineer or account manager. Then, use that testing `applicationId` when creating testing customers.

        Testing Customers can access FinBank profiles (except "FinBank Billable" profiles), and cannot access live financial institutions.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: AddTestingCustomer
      requestBody:
        $ref: '#/components/requestBodies/AddCustomerRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedCustomer'
          description: The customer was successfully created
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
      summary: Add Testing Customer
      tags:
      - Customers
      x-content-type: application/json
      x-accepts: "application/json,text/plain"
  /aggregation/v2/customers/active:
    post:
      description: |-
        Enroll an active customer, which is the actual owner of one or more real-world accounts. This is a billable customer.

        Active customers must use the "FinBank Billable" profiles for testing purposes.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: AddCustomer
      requestBody:
        $ref: '#/components/requestBodies/AddCustomerRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedCustomer'
          description: The customer was successfully created
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "429":
          description: The service can't accept more requests or is not available
            from the Test Drive.
      summary: Add Customer
      tags:
      - Customers
      x-content-type: application/json
      x-accepts: "application/json,text/plain"
  /aggregation/v1/customers:
    get:
      description: |-
        Find all customers enrolled by the current partner, where the search text is found in the customer's username or any combination of `firstName` and `lastName` fields. If no search text is provided, all customers will be returned.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: GetCustomers
      parameters:
      - description: Username for exact match (will return 0 or 1 record)
        example: customerusername1
        explode: true
        in: query
        name: username
        required: false
        schema:
          $ref: '#/components/schemas/CustomerUsername'
        style: form
      - description: "\"testing\" or \"active\" to return only customers of that type,\
          \ or leave empty to return all customers"
        example: active
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/CustomerType'
        style: form
      - description: "The text you wish to match. Leave this empty if you wish to\
          \ return all customers. Must be URL-encoded (see: [Handling Spaces in Queries](https://developer.mastercard.com/open-banking-us/documentation/codes-and-formats/))."
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: Search Value
          type: string
        style: form
      - description: Index of the page of results to return
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 1
          example: 1
          format: int32
          type: integer
        style: form
      - description: Maximum number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 1
          format: int32
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers'
          description: Customers were successfully retrieved
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
      summary: Get Customers
      tags:
      - Customers
      x-accepts: "application/json,text/plain"
  /aggregation/v1/customers/{customerId}/application:
    get:
      description: |-
        Retrieve a customer along with additional details about the OAuth application.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: GetCustomerWithAppData
      parameters:
      - description: A customer ID
        example: "1005061234"
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerWithAppData'
          description: The customer was successfully retrieved
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
      summary: Get Customer With App Data by ID
      tags:
      - Customers
      x-accepts: "application/json,text/plain"
  /aggregation/v1/customers/{customerId}:
    delete:
      description: |-
        Delete access to a customer and all associated accounts.
        This will delete access to the customer and all their linked accounts. The customer data will no longer be accessible. Any customer data already collected will be retained in accordance with our enterprise data retention policy consistent with legal and business purposes.
        ⚠️ Use this service carefully! It will not pause for confirmation before performing the operation!
        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: DeleteCustomer
      parameters:
      - description: A customer ID
        example: "1005061234"
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      responses:
        "204":
          description: Access to the customer was successfully removed
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
      summary: Delete Access to Customer by ID
      tags:
      - Customers
      x-accepts: "application/json,text/plain"
    get:
      description: |-
        Retrieve a customer by ID.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: GetCustomer
      parameters:
      - description: A customer ID
        example: "1005061234"
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomer_200_response'
          description: The customer was successfully retrieved
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
      summary: Get Customer by ID
      tags:
      - Customers
      x-accepts: "application/json,text/plain"
    put:
      description: |-
        Modify an enrolled customer by ID.

        You must specify either `firstName`, `lastName`, or both in the request.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: ModifyCustomer
      parameters:
      - description: A customer ID
        example: "1005061234"
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ModifyCustomerRequest'
      responses:
        "204":
          description: The customer was successfully updated
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "403":
          content:
            application/json:
              examples:
                SecurityFreezeErrorExample:
                  $ref: '#/components/examples/DisputeStatementErrorExample'
              schema:
                $ref: '#/components/schemas/DisputeStatementErrorMessage'
          description: The active dispute statement for this consumer exists.
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
      summary: Modify Customer by ID
      tags:
      - Customers
      x-content-type: application/json
      x-accepts: "application/json,text/plain"
  /decisioning/v1/customers/{customerId}/consumer:
    get:
      description: |-
        Get the details of a consumer record by customer ID.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: GetConsumerForCustomer
      parameters:
      - description: A customer ID
        example: "1005061234"
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
          description: The consumer was successfully retrieved
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
      summary: Get the consumer record for the given customer.
      tags:
      - Consumers
      x-accepts: "application/json,text/plain"
    post:
      description: |-
        Create a consumer record associated with the given customer. A consumer persists as the owner of any reports that are generated, even after the original customer is deleted from the system.

        A consumer must be created for the given customer before calling any of the Generate Report services.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: CreateConsumer
      parameters:
      - description: A customer ID
        example: "1005061234"
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateConsumerRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedConsumer'
          description: The consumer was successfully created
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
        "409":
          content:
            application/json:
              examples:
                ConsumerExistsConflictExample:
                  $ref: '#/components/examples/ConsumerExistsConflictExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource already exists
      summary: Create consumer for the customer
      tags:
      - Consumers
      x-content-type: application/json
      x-accepts: "application/json,text/plain"
  /decisioning/v1/consumers/{consumerId}:
    get:
      description: |-
        Get the details of a consumer record by consumer ID.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: GetConsumer
      parameters:
      - description: The consumer ID
        example: 0bf46322c167b562e6cbed9d40e19a4c
        explode: false
        in: path
        name: consumerId
        required: true
        schema:
          $ref: '#/components/schemas/ConsumerId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
          description: The consumer was successfully retrieved
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
      summary: Get Consumer by ID
      tags:
      - Consumers
      x-accepts: "application/json,text/plain"
    put:
      description: |-
        Modify an existing consumer. All fields are required for a consumer record, but individual fields for this call are optional because fields that are not specified will be left unchanged.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: ModifyConsumer
      parameters:
      - description: The consumer ID
        example: 0bf46322c167b562e6cbed9d40e19a4c
        explode: false
        in: path
        name: consumerId
        required: true
        schema:
          $ref: '#/components/schemas/ConsumerId'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ModifyConsumerRequest'
      responses:
        "204":
          description: The consumer was successfully updated
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
      summary: Modify Consumer by ID
      tags:
      - Consumers
      x-content-type: application/json
      x-accepts: "application/json,text/plain"
  /aggregation/v1/customers/{customerId}/institutionLogins/{institutionLoginId}/accounts:
    get:
      description: |-
        Get all accounts associated with the given institution login. All accounts returned are accessible by a single set of credentials on a single institution.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: GetCustomerAccountsByInstitutionLogin
      parameters:
      - description: A customer ID
        example: "1005061234"
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      - description: The institution login ID
        example: "1007302745"
        explode: false
        in: path
        name: institutionLoginId
        required: true
        schema:
          $ref: '#/components/schemas/InstitutionLoginId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAccounts'
          description: The account list was successfully retrieved
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
      summary: Get Customer Accounts by Institution Login ID
      tags:
      - Accounts
      x-accepts: "application/json,text/plain"
    post:
      description: |-
        Refresh account and transaction data for all accounts associated with a given `institutionLoginId` with a connection to the institution.

        Client apps are not permitted to automate calls to the Refresh services. Active accounts are automatically refreshed by Finicity once per day. Because many financial institutions only post transactions once per day, calling Refresh repeatedly is usually a waste of resources and is not recommended.

        Apps may call Refresh services for a specific customer when there is a specific business case for the need of data that is up to date as of the moment. Please discuss with your account manager and systems engineer for further clarification.

        The recommended timeout setting for this request is 120 seconds in order to receive a response. However, you can terminate the connection after making the call the operation will still complete. You will have to pull the account records to check for an updated aggregation attempt date to know when the refresh is complete.

        Note: This service is not available for all Data Access Tiers.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: RefreshCustomerAccountsByInstitutionLogin
      parameters:
      - description: A customer ID
        example: "1005061234"
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      - description: The institution login ID
        example: "1007302745"
        explode: false
        in: path
        name: institutionLoginId
        required: true
        schema:
          $ref: '#/components/schemas/InstitutionLoginId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAccounts'
          description: The account list was successfully refreshed
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
      summary: Refresh Customer Accounts by Institution Login ID
      tags:
      - Accounts
      x-accepts: "application/json,text/plain"
  /aggregation/v2/customers/{customerId}/institutionLogins/{institutionLoginId}/accounts:
    post:
      description: |-
        Refresh account and transaction data for all accounts associated with a given 'institutionLoginId` with a connection to the institution. Client apps are not permitted to automate calls to the Refresh services. Active accounts are automatically refreshed by Finicity once per day.

        Apps may call Refresh services for a specific customer when there is a specific business case for the need of data that is up to date as of the moment. Please discuss with your account manager and systems engineer for further clarification.

        Note: This service will be used for Data Access Tiers ASD, AFD and ATD.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: RefreshCustomerAccountsByInstitutionLoginV2
      parameters:
      - description: A customer ID
        example: "1005061234"
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      - description: The institution login ID
        example: "1007302745"
        explode: false
        in: path
        name: institutionLoginId
        required: true
        schema:
          $ref: '#/components/schemas/InstitutionLoginId'
        style: simple
      responses:
        "204":
          description: The account list was successfully refreshed
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
      summary: Refresh Customer Account by Institution Login ID for Data Access Tiers
      tags:
      - Accounts
      x-accepts: "application/json,text/plain"
  /aggregation/v1/customers/{customerId}/institutionLogins/{institutionLoginId}:
    delete:
      description: |-
        Delete access to all customer accounts for a given FI.​
        This will delete access to the underlying account(s) under a given Institution Login ID. The customer data will no longer be accessible. Any customer data already collected will be retained in accordance with our enterprise retention policy consistent with legal and business purposes.
        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: DeleteCustomerAccountsByInstitutionLogin
      parameters:
      - description: A customer ID
        example: "1005061234"
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      - description: The institution login ID
        example: "1007302745"
        explode: false
        in: path
        name: institutionLoginId
        required: true
        schema:
          $ref: '#/components/schemas/InstitutionLoginId'
        style: simple
      responses:
        "204":
          description: Access to the customer accounts was successfully removed
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
      summary: Delete Access to Customer Accounts by Institution Login ID
      tags:
      - Accounts
      x-accepts: "application/json,text/plain"
  /aggregation/v2/customers/{customerId}/accounts/{accountId}:
    get:
      description: |-
        Get a customer account by ID.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: GetCustomerAccount
      parameters:
      - description: A customer ID
        example: "1005061234"
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      - description: The account ID
        example: "5011648377"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAccount'
          description: The account was successfully retrieved
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
      summary: Get Customer Account by ID
      tags:
      - Accounts
      x-accepts: "application/json,text/plain"
  /aggregation/v1/customers/{customerId}/accounts/{accountId}:
    delete:
      description: |-
        This will delete access to a specific account only. If there are multiple permissioned accounts, then partners and their customers will have the flexibility to continue to access data from other connected accounts using the consented (Oauth) token for the customer.
        The customer data on that specific account will no longer be accessible. Any customer data already collected will be retained in accordance with our enterprise retention policy consistent with legal and business purposes. ​
        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: DeleteCustomerAccount
      parameters:
      - description: A customer ID
        example: "1005061234"
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      - description: The account ID
        example: "5011648377"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/AccountId'
        style: simple
      responses:
        "204":
          description: Access to the customer account was successfully removed
        "400":
          content:
            application/json:
              examples:
                PermissiblePurposeCodeExample:
                  $ref: '#/components/examples/PermissiblePurposeCodeExample'
                MissingFieldExample:
                  $ref: '#/components/examples/MissingFieldExample'
                InvalidFieldExample:
                  $ref: '#/components/examples/InvalidFieldExample'
                InvalidExperienceFieldExample:
                  $ref: '#/components/examples/InvalidExperienceFieldExample'
                GenericBadRequestExample:
                  $ref: '#/components/examples/GenericBadRequestExample'
                AccountTypeNotSupportedExample:
                  $ref: '#/components/examples/AccountTypeNotSupportedExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The request was rejected
        "401":
          content:
            application/json:
              examples:
                ExpiredTokenExample:
                  $ref: '#/components/examples/ExpiredTokenExample'
                MissingFinicityAppKeyExample:
                  $ref: '#/components/examples/MissingFinicityAppKeyExample'
                MissingFinicityAppTokenExample:
                  $ref: '#/components/examples/MissingFinicityAppTokenExample'
                InvalidFinicityAppTokenExample:
                  $ref: '#/components/examples/InvalidFinicityAppTokenExample'
                ExpiredFinicityAppTokenExample:
                  $ref: '#/components/examples/ExpiredFinicityAppTokenExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
            text/plain:
              schema:
                example: Invalid (Finicity-App-Key)
                type: string
          description: The request lacks valid authentication credentials. Check "Finicity-App-Key"
            or "Finicity-App-Token".
        "404":
          content:
            application/json:
              examples:
                ConsumerNotFoundExample:
                  $ref: '#/components/examples/ConsumerNotFoundExample'
                NoAccountForInstitutionLoginIdExample:
                  $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
                CustomerNotFoundExample:
                  $ref: '#/components/examples/CustomerNotFoundExample'
                NoConsumerForCustomerExample:
                  $ref: '#/components/examples/NoConsumerForCustomerExample'
                ResourceNotFoundExample:
                  $ref: '#/components/examples/ResourceNotFoundExample'
                NoRegisteredApplicationExample:
                  $ref: '#/components/examples/NoRegisteredApplicationExample'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: The resource doesn't exist
      summary: Delete Access to Customer Account by ID
      tags:
      - Accounts
      x-accepts: "application/json,text/plain"
  /aggregation/v1/customers/{customerId}/accounts:
    get:
      description: |-
        Get all accounts owned by the given customer.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      operationId: GetCustomerAccounts
      parameters:
      - description: A customer ID
        example: "1005061234"
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      - description: A filter to fetch account in the given status
        example: pending
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/AccountStatus'
        style: form
      - description: "A filter to fetch accounts for the given type. Currently supported\
          \ types: \"ava\""
[...]
