openapi: 3.1.0
info:
  contact:
    email: ml@stageinhome.com
    name: StageInHome Support
  description: "[StageInHome](https://stageinhome.com/) is a service that offers automatic\
    \ virtual decoration for indoor spaces. The API allows users to upload images\
    \ of their indoor spaces and receive digitally staged versions with different\
    \ furniture and decor styles."
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://stageinhome.com/privacy-policy/
  title: StageInHome API
  version: 1.0.1
servers:
- url: https://api.stageinhome.com
tags:
- description: StgeInHome server
  externalDocs:
    description: Find out more
    url: https://app.stageinhome.com/login/
  name: server
- description: Everything about automatic decoration
  externalDocs:
    description: Find out more
    url: https://app.stageinhome.com/login/
  name: decoration
paths:
  /ping:
    get:
      description: ping endpoint
      operationId: ping
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ping'
          description: Successfull
      security:
      - ApiKeyAuth: []
      summary: ping
      tags:
      - server
      x-accepts: application/json
  /auto_decoration:
    post:
      description: Generates an automatic decoration for a input image of an indoor
        space in less than 20 seconds.
      operationId: autoDecoration
      parameters:
      - description: TODO
        explode: true
        in: query
        name: room_type
        required: true
        schema:
          default: bedroom
          enum:
          - bedroom
          - living_room
          - dining_room
          - bathroom
          - kitchen
          - office
          - study_room
          type: string
        style: form
      - description: TODO
        explode: true
        in: query
        name: style
        required: true
        schema:
          default: modern
          enum:
          - modern
          - minimalist
          - classic
          - rustic
          - industrial
          - coastal
          - scandinavian
          - mediterranean
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/autoDecoration_request'
        description: Send an image
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decoration'
          description: Image for decoration uploaded successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/room_type_error'
          description: Bad Request
      security:
      - ApiKeyAuth: []
      summary: Obtain a new automatic 'decoration' image from your input image.
      tags:
      - decoration
      x-content-type: multipart/form-data
      x-accepts: application/json
  /retry_decoration:
    post:
      description: Generates a new decoration for an specific image identified previously
        decorated. The room_type and style can't be modified and it will use the same
        as the ones provided in the auto_decoration call.
      operationId: retryDecoration
      parameters:
      - description: UIID provided in auto_decoration endpoint
        explode: true
        in: query
        name: img_id
        required: true
        schema:
          default: xyz1230x-xyz1-123x-567a-abc123xyz123
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetryDecoration'
          description: Processing a new decoration for specific img_id
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/room_type_error'
          description: Bad Request
      security:
      - ApiKeyAuth: []
      summary: Retry a 'decoration' image using same img_id.
      tags:
      - decoration
      x-accepts: application/json
  /get_decoration:
    get:
      description: Get the full resolution decoration computed automatically using
        the img_id provided in auto_decoration endpoint.
      operationId: getDecoration
      parameters:
      - description: UUID from the decoration provided for auto_decoration endpoint.
        explode: true
        in: query
        name: img_id
        required: true
        schema:
          type: string
        style: form
      - description: Retry id provided for retry_decoration endpoint.
        explode: true
        in: query
        name: retry_id
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecResult'
          description: successful operation (Decoration DONE)
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecNotDone'
          description: successful operation (Decoration INPROGRESS)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_error'
          description: Invalid status value
      security:
      - ApiKeyAuth: []
      summary: Get a full resolution decoration from img_id.
      tags:
      - decoration
      x-accepts: application/json
components:
  schemas:
    Ping:
      example:
        ping: pong!
      properties:
        ping:
          example: pong!
          type: string
    Decoration:
      example:
        img_id: xyz1230x-xyz1-123x-567a-abc123xyz123
      properties:
        img_id:
          example: xyz1230x-xyz1-123x-567a-abc123xyz123
          type: string
    RetryDecoration:
      example:
        img_id: xyz1230x-xyz1-123x-567a-abc123xyz123
        retry_id: 1
      properties:
        img_id:
          example: xyz1230x-xyz1-123x-567a-abc123xyz123
          type: string
        retry_id:
          example: 1
          format: int32
          type: integer
    room_type_error:
      example:
        detail: room_type not acceptable.
      properties:
        detail:
          example: room_type not acceptable.
          type: string
    get_error:
      example:
        detail: image with the specified id does not exist or is empty.
      properties:
        detail:
          example: image with the specified id does not exist or is empty.
          type: string
    DecNotDone:
      description: Decoration not ready
      example:
        STATUS: 0
        decorations: decorations
      properties:
        decorations:
          format: base64
          type: string
          example: null
        STATUS:
          example: 0
          type: integer
    DecResult:
      description: Base64-encoded contents of the decoration
      example:
        STATUS: 1
        decorations:
        - BASE_64 encdoded image
      properties:
        decorations:
          example:
          - BASE_64 encdoded image
          format: base64
          type: string
        STATUS:
          example: 1
          type: integer
    autoDecoration_request:
      properties:
        init_image:
          format: binary
          type: string
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey

