openapi: 3.1.0
info:
  contact:
    email: apiteam@beakon.com
  description: Access Beakon events
  termsOfService: https://beakon.com/acceptable-use-policy
  title: Beakon Event API
  version: 1.0.1
externalDocs:
  description: Find out more about Beakon
  url: https://beakon.com
servers:
- url: https://api.beakon.com
tags:
- description: Event management
  externalDocs:
    description: Find out more about Beakon
    url: https://beakon.com
  name: event
paths:
  /event/find:
    get:
      description: Finds all events after applying filters. Returns results in reverse
        chronological order.
      parameters:
      - description: Tag values that need to be considered for filter
        explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Tag'
          type: array
        style: form
      - description: "Restrict events to those containing an alert after startTimestamp,\
          \ which is a UNIX timestamp (seconds since January 1, 1970)."
        examples:
          October 1, 2023 00:00:00 PT:
            value: 1696143600
        explode: true
        in: query
        name: startTimestamp
        required: false
        schema:
          type: integer
        style: form
      - description: "Restrict events to those containing an alert before endTimestamp,\
          \ which is a UNIX timestamp (seconds since January 1, 1970)."
        examples:
          October 1, 2023 00:02:00 PT:
            value: 1696143720
        explode: true
        in: query
        name: endTimestamp
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Event'
                type: array
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                type: object
          description: Invalid parameter value
        "403":
          content:
            application/json:
              schema:
                type: object
          description: Missing or invalid authentication token
      security:
      - api_key:
        - read:events
      summary: Find Events
      tags:
      - event
      x-accepts: application/json
components:
  schemas:
    ErrorModel:
      properties:
        message:
          type: string
        code:
          maximum: 600
          minimum: 100
          type: integer
      required:
      - code
      - message
    Tag:
      description: |-
        Modifiers
        - commercial (commercial property)
        - fatality
        - gun
        - infrastructure (key public infrastructure)
        - injury (personal injury)
        - weapon (non-gun, deadly weapon)

        Crime
        - assault
        - hostage
        - suspicious (suspicious individual)
        - trespass
        - bomb
        - robbery
        - theft
        - vandalism
        - disturbance (public disturbance)
        - shooting
        - threat (criminal threat of harm)

        Fire & Medical
        - fire
        - explosion
        - smoke
        - medical
        - gas (gas leak)
        - rescue
        - hazmat (hazaradous materials)

        Traffic
        - collision
        - hazard
        - pursuit (vehicle pursuit)
        - transit (public transit)
        - closure (road closure)

        Civil
        - assembly (illegal assembly)
        - rioting
        - looting
        - protest
      enum:
      - commercial
      - fatality
      - gun
      - infrastructure
      - injury
      - weapon
      - assault
      - hostage
      - suspicious
      - trespass
      - bomb
      - robbery
      - theft
      - vandalism
      - disturbance
      - shooting
      - threat
      - fire
      - explosion
      - smoke
      - medical
      - gas
      - rescue
      - hazmat
      - collision
      - hazard
      - pursuit
      - transit
      - closure
      - assembly
      - rioting
      - looting
      - protest
      type: string
    Alert:
      example:
        severity: medium
        dateCreated: 2000-01-23
        urgency: active
        description: Firefighters have received a 911 report of a vehicle collision
          with injuries.
        certainty: reported
        location: "748 Junipero Serra Boulevard, San Francisco, CA, USA"
        geometry: ""
        _id: 654586faf440a71db02490bc
        source: beakon
        title: Vehicle Collision With Injuries
        tags:
        - null
        - null
      properties:
        _id:
          description: UUID
          example: 654586faf440a71db02490bc
          format: uuid
          type: string
        source:
          description: |-
            Event source:
              - beakon: Public Safety Radio
              - news: Internet News
              - 511: 511.org API
              - NWS: National Weather Service API
          enum:
          - beakon
          - news
          - "511"
          - nws
          example: beakon
          type: string
        tags:
          items:
            $ref: '#/components/schemas/Tag'
          type: array
        dateCreated:
          format: date
          type: string
        location:
          example: "748 Junipero Serra Boulevard, San Francisco, CA, USA"
          type: string
        geometry: {}
        title:
          example: Vehicle Collision With Injuries
          type: string
        description:
          example: Firefighters have received a 911 report of a vehicle collision
            with injuries.
          type: string
        certainty:
          enum:
          - reported
          - responded
          - debunked
          example: reported
          type: string
        urgency:
          enum:
          - active
          example: active
          type: string
        severity:
          enum:
          - low
          - medium
          - high
          example: medium
          type: string
    Event:
      example:
        alerts:
        - severity: medium
          dateCreated: 2000-01-23
          urgency: active
          description: Firefighters have received a 911 report of a vehicle collision
            with injuries.
          certainty: reported
          location: "748 Junipero Serra Boulevard, San Francisco, CA, USA"
          geometry: ""
          _id: 654586faf440a71db02490bc
          source: beakon
          title: Vehicle Collision With Injuries
          tags:
          - null
          - null
        - severity: medium
          dateCreated: 2000-01-23
          urgency: active
          description: Firefighters have received a 911 report of a vehicle collision
            with injuries.
          certainty: reported
          location: "748 Junipero Serra Boulevard, San Francisco, CA, USA"
          geometry: ""
          _id: 654586faf440a71db02490bc
          source: beakon
          title: Vehicle Collision With Injuries
          tags:
          - null
          - null
        _id: 654586faf440a71db02490bd
      properties:
        _id:
          description: UUID
          example: 654586faf440a71db02490bd
          format: uuid
          type: string
        alerts:
          items:
            $ref: '#/components/schemas/Alert'
          type: array
    Geometry:
      description: GeoJSon geometry
      externalDocs:
        url: http://geojson.org/geojson-spec.html#geometry-objects
      properties:
        type:
          description: the geometry type
          enum:
          - Point
          - LineString
          - Polygon
          - MultiPoint
          - MultiLineString
          - MultiPolygon
          type: string
      required:
      - type
    Point3D:
      description: Point in 3D space
      items:
        type: number
      maxItems: 3
      minItems: 2
      type: array
    Point:
      allOf:
      - $ref: '#/components/schemas/Geometry'
      - properties:
          coordinates:
            $ref: '#/components/schemas/Point3D'
      description: GeoJSon geometry
      externalDocs:
        url: http://geojson.org/geojson-spec.html#id2
    LineString:
      allOf:
      - $ref: '#/components/schemas/Geometry'
      - properties:
          coordinates:
            items:
              $ref: '#/components/schemas/Point3D'
            type: array
      description: GeoJSon geometry
      externalDocs:
        url: http://geojson.org/geojson-spec.html#id3
    Polygon:
      allOf:
      - $ref: '#/components/schemas/Geometry'
      - properties:
          coordinates:
            items:
              items:
                $ref: '#/components/schemas/Point3D'
              type: array
            type: array
      description: GeoJSon geometry
      externalDocs:
        url: http://geojson.org/geojson-spec.html#id4
    MultiPoint:
      allOf:
      - $ref: '#/components/schemas/Geometry'
      - properties:
          coordinates:
            items:
              $ref: '#/components/schemas/Point3D'
            type: array
      description: GeoJSon geometry
      externalDocs:
        url: http://geojson.org/geojson-spec.html#id5
    MultiLineString:
      allOf:
      - $ref: '#/components/schemas/Geometry'
      - properties:
          coordinates:
            items:
              items:
                $ref: '#/components/schemas/Point3D'
              type: array
            type: array
      description: GeoJSon geometry
      externalDocs:
        url: http://geojson.org/geojson-spec.html#id6
    MultiPolygon:
      allOf:
      - $ref: '#/components/schemas/Geometry'
      - properties:
          coordinates:
            items:
              items:
                items:
                  $ref: '#/components/schemas/Point3D'
                type: array
              type: array
            type: array
      description: GeoJSon geometry
      externalDocs:
        url: http://geojson.org/geojson-spec.html#id6
    GeometryCollection:
      description: GeoJSon geometry collection
      externalDocs:
        url: http://geojson.org/geojson-spec.html#geometrycollection
      properties:
        type:
          enum:
          - GeometryCollection
          type: string
        geometries:
          items:
            $ref: '#/components/schemas/Geometry'
          type: array
      required:
      - geometries
      - type
    Feature:
      description: GeoJSon Feature
      externalDocs:
        url: https://tools.ietf.org/html/rfc7946#section-3.2
      properties:
        type:
          enum:
          - Feature
          type: string
        id:
          type: integer
        geometry:
          $ref: '#/components/schemas/GeometryCollection'
        properties:
          type: object
      required:
      - geometry
      - id
      - type
    FeatureCollection:
      description: GeoJSon Feature collection
      externalDocs:
        url: https://tools.ietf.org/html/rfc7946#section-3.3
      properties:
        type:
          enum:
          - FeatureCollection
          type: string
        features:
          items:
            $ref: '#/components/schemas/Feature'
          type: array
      required:
      - features
      - type
  securitySchemes:
    api_key:
      in: header
      name: x-api-key
      type: apiKey

