openapi: 3.1.0
info:
  description: Remote API to interact between Freshdesk accounts and MasMovil application.
  title: Optima Solutions - Asteo Ticketing
  version: 1.0.0
servers:
- description: Staging Server
  url: https://asteo.pre.optimaprivatecloud.es
- description: Production Server
  url: https://asteo.optimaprivatecloud.es
security:
- basicAuth: []
paths:
  /troubleTicket:
    post:
      description: Create a new ticket in the Freshdesk instance that corresponds
        depending on the requested data.
      requestBody:
        content:
          application/json:
            examples:
              asteo:
                $ref: '#/components/examples/ticketCreateAsteo'
              redaberta:
                $ref: '#/components/examples/ticketCreateRedAberta'
              fictional:
                $ref: '#/components/examples/ticketCreateFictional'
            schema:
              $ref: '#/components/schemas/ticket'
        description: Ticket attributes needed to create a new ticket.
        required: true
      responses:
        "201":
          $ref: '#/components/responses/ticketCreated'
        "400":
          $ref: '#/components/responses/badRequest'
        "401":
          $ref: '#/components/responses/unauthorized'
      summary: Create a new ticket in TO.
      tags:
      - fromTUtoTO
      x-content-type: application/json
      x-accepts: application/json
  /troubleTicket/{primaryKey}:
    patch:
      description: Update the ticket in TO system.
      parameters:
      - explode: false
        in: path
        name: primaryKey
        required: true
        schema:
          description: Primary key of the ticket.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              tuRejectCancellation:
                $ref: '#/components/examples/tuRejectCancellation'
              tuRejectResolution:
                $ref: '#/components/examples/tuRejectResolution'
              tuSendInformation:
                $ref: '#/components/examples/tuSendInformation'
              tuClose:
                $ref: '#/components/examples/tuClose'
              tuSendInformationNoChangeStatus:
                $ref: '#/components/examples/tuSendInformationNoChangeStatus'
              tuCancel:
                $ref: '#/components/examples/tuCancel'
            schema:
              $ref: '#/components/schemas/updateTicket'
        description: Ticket object to update a ticket.
        required: true
      responses:
        "200":
          $ref: '#/components/responses/ticketUpdated'
        "400":
          $ref: '#/components/responses/badRequest'
        "401":
          $ref: '#/components/responses/unauthorized'
      summary: Update an existing ticket from TU to TO.
      tags:
      - fromTUtoTO
      x-content-type: application/json
      x-accepts: application/json
  /troubleTicket/update:
    post:
      description: The ticket status changes in TO and send information to TU.
      requestBody:
        content:
          application/json:
            examples:
              toRequestInformation:
                $ref: '#/components/examples/toRequestInformation'
              toRequestCancelation:
                $ref: '#/components/examples/toRequestCancelation'
              toResolve:
                $ref: '#/components/examples/toResolve'
            schema:
              $ref: '#/components/schemas/updateTicket'
        description: Ticket object to update a ticket.
        required: true
      responses:
        "200":
          $ref: '#/components/responses/ticketUpdated'
        "400":
          $ref: '#/components/responses/badRequest'
        "401":
          $ref: '#/components/responses/unauthorized'
      summary: Update an existing ticket from TO to TU.
      tags:
      - fromTOtoTU
      x-content-type: application/json
      x-accepts: application/json
components:
  examples:
    ticketCreateAsteo:
      summary: Create a ticket in Asteo FD instance
      value:
        baseTroubleTicketState: OPENACTIVE
        mirrorKey: AS-5000
        customerTroubleNum: O06999999999
        dialog: Ticket from API
        troubleType: Question
        troubleDescription: This the detailed information.
        troubleDetectionTime: 2023-07-20T00:00:00
        preferredPriority: 1
        troubledObject: Afected
        clearancePerson: Remote Agent
        homeID: "01234"
        gescal37ID: Gescal37
        wh1Parameter: Red
        wh2Parameter: Additional information
        wh3Parameter: Additional information
        wh4Parameter: Additional information
        wh5Parameter: Additional information
        customer: 10
        attachments:
        - content: ZmlsZSBudW1iZXIgMQ==
          mimeType: text/plain
          name: file1.txt
        - content: ZmlsZSBudW1iZXIgMQ==
          mimeType: text/plain
          name: file2.txt
    ticketCreateRedAberta:
      summary: Create a ticket in Red Aberta FD instance
      value:
        baseTroubleTicketState: OPENACTIVE
        mirrorKey: RED-5001
        customerTroubleNum: O15999999999
        dialog: Ticket from API
        troubleType: Question
        troubleDescription: This the detailed information.
        troubleDetectionTime: 2023-07-20T00:00:00
        preferredPriority: 1
        troubledObject: Afected
        clearancePerson: Remote Agent
        homeID: "01234"
        gescal37ID: Gescal37
        wh1Parameter: Red
        wh2Parameter: Additional information
        wh3Parameter: Additional information
        wh4Parameter: Additional information
        wh5Parameter: Additional information
        customer: 10
        attachments:
        - content: ZmlsZSBudW1iZXIgMQ==
          mimeType: text/plain
          name: file1.txt
        - content: ZmlsZSBudW1iZXIgMQ==
          mimeType: text/plain
          name: file2.txt
    ticketCreateFictional:
      summary: Create a ticket from Fictional IUA
      value:
        baseTroubleTicketState: OPENACTIVE
        mirrorKey: RED-5001
        customerTroubleNum: X99999999999
        dialog: Ticket from API
        troubleType: Question
        troubleDescription: This the detailed information.
        troubleDetectionTime: 2023-07-20T00:00:00
        preferredPriority: 1
        troubledObject: Afected
        clearancePerson: Remote Agent
        homeID: XAS88840049000000000000000000000000772
        gescal37ID: Gescal37
        wh1Parameter: Red
        wh2Parameter: Additional information
        wh3Parameter: Additional information
        wh4Parameter: Additional information
        wh5Parameter: Additional information
        customer: 10
    tuRejectCancellation:
      summary: TU rejects cancellation request
      value:
        baseTroubleTicketState: OPENACTIVE
        primaryKey: AS-13
        mirrorKey: RED-5001
        dialog: This will be inserted as a Note in FD.
        clearancePerson: Remote Agent
    tuRejectResolution:
      summary: TU rejects ticket resolution
      value:
        baseTroubleTicketState: OPENACTIVE
        primaryKey: AS-13
        mirrorKey: RED-5001
        dialog: Write here the detailed information about the reject ticket resolution.
    tuSendInformation:
      summary: TU send additional information
      value:
        baseTroubleTicketState: OPENACTIVE
        primaryKey: AS-13
        mirrorKey: RED-5001
        dialog: Write here iformation about the files.
        attachments:
        - content: ZmlsZSBudW1iZXIgMQ==
          mimeType: text/plain
          name: file1.txt
        - content: ZmlsZSBudW1iZXIgMQ==
          mimeType: text/plain
          name: file2.txt
    tuClose:
      summary: TU close the ticket
      value:
        baseTroubleTicketState: CLOSED
        primaryKey: AS-13
        mirrorKey: RED-5001
        dialog: The ticket was closed.
    tuSendInformationNoChangeStatus:
      summary: TU send additional information without status change
      value:
        primaryKey: AS-13
        mirrorKey: RED-5001
        dialog: Write here iformation about the files.
        attachments:
        - content: ZmlsZSBudW1iZXIgMQ==
          mimeType: text/plain
          name: file1.txt
        - content: ZmlsZSBudW1iZXIgMQ==
          mimeType: text/plain
          name: file2.txt
    tuCancel:
      summary: TU cancel the ticket
      value:
        baseTroubleTicketState: CLOSED.CANCELED
        primaryKey: AS-13
        mirrorKey: RED-5001
        dialog: The ticket was canceled.
    toRequestInformation:
      summary: TO request additional information
      value:
        baseTroubleTicketState: DEFERRED.AWAITING-INFORMATION
        primaryKey: AS-13
        mirrorKey: RED-5001
        dialog: We need more information.
    toRequestCancelation:
      summary: TO request cancelation
      value:
        baseTroubleTicketState: DEFERRED.AWAITING-CANCELATION
        primaryKey: AS-13
        mirrorKey: RED-5001
        dialog: We want to cancel the ticket.
    toResolve:
      summary: TO resolve the ticket
      value:
        baseTroubleTicketState: CLEARED
        primaryKey: AS-13
        mirrorKey: RED-5001
        dialog: We resolved the ticket.
    illegalArgumentException:
      summary: Validation error
      value:
        illegalArgumentException: "Required fields: mirrorKey, baseTroubleTicketState"
    remoteException:
      summary: Save error
      value:
        remoteException: "Could not save the entity: any reason"
  responses:
    unauthorized:
      description: Unauthorized
    badRequest:
      content:
        application/json:
          examples:
            illegalArgumentException:
              $ref: '#/components/examples/illegalArgumentException'
            remoteException:
              $ref: '#/components/examples/remoteException'
          schema:
            oneOf:
            - $ref: '#/components/schemas/illegalArgumentException'
            - $ref: '#/components/schemas/remoteException'
      description: Bad request. An error occurred when send request.
    ticketCreated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ticketKeys'
      description: The ticket has been created successfully.
    ticketUpdated:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateTicket'
      description: The ticket has been updated successfully.
  schemas:
    ticketId:
      properties:
        mirrorKey:
          type: string
    ticketPrimaryKey:
      properties:
        primaryKey:
          description: Primary key from TO system.
          type: string
    ticketKeys:
      allOf:
      - $ref: '#/components/schemas/ticketId'
      - $ref: '#/components/schemas/ticketPrimaryKey'
    ticketBase:
      properties:
        dialog:
          type: string
        troubleType:
          type: string
        troubleDescription:
          type: string
        preferredPriority:
          type: integer
        customerTroubleNum:
          type: string
        wh1Parameter:
          type: string
    ticket:
      allOf:
      - $ref: '#/components/schemas/ticketId'
      - $ref: '#/components/schemas/ticketBase'
      - properties:
          baseTroubleTicketState:
            type: string
          troubleDetectionTime:
            description: Issue dectention datetime.
            format: date-time
            type: string
          troubledObject:
            type: string
          homeID:
            description: Client home identifier. This field is required when issue
              type is client and IUA is not ready.
            maxLength: 255
            type: string
          wh2Parameter:
            description: Additional information.
            maxLength: 255
            type: string
          wh3Parameter:
            description: Additional information.
            maxLength: 255
            type: string
          wh4Parameter:
            description: Additional information.
            maxLength: 255
            type: string
          wh5Parameter:
            description: Additional information.
            maxLength: 255
            type: string
          customer:
            type: string
          attachments:
            items:
              $ref: '#/components/schemas/ticket_allOf_attachments_inner'
            type: array
    updateTicket:
      allOf:
      - $ref: '#/components/schemas/ticketKeys'
      - $ref: '#/components/schemas/ticketBase'
    illegalArgumentException:
      description: "Exception for wrong value if any of the fields of the received\
        \ ticket has an invalid value, a required field is missing, etc."
      properties:
        illegalArgumentException:
          type: string
    remoteException:
      description: "Exception of the real TT system; communication errors with the\
        \ same, etc."
      properties:
        remoteException:
          type: string
    ticket_allOf_attachments_inner:
      description: An attachment.
      properties:
        content:
          description: "The actual contents of the attachment object, if embedded,\
            \ encoded as base64."
          type: string
        mimeType:
          description: "Attachment mime type such as extension file for video, picture\
            \ and document."
          type: string
        name:
          description: The name of the attachment.
          type: string
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http

