openapi: 3.1.0
info:
  contact:
    email: support@infomaniak.com
    name: Infomaniak Support
    url: https://developer.infomaniak.com/
  license:
    name: MIT License
    url: https://developer.infomaniak.com/license
  termsOfService: https://www.infomaniak.com/en/legal/general-terms-and-conditions
  title: API Reference - Developer tools
  version: 1.0.0
servers:
- url: https://api.infomaniak.com
paths:
  /1/kmeet/rooms:
    post:
      deprecated: false
      description: |-
        This endpoint allows you to plan a conference with predefined settings. It will add an event on your Infomaniak Calendar with the meeting url.
         If you just want to create a room you don't need any API calls, you can build a conference URL by adding an unique identifier to your kMeet instance url (eg: kmeet.infomaniak.com/${MY_VERY_SECRET_CONFERENCE_ID})
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlannedConference'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_1_kmeet_rooms_post_200_response'
          description: Default Response
        "422":
          description: Unprocessable Entity
      security:
      - bearerAuth: []
      summary: Plan a conference
      tags:
      - Plan a conference
      x-content-type: application/json
      x-accepts: application/json
  /1/kmeet/rooms/{room_id}/settings:
    get:
      deprecated: false
      description: |
        This endpoint allows you to fetch room settings.
      parameters:
      - description: Unique identifier of the room settings
        explode: false
        in: path
        name: room_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_1_kmeet_rooms_post_200_response'
          description: Default response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_1_kmeet_rooms__room_id__settings_get_403_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_1_kmeet_rooms__room_id__settings_get_404_response'
          description: Not Found
      security:
      - bearerAuth: []
      summary: Get room settings
      tags:
      - Room settings
      x-accepts: application/json
  /teams/{team_id}/top/reactions:
    get:
      description: |
        Get a list of the top reactions across all public and private channels (the user is a member of) for a given team.
        ##### Permissions
        Must have `view_team` permission for the team.
      operationId: GetTopReactionsForTeam
      parameters:
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Time range can be "today", "7_day", or "28_day".
          - `today`: reactions posted on the current day.
          - `7_day`: reactions posted in the last 7 days.
          - `28_day`: reactions posted in the last 28 days.
        explode: true
        in: query
        name: time_range
        required: true
        schema:
          type: string
        style: form
      - description: The page to select.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: "The number of items per page, up to a maximum of 200."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 60
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopReactionList'
          description: Top reactions retrieved successfully.
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Get a list of the top reactions for a team.
      tags:
      - insights
      x-accepts: application/json
  /users/me/top/reactions:
    get:
      description: |
        Get a list of the top reactions across all public and private channels (the user is a member of) for a given user.
        If no `team_id` is provided, this will also include reactions posted by the given user in direct and group messages.
        ##### Permissions
        Must be logged in as the user.
      operationId: GetTopReactionsForUser
      parameters:
      - description: |
          Time range can be "today", "7_day", or "28_day".
          - `today`: reactions posted on the current day.
          - `7_day`: reactions posted in the last 7 days.
          - `28_day`: reactions posted in the last 28 days.
        explode: true
        in: query
        name: time_range
        required: true
        schema:
          type: string
        style: form
      - description: The page to select.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: "The number of items per page, up to a maximum of 200."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 60
          type: integer
        style: form
      - description: |
          Team ID will scope the response to a given team and exclude direct and group messages.
          ##### Permissions
          Must have `view_team` permission for the team.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopReactionList'
          description: Top reactions retrieved successfully.
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Get a list of the top reactions for a user.
      tags:
      - insights
      x-accepts: application/json
  /teams/{team_id}/top/channels:
    get:
      description: |
        Get a list of the top public and private channels (the user is a member of) for a given team.
        ##### Permissions
        Must have `view_team` permission for the team.
      operationId: GetTopChannelsForTeam
      parameters:
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Time range can be "today", "7_day", or "28_day".
          - `today`: channels with posts on the current day.
          - `7_day`: channels with posts in the last 7 days.
          - `28_day`: channels with posts in the last 28 days.
        explode: true
        in: query
        name: time_range
        required: true
        schema:
          type: string
        style: form
      - description: The page to select.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: "The number of items per page, up to a maximum of 200."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 60
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopChannelList'
          description: Top channels retrieved successfully.
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Get a list of the top channels for a team.
      tags:
      - insights
      x-accepts: application/json
  /users/me/top/channels:
    get:
      description: |
        Get a list of the top public and private channels (the user is a member of) for a given user.
        ##### Permissions
        Must be logged in as the user.
      operationId: GetTopChannelsForUser
      parameters:
      - description: |
          Time range can be "today", "7_day", or "28_day".
          - `today`: channels with posts on the current day.
          - `7_day`: channels with posts in the last 7 days.
          - `28_day`: channels with posts in the last 28 days.
        explode: true
        in: query
        name: time_range
        required: true
        schema:
          type: string
        style: form
      - description: The page to select.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: "The number of items per page, up to a maximum of 200."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 60
          type: integer
        style: form
      - description: |
          Team ID will scope the response to a given team.
          ##### Permissions
          Must have `view_team` permission for the team.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopChannelList'
          description: Top channels retrieved successfully.
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Get a list of the top channels for a user.
      tags:
      - insights
      x-accepts: application/json
  /teams/{team_id}/top/team_members:
    get:
      description: |
        Get a list of all of the new team members that have joined the given team during the given time period.
        ##### Permissions
        Must have `view_team` permission for the team.
      operationId: GetNewTeamMembers
      parameters:
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Time range can be "today", "7_day", or "28_day".
          - `today`: team members who joined during the current day.
          - `7_day`: team members who joined in the last 7 days.
          - `28_day`: team members who joined in the last 28 days.
        explode: true
        in: query
        name: time_range
        required: true
        schema:
          type: string
        style: form
      - description: The page to select.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The number of items per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 60
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewTeamMembersList'
          description: New team members retrieved successfully.
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Get a list of new team members.
      tags:
      - insights
      x-accepts: application/json
  /teams/{team_id}/top/threads:
    get:
      description: |
        Get a list of the top threads from public and private channels (the user is a member of) for a given team.
        ##### Permissions
        Must have `view_team` permission for the team.
      operationId: GetTopThreadsForTeam
      parameters:
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Time range can be "today", "7_day", or "28_day".
          - `today`: threads with activity on the current day.
          - `7_day`: threads with activity in the last 7 days.
          - `28_day`: threads with activity in the last 28 days.
        explode: true
        in: query
        name: time_range
        required: true
        schema:
          type: string
        style: form
      - description: The page to select.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: "The number of items per page, up to a maximum of 200."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 60
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopThreadList'
          description: Top threads retrieved successfully.
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Get a list of the top threads for a team.
      tags:
      - insights
      x-accepts: application/json
  /users/me/top/threads:
    get:
      description: |
        Get a list of the top threads from public and private channels (the user is a member of and participating in the thread) for a given user.
        ##### Permissions
        Must be logged in as the user.
      operationId: GetTopThreadsForUser
      parameters:
      - description: |
          Time range can be "today", "7_day", or "28_day".
          - `today`: threads with activity on the current day.
          - `7_day`: threads with activity in the last 7 days.
          - `28_day`: threads with activity in the last 28 days.
        explode: true
        in: query
        name: time_range
        required: true
        schema:
          type: string
        style: form
      - description: The page to select.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: "The number of items per page, up to a maximum of 200."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 60
          type: integer
        style: form
      - description: |
          Team ID will scope the response to a given team.
          ##### Permissions
          Must have `view_team` permission for the team.
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopThreadList'
          description: Top threads retrieved successfully.
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Get a list of the top threads for a user.
      tags:
      - insights
      x-accepts: application/json
  /users/me/top/dms:
    get:
      description: |
        Get a list of the top dms for a given user.
        ##### Permissions
        Must be logged in as the user.
      operationId: GetTopDMsForUser
      parameters:
      - description: |
          Time range can be "today", "7_day", or "28_day".
          - `today`: threads with activity on the current day.
          - `7_day`: threads with activity in the last 7 days.
          - `28_day`: threads with activity in the last 28 days.
        explode: true
        in: query
        name: time_range
        required: true
        schema:
          type: string
        style: form
      - description: The page to select.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: "The number of items per page, up to a maximum of 200."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 60
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopDMList'
          description: Top dms retrieved successfully.
        "400":
          $ref: '#/components/responses/BadRequest'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Get a list of the top dms for a user.
      tags:
      - insights
      x-accepts: application/json
  /users:
    get:
      description: |
        Get a page of a list of users. Based on query string parameters, select users from a team, channel, or select users not in a specific channel.

        Some basic sorting is available using the `sort` query parameter. Sorting is currently only supported when selecting users on a team.
        ##### Permissions
        Requires an active session and (if specified) membership to the channel or team being selected from.
      operationId: GetUsers
      parameters:
      - description: The page to select.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The number of users per page. There is a maximum limit of 200
          users per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 60
          type: integer
        style: form
      - description: The ID of the team to get users for.
        explode: true
        in: query
        name: in_team
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the team to exclude users for. Must not be used with
          "in_team" query parameter.
        explode: true
        in: query
        name: not_in_team
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the channel to get users for.
        explode: true
        in: query
        name: in_channel
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the channel to exclude users for. Must be used with
          "in_channel" query parameter.
        explode: true
        in: query
        name: not_in_channel
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the group to get users for. Must have `manage_system`
          permission.
        explode: true
        in: query
        name: in_group
        required: false
        schema:
          type: string
        style: form
      - description: "When used with `not_in_channel` or `not_in_team`, returns only\
          \ the users that are allowed to join the channel or team based on its group\
          \ constrains."
        explode: true
        in: query
        name: group_constrained
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether or not to list users that are not on any team. This\
          \ option takes precendence over `in_team`, `in_channel`, and `not_in_channel`."
        explode: true
        in: query
        name: without_team
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not to list only users that are active. This option
          cannot be used along with the `inactive` option.
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not to list only users that are deactivated. This
          option cannot be used along with the `active` option.
        explode: true
        in: query
        name: inactive
        required: false
        schema:
          type: boolean
        style: form
      - description: Returns users that have this role.
        explode: true
        in: query
        name: role
        required: false
        schema:
          type: string
        style: form
      - description: |
          Sort is only available in conjunction with certain options below. The paging parameter is also always available.

          ##### `in_team`
          Can be "", "last_activity_at" or "create_at".
          When left blank, sorting is done by username.
          ##### `in_channel`
          Can be "", "status".
          When left blank, sorting is done by username. `status` will sort by User's current status (Online, Away, DND, Offline), then by Username.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: |+
          Comma separated string used to filter users based on any of the specified system roles

          Example: `?roles=system_admin,system_user` will return users that are either system admins or system users

        explode: true
        in: query
        name: roles
        required: false
        schema:
          type: string
        style: form
      - description: |+
          Comma separated string used to filter users based on any of the specified channel roles, can only be used in conjunction with `in_channel`

          Example: `?in_channel=4eb6axxw7fg3je5iyasnfudc5y&channel_roles=channel_user` will return users that are only channel users and not admins or guests

        explode: true
        in: query
        name: channel_roles
        required: false
        schema:
          type: string
        style: form
      - description: |+
          Comma separated string used to filter users based on any of the specified team roles, can only be used in conjunction with `in_team`

          Example: `?in_team=4eb6axxw7fg3je5iyasnfudc5y&team_roles=team_user` will return users that are only team users and not admins or guests

        explode: true
        in: query
        name: team_roles
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: User page retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Get users
      tags:
      - users
      x-accepts: application/json
  /users/ids:
    post:
      description: |
        Get a list of users based on a provided list of user ids.
        ##### Permissions
        Requires an active session but no other permissions.
      operationId: GetUsersByIds
      parameters:
      - description: |+
          Only return users that have been modified since the given Unix timestamp (in milliseconds).

        explode: true
        in: query
        name: since
        required: false
        schema:
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        description: List of user ids
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: User list retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: Get users by ids
      tags:
      - users
      x-content-type: application/json
      x-accepts: application/json
  /users/group_channels:
    post:
      description: |+
        Get an object containing a key per group channel id in the
        query and its value as a list of users members of that group
        channel.

        The user must be a member of the group ids in the query, or
        they will be omitted from the response.
        ##### Permissions
        Requires an active session but no other permissions.

      operationId: GetUsersByGroupChannelIds
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        description: List of group channel ids
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersByGroupChannelIds_200_response'
          description: User list retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: Get users by group channels ids
      tags:
      - users
      x-content-type: application/json
      x-accepts: application/json
  /users/usernames:
    post:
      description: |
        Get a list of users based on a provided list of usernames.
        ##### Permissions
        Requires an active session but no other permissions.
      operationId: GetUsersByUsernames
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        description: List of usernames
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: User list retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: Get users by usernames
      tags:
      - users
      x-content-type: application/json
      x-accepts: application/json
  /users/search:
    post:
      description: |
        Get a list of users based on search criteria provided in the request body. Searches are typically done against username, full name, nickname and email unless otherwise configured by the server.
        ##### Permissions
        Requires an active session and `read_channel` and/or `view_team` permissions for any channels or teams specified in the request body.
      operationId: SearchUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchUsers_request'
        description: Search criteria
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: User list retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Search users
      tags:
      - users
      x-content-type: application/json
      x-accepts: application/json
  /users/autocomplete:
    get:
      description: |
        Get a list of users for the purpose of autocompleting based on the provided search term. Specify a combination of `team_id` and `channel_id` to filter results further.
        ##### Permissions
        Requires an active session and `view_team` and `read_channel` on any teams or channels used to filter the results further.
      operationId: AutocompleteUsers
      parameters:
      - description: Team ID
        explode: true
        in: query
        name: team_id
        required: false
        schema:
          type: string
        style: form
      - description: Channel ID
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          type: string
        style: form
      - description: "Username, nickname first name or last name"
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: |
          The maximum number of users to return in each subresult

          __Defaults to `100` if not provided.__
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAutocomplete'
          description: User autocomplete successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Autocomplete users
      tags:
      - users
      x-accepts: application/json
  /users/{user_id}:
    get:
      description: |
        Get a user a object. Sensitive information will be sanitized out.
        ##### Permissions
        Requires an active session but no other permissions.
      operationId: GetUser
      parameters:
      - description: User GUID. This can also be "me" which will point to the current
          user.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: User retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get a user
      tags:
      - users
      x-accepts: application/json
  /users/{user_id}/patch:
    put:
      description: |
        Partially update a user by providing only the fields you want to update. Omitted fields will not be updated. The fields that can be updated are defined in the request body, all other provided fields will be ignored.
        ##### Permissions
        Must be logged in as the user being updated or have the `edit_other_users` permission.
      operationId: PatchUser
      parameters:
      - description: User GUID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUser_request'
        description: User object that is to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: User patch successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Patch a user
      tags:
      - users
      x-content-type: application/json
      x-accepts: application/json
  /users/{user_id}/roles:
    put:
      description: |
        Update a user's system-level roles. Valid user roles are "system_user", "system_admin" or both of them. Overwrites any previously assigned system-level roles.
        ##### Permissions
        Must have the `manage_roles` permission.
      operationId: UpdateUserRoles
      parameters:
      - description: User GUID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRoles_request'
        description: Space-delimited system roles to assign to the user
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
          description: User roles update successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Update a user's roles
      tags:
      - users
      x-content-type: application/json
      x-accepts: application/json
  /users/{user_id}/image:
    get:
      description: |
        Get a user's profile image based on user_id string parameter.
        ##### Permissions
        Must be logged in.
      operationId: GetProfileImage
      parameters:
      - description: User GUID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Not used by the server. Clients can pass in the last picture
          update time of the user to potentially take advantage of caching
        explode: true
        in: query
        name: _
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: User's profile image
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "501":
          $ref: '#/components/responses/NotImplemented'
      summary: Get user's profile image
      tags:
      - users
      x-accepts: "application/json,image/png"
  /users/{user_id}/image/default:
    get:
      description: |
        Returns the default (generated) user profile image based on user_id string parameter.
        ##### Permissions
        Must be logged in.
      operationId: GetDefaultProfileImage
      parameters:
      - description: User GUID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: Default profile image
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "501":
          $ref: '#/components/responses/NotImplemented'
      summary: Return user's default (generated) profile image
      tags:
      - users
      x-accepts: "application/json,image/png"
  /users/username/{username}:
    get:
      description: |
        Get a user object by providing a username. Sensitive information will be sanitized out.
        ##### Permissions
        Requires an active session but no other permissions.
      operationId: GetUserByUsername
      parameters:
      - description: Username
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: User retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get a user by username
      tags:
      - users
      x-accepts: application/json
  /users/email/{email}:
    get:
      description: |
        Get a user object by providing a user email. Sensitive information will be sanitized out.
        ##### Permissions
        Requires an active session and for the current session to be able to view another user's email based on the server's privacy settings.
      operationId: GetUserByEmail
      parameters:
      - description: User Email
        explode: false
        in: path
        name: email
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: User retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get a user by email
      tags:
      - users
      x-accepts: application/json
  /users/{user_id}/channel_members:
    get:
      description: |
        Get all channel members for a user.

        ##### Permissions
        Logged in as the user, or have `edit_other_users` permission.
      operationId: GetChannelMembersWithTeamDataForUser
      parameters:
      - description: The ID of the user. This can also be "me" which will point to
          the current user.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Page specifies which part of the results to return, by PageSize."
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: PageSize specifies the size of the returned chunk of results.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ChannelMemberWithTeamData'
                type: array
          description: User's uploads retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get all channel members for a user
      tags:
      - users
      x-accepts: application/json
  /users/{user_id}/teams/{team_id}/threads:
    get:
      description: |
        Get all threads that user is following


        ##### Permissions
        Must be logged in as the user or have `edit_other_users` permission.
      operationId: GetUserThreads
      parameters:
      - description: The ID of the user. This can also be "me" which will point to
          the current user.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the team in which the thread is.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: Since filters the threads based on their LastUpdateAt timestamp.
        explode: true
        in: query
        name: since
        required: false
        schema:
          type: integer
        style: form
      - description: Deleted will specify that even deleted threads should be returned
          (For mobile sync).
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Extended will enrich the response with participant details.
        explode: true
        in: query
        name: extended
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Page specifies which part of the results to return, by PageSize."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: PageSize specifies the size of the returned chunk of results.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: Setting this to true will only return the total counts.
        explode: true
        in: query
        name: totalsOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Setting this to true will only return threads.
        explode: true
        in: query
        name: threadsOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserThreads'
          description: User's thread retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get all threads that user is following
      tags:
      - threads
      x-accepts: application/json
  /users/{user_id}/teams/{team_id}/threads/read:
    put:
      description: |
        Mark all threads that user is following as read


        ##### Permissions
        Must be logged in as the user or have `edit_other_users` permission.
      operationId: UpdateThreadsReadForUser
      parameters:
      - description: The ID of the user. This can also be "me" which will point to
          the current user.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the team in which the thread is.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
          description: User's thread update successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Mark all threads that user is following as read
      tags:
      - threads
      x-accepts: application/json
  /users/{user_id}/teams/{team_id}/threads/{thread_id}/read/{timestamp}:
    put:
      description: |
        Mark a thread that user is following as read


        ##### Permissions
        Must be logged in as the user or have `edit_other_users` permission.
      operationId: UpdateThreadReadForUser
      parameters:
      - description: The ID of the user. This can also be "me" which will point to
          the current user.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the team in which the thread is.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the thread to update
        explode: false
        in: path
        name: thread_id
        required: true
        schema:
          type: string
        style: simple
      - description: The timestamp to which the thread's "last read" state will be
          reset.
        explode: false
        in: path
        name: timestamp
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserThread'
          description: User's thread update successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Mark a thread that user is following read state to the timestamp
      tags:
      - threads
      x-accepts: application/json
  /users/{user_id}/teams/{team_id}/threads/{thread_id}/set_unread/{post_id}:
    put:
      description: |
        Mark a thread that user is following as unread

        ##### Permissions
        Must have `read_channel` permission for the channel the thread is in or if the channel is public, have the `read_public_channels` permission for the team.

        Must have `edit_other_users` permission if the user is not the one marking the thread for himself.
      operationId: SetThreadUnreadByPostId
      parameters:
      - description: The ID of the user. This can also be "me" which will point to
          the current user.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the team in which the thread is.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the thread to update
        explode: false
        in: path
        name: thread_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of a post belonging to the thread to mark as unread.
        explode: false
        in: path
        name: post_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserThread'
          description: User's thread update successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Mark a thread that user is following as unread based on a post id
      tags:
      - threads
      x-accepts: application/json
  /users/{user_id}/teams/{team_id}/threads/{thread_id}/following:
    delete:
      description: |
        Stop following a thread


        ##### Permissions
        Must be logged in as the user or have `edit_other_users` permission.
      operationId: StopFollowingThread
      parameters:
      - description: The ID of the user. This can also be "me" which will point to
          the current user.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the team in which the thread is.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the thread to update
        explode: false
        in: path
        name: thread_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
          description: User's thread update successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Stop following a thread
      tags:
      - threads
      x-accepts: application/json
    put:
      description: |
        Start following a thread


        ##### Permissions
        Must be logged in as the user or have `edit_other_users` permission.
      operationId: StartFollowingThread
      parameters:
      - description: The ID of the user. This can also be "me" which will point to
          the current user.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the team in which the thread is.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the thread to follow
        explode: false
        in: path
        name: thread_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
          description: User's thread update successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Start following a thread
      tags:
      - threads
      x-accepts: application/json
  /users/{user_id}/teams/{team_id}/threads/{thread_id}:
    get:
      description: |
        Get a thread


        ##### Permissions
        Must be logged in as the user or have `edit_other_users` permission.
      operationId: GetUserThread
      parameters:
      - description: The ID of the user. This can also be "me" which will point to
          the current user.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the team in which the thread is.
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the thread to follow
        explode: false
        in: path
        name: thread_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserThread'
          description: Get was successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get a thread followed by the user
      tags:
      - threads
      x-accepts: application/json
  /users/{user_id}/status:
    get:
      description: |
        Get user status by id from the server.
        ##### Permissions
        Must be authenticated.
      operationId: GetUserStatus
      parameters:
      - description: User ID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: User status retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: Get user status
      tags:
      - status
      x-accepts: application/json
    put:
      description: |
        Manually set a user's status. When setting a user's status, the status will remain that value until set "online" again, which will return the status to being automatically updated based on user activity.
        ##### Permissions
        Must have `edit_other_users` permission for the team.
      operationId: UpdateUserStatus
      parameters:
      - description: User ID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserStatus_request'
        description: Status object that is to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: User status update successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: Update user status
      tags:
      - status
      x-content-type: application/json
      x-accepts: application/json
  /users/status/ids:
    post:
      description: |
        Get a list of user statuses by id from the server.
        ##### Permissions
        Must be authenticated.
      operationId: GetUsersStatusesByIds
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        description: List of user ids to fetch
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Status'
                type: array
          description: User statuses retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: Get user statuses by id
      tags:
      - status
      x-content-type: application/json
      x-accepts: application/json
  /users/{user_id}/status/custom:
    delete:
      description: |
        Unsets a user's custom status by updating the user's props and updates the user
        ##### Permissions
        Must be logged in as the user whose custom status is being removed.
      operationId: UnsetUserCustomStatus
      parameters:
      - description: User ID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
          description: User custom status delete successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: Unsets user custom status
      tags:
      - status
      x-accepts: application/json
    put:
      description: |
        Updates a user's custom status by setting the value in the user's props and updates the user. Also save the given custom status to the recent custom statuses in the user's props
        ##### Permissions
        Must be logged in as the user whose custom status is being updated.
      operationId: UpdateUserCustomStatus
      parameters:
      - description: User ID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserCustomStatus_request'
        description: Custom status object that is to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
          description: User custom status update successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: Update user custom status
      tags:
      - status
      x-content-type: application/json
      x-accepts: application/json
  /users/{user_id}/status/custom/recent/delete:
    post:
      description: |
        Deletes a user's recent custom status by removing the specific status from the recentCustomStatuses in the user's props and updates the user.
        ##### Permissions
        Must be logged in as the user whose recent custom status is being deleted.
      operationId: PostUserRecentCustomStatusDelete
      parameters:
      - description: User ID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUserRecentCustomStatusDelete_request'
        description: Custom Status object that is to be removed from the recent custom
          statuses.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
          description: User recent custom status delete successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: Delete user's recent custom status
      tags:
      - status
      x-content-type: application/json
      x-accepts: application/json
  /teams:
    get:
      description: |
        For regular users only returns open teams. Users with the "manage_system" permission will return teams regardless of type. The result is based on query string parameters - page and per_page.
        ##### Permissions
        Must be authenticated.
      operationId: GetAllTeams
      parameters:
      - description: The page to select.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The number of teams per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 60
          type: integer
        style: form
      - description: "Appends a total count of returned teams inside the response\
          \ object - ex: `{ \"teams\": [], \"total_count\" : 0 }`.      "
        explode: true
        in: query
        name: include_total_count
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          If set to true, teams which are part of a data retention policy will be excluded. The `sysconsole_read_compliance` permission is required to use this parameter.
        explode: true
        in: query
        name: exclude_policy_constrained
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: Team list retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: Get teams
      tags:
      - teams
      x-accepts: application/json
  /teams/{team_id}:
    get:
      description: |
        Get a team on the system.
        ##### Permissions
        Must be authenticated and have the `view_team` permission.
      operationId: GetTeam
      parameters:
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
          description: Team retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get a team
      tags:
      - teams
      x-accepts: application/json
  /teams/name/{name}:
    get:
      description: |
        Get a team based on provided name string
        ##### Permissions
        Must be authenticated, team type is open and have the `view_team` permission.
      operationId: GetTeamByName
      parameters:
      - description: Team Name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
          description: Team retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get a team by name
      tags:
      - teams
      x-accepts: application/json
  /users/{user_id}/teams:
    get:
      description: |
        Get a list of teams that a user is on.
        ##### Permissions
        Must be authenticated as the user or have the `manage_system` permission.
      operationId: GetTeamsForUser
      parameters:
      - description: User GUID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: Team list retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Get a user's teams
      tags:
      - teams
      x-accepts: application/json
  /teams/{team_id}/members:
    get:
      description: |
        Get a page team members list based on query string parameters - team id, page and per page.
        ##### Permissions
        Must be authenticated and have the `view_team` permission.
      operationId: GetTeamMembers
      parameters:
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: The page to select.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The number of users per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 60
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamMember'
                type: array
          description: Team members retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get team members
      tags:
      - teams
      x-accepts: application/json
  /users/{user_id}/teams/members:
    get:
      description: |
        Get a list of team members for a user. Useful for getting the ids of teams the user is on and the roles they have in those teams.
        ##### Permissions
        Must be logged in as the user or have the `edit_other_users` permission.
      operationId: GetTeamMembersForUser
      parameters:
      - description: User GUID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamMember'
                type: array
          description: Team members retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get team members for a user
      tags:
      - teams
      x-accepts: application/json
  /teams/{team_id}/members/{user_id}:
    get:
      description: |
        Get a team member on the system.
        ##### Permissions
        Must be authenticated and have the `view_team` permission.
      operationId: GetTeamMember
      parameters:
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: User GUID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
          description: Team member retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get a team member
      tags:
      - teams
      x-accepts: application/json
  /teams/{team_id}/members/ids:
    post:
      description: |
        Get a list of team members based on a provided array of user ids.
        ##### Permissions
        Must have `view_team` permission for the team.
      operationId: GetTeamMembersByIds
      parameters:
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        description: List of user ids
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamMember'
                type: array
          description: Team members retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Get team members by ids
      tags:
      - teams
      x-content-type: application/json
      x-accepts: application/json
  /teams/{team_id}/stats:
    get:
      description: |
        Get a team stats on the system.
        ##### Permissions
        Must be authenticated and have the `view_team` permission.
      operationId: GetTeamStats
      parameters:
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamStats'
          description: Team stats retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get a team stats
      tags:
      - teams
      x-accepts: application/json
  /teams/{team_id}/members/{user_id}/roles:
    put:
      description: |
        Update a team member roles. Valid team roles are "team_user", "team_admin" or both of them. Overwrites any previously assigned team roles.
        ##### Permissions
        Must be authenticated and have the `manage_team_roles` permission.
      operationId: UpdateTeamMemberRoles
      parameters:
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: User GUID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRoles_request'
        description: Space-delimited team roles to assign to the user
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
          description: Team member roles update successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Update a team member roles
      tags:
      - teams
      x-content-type: application/json
      x-accepts: application/json
  /users/{user_id}/teams/unread:
    get:
      description: |
        Get the count for unread messages and mentions in the teams the user is a member of.
        ##### Permissions
        Must be logged in.
      operationId: GetTeamsUnreadForUser
      parameters:
      - description: User GUID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional team id to be excluded from the results
        explode: true
        in: query
        name: exclude_team
        required: true
        schema:
          type: string
        style: form
      - description: Boolean to determine whether the collapsed threads should be
          included or not
        explode: true
        in: query
        name: include_collapsed_threads
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamUnread'
                type: array
          description: Team unreads retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Get team unreads for a user
      tags:
      - teams
      x-accepts: application/json
  /users/{user_id}/teams/{team_id}/unread:
    get:
      description: |
        Get the unread mention and message counts for a team for the specified user.
        ##### Permissions
        Must be the user or have `edit_other_users` permission and have `view_team` permission for the team.
      operationId: GetTeamUnread
      parameters:
      - description: User GUID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamUnread'
          description: Team unread count retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get unreads for a team
      tags:
      - teams
      x-accepts: application/json
  /teams/{team_id}/invite-guests/email:
    post:
      description: |
        Invite guests to existing team channels usign the user's email.

        The number of emails that can be sent is rate limited to 20 per hour with a burst of 20 emails. If the rate limit exceeds, the error message contains details on when to retry and when the timer will be reset.

        ##### Permissions
        Must have `invite_guest` permission for the team.
      operationId: InviteGuestsToTeam
      parameters:
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteGuestsToTeam_request'
        description: Guests invite information
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
          description: Guests invite successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "413":
          $ref: '#/components/responses/TooLarge'
      summary: Invite guests to the team by email
      tags:
      - teams
      x-content-type: application/json
      x-accepts: application/json
  /channels:
    get:
      description: |
        ##### Permissions
        `manage_system`
      operationId: GetAllChannels
      parameters:
      - description: A group id to exclude channels that are associated with that
          group via GroupChannel records. This can also be left blank with `not_associated_to_group=`.
        explode: true
        in: query
        name: not_associated_to_group
        required: false
        schema:
          type: string
        style: form
      - description: The page to select.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The number of channels per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: "Whether to exclude default channels (ex Town Square, Off-Topic)\
          \ from the results."
        explode: true
        in: query
        name: exclude_default_channels
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Include channels that have been archived. This correlates to
          the `DeleteAt` flag being set in the database.
        explode: true
        in: query
        name: include_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Appends a total count of returned channels inside the response\
          \ object - ex: `{ \"channels\": [], \"total_count\" : 0 }`.      "
        explode: true
        in: query
        name: include_total_count
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          If set to true, channels which are part of a data retention policy will be excluded. The `sysconsole_read_compliance` permission is required to use this parameter.
        explode: true
        in: query
        name: exclude_policy_constrained
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListWithTeamData'
          description: Channel list retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get a list of all channels
      tags:
      - channels
      x-accepts: application/json
    post:
      description: |
        Create a new channel.
        ##### Permissions
        If creating a public channel, `create_public_channel` permission is required. If creating a private channel, `create_private_channel` permission is required.
      operationId: CreateChannel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChannel_request'
        description: Channel object to be created
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Channel creation successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Create a channel
      tags:
      - channels
      x-content-type: application/json
      x-accepts: application/json
  /channels/direct:
    post:
      description: |
        Create a new direct message channel between two users.
        ##### Permissions
        Must be one of the two users and have `create_direct_channel` permission. Having the `manage_system` permission voids the previous requirements.
      operationId: CreateDirectChannel
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              maxItems: 2
              minItems: 2
              type: array
        description: The two user ids to be in the direct message
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Direct channel creation successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Create a direct message channel
      tags:
      - channels
      x-content-type: application/json
      x-accepts: application/json
  /channels/group:
    post:
      description: |
        Create a new group message channel to group of users. If the logged in user's id is not included in the list, it will be appended to the end.
        ##### Permissions
        Must have `create_group_channel` permission.
      operationId: CreateGroupChannel
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        description: User ids to be in the group message channel
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Group channel creation successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Create a group message channel
      tags:
      - channels
      x-content-type: application/json
      x-accepts: application/json
  /channels/search:
    post:
      description: |
        Returns all private and open type channels where 'term' matches on the name, display name, or purpose of
        the channel.

        Configured 'default' channels (ex Town Square and Off-Topic) can be excluded from the results
        with the `exclude_default_channels` boolean parameter.

        Channels that are associated (via GroupChannel records) to a given group can be excluded from the results
        with the `not_associated_to_group` parameter and a group id string.
      operationId: SearchAllChannels
      parameters:
      - description: |
          Is the request from system_console. If this is set to true, it filters channels by the logged in user.
        explode: true
        in: query
        name: system_console
        required: false
        schema:
          default: true
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchAllChannels_request'
        description: The search terms and logic to use in the search.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAllChannels_200_response'
          description: Paginated channel response. (Note that the non-paginated response—returned
            if the request body does not contain both `page` and `per_page` fields—is
            a simple array of channels.)
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: Search all private and open type channels
      tags:
      - channels
      x-content-type: application/json
      x-accepts: application/json
  /channels/group/search:
    post:
      description: |+
        Get a list of group channels for a user which members' usernames match the search term.

      operationId: SearchGroupChannels
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchGroupChannels_request'
        description: Search criteria
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Channel'
                type: array
          description: Channels search successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: Search Group Channels
      tags:
      - channels
      x-content-type: application/json
      x-accepts: application/json
  /teams/{team_id}/channels/ids:
    post:
      description: |
        Get a list of public channels on a team by id.
        ##### Permissions
        `view_team` for the team the channels are on.
      operationId: GetPublicChannelsByIdsForTeam
      parameters:
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        description: List of channel ids
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Channel'
                type: array
          description: Channel list retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get a list of channels by ids
      tags:
      - channels
      x-content-type: application/json
      x-accepts: application/json
  /channels/{channel_id}:
    delete:
      description: |
        Archives a channel. This will set the `deleteAt` to the current timestamp in the database. Soft deleted channels may not be accessible in the user interface. They can be viewed and unarchived in the **System Console > User Management > Channels** based on your license. Direct and group message channels cannot be deleted.

        ##### Permissions
        `delete_public_channel` permission if the channel is public,
        `delete_private_channel` permission if the channel is private,
        or have `manage_system` permission.
      operationId: DeleteChannel
      parameters:
      - description: Channel GUID
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOK'
          description: Channel deletion successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Delete a channel
      tags:
      - channels
      x-accepts: application/json
    get:
      description: |
        Get channel from the provided channel id string.
        ##### Permissions
        `read_channel` permission for the channel.
      operationId: GetChannel
      parameters:
      - description: Channel GUID
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Channel retrieval successful
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get a channel
      tags:
      - channels
      x-accepts: application/json
    put:
      description: |
        Update a channel. The fields that can be updated are listed as parameters. Omitted fields will be treated as blanks.
        ##### Permissions
        If updating a public channel, `manage_public_channel_members` permission is required. If updating a private channel, `manage_private_channel_members` permission is required.
      operationId: UpdateChannel
      parameters:
      - description: Channel GUID
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannel_request'
        description: Channel object to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Channel update successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Update a channel
      tags:
      - channels
      x-content-type: application/json
      x-accepts: application/json
  /channels/{channel_id}/patch:
    put:
      description: |
        Partially update a channel by providing only the fields you want to update. Omitted fields will not be updated. The fields that can be updated are defined in the request body, all other provided fields will be ignored.
        ##### Permissions
        If updating a public channel, `manage_public_channel_members` permission is required. If updating a private channel, `manage_private_channel_members` permission is required.
      operationId: PatchChannel
      parameters:
      - description: Channel GUID
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchChannel_request'
        description: Channel object to be updated
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Channel patch successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Patch a channel
      tags:
      - channels
      x-content-type: application/json
      x-accepts: application/json
  /channels/{channel_id}/privacy:
    put:
      description: |
        Updates channel's privacy allowing changing a channel from Public to Private and back.

        ##### Permissions
        `convert_public_channel_to_private` permission for the channel if updating privacy to 'P'. `convert_private_channel_to_public` permission for the channel if updating privacy to 'O'.
      operationId: UpdateChannelPrivacy
      parameters:
      - description: Channel GUID
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannelPrivacy_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Channel conversion successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Update channel's privacy
      tags:
      - channels
      x-content-type: application/json
      x-accepts: application/json
  /channels/{channel_id}/restore:
    post:
      description: |
        Restore channel from the provided channel id string.

        ##### Permissions
        `manage_team` permission for the team of the channel.
      operationId: RestoreChannel
      parameters:
      - description: Channel GUID
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Channel restore successful
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Restore a channel
      tags:
      - channels
      x-accepts: application/json
  /channels/{channel_id}/move:
    post:
      description: |
        Move a channel to another team.


        ##### Permissions

        Must have `manage_system` permission.
      operationId: MoveChannel
      parameters:
      - description: Channel GUID
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveChannel_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
          description: Channel move successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Move a channel
      tags:
      - channels
      x-content-type: application/json
      x-accepts: application/json
  /channels/{channel_id}/stats:
    get:
      description: |
        Get statistics for a channel.
        ##### Permissions
        Must have the `read_channel` permission.
      operationId: GetChannelStats
      parameters:
      - description: Channel GUID
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelStats'
          description: Channel statistics retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Get channel statistics
      tags:
      - channels
      x-accepts: application/json
  /channels/{channel_id}/pinned:
    get:
      description: Get a list of pinned posts for channel.
      operationId: GetPinnedPosts
      parameters:
      - description: Channel GUID
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostList'
          description: The list of channel pinned posts
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
      summary: Get a channel's pinned posts
      tags:
      - channels
      x-accepts: application/json
  /teams/{team_id}/channels:
    get:
      description: |
        Get a page of public channels on a team based on query string parameters - page and per_page.
        ##### Permissions
        Must be authenticated and have the `list_team_channels` permission.
      operationId: GetPublicChannelsForTeam
      parameters:
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: The page to select.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The number of public channels per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 60
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Channel'
                type: array
          description: Channels retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get public channels
      tags:
      - channels
      x-accepts: application/json
  /teams/{team_id}/channels/private:
    get:
      description: |
        Get a page of private channels on a team based on query string
        parameters - team_id, page and per_page.


        ##### Permissions
        Must have `manage_system` permission.
      operationId: GetPrivateChannelsForTeam
      parameters:
      - description: Team GUID
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          type: string
        style: simple
      - description: The page to select.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The number of private channels per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 60
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Channel'
                type: array
          description: Channels retrieval successful
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
[...]
