openapi: 3.1.0
info:
  contact:
    name: AIRBIT
    url: https://air-bit.ru/
  description: This API is intended to work with the application **AIRBIT IoT Workspace**
    .
  title: AIRBIT IoT Workspace REST API
  version: 2.0.1
servers:
- description: Mock Server
  url: http://geo-api.air-bit.ru:8081/
paths:
  /auth/login/:
    post:
      deprecated: true
      description: User login
      operationId: login_user
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: User login
      tags:
      - Auth
      x-accepts: application/json
  /auth/logout/:
    post:
      deprecated: true
      description: User logout
      operationId: logout_user
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: User logout
      tags:
      - Auth
      x-accepts: application/json
  /auth/register/:
    post:
      description: User register
      operationId: register_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegisterScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: User register
      tags:
      - Auth
      x-content-type: application/json
      x-accepts: application/json
  /auth/confirm-register/{token}/:
    post:
      description: User confirm register
      operationId: confirm_register
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          title: Token
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: User confirm register
      tags:
      - Auth
      x-accepts: application/json
  /auth/recovery/:
    post:
      description: User recovery password by email or phone
      operationId: recovery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRecoveryPasswordScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Bad Request
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: User recovery password by email or phone
      tags:
      - Auth
      x-content-type: application/json
      x-accepts: application/json
  /auth/reset/{token}/:
    post:
      description: Reset user password
      operationId: reset_password
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          title: Token
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Bad Request
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Reset user password
      tags:
      - Auth
      x-content-type: application/json
      x-accepts: application/json
  /dashboard/:
    get:
      description: Get a list of dashboards
      operationId: get_dashboards
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDictItemScheme'
          description: Successful Response
      security:
      - AWSAuthenticator: []
      summary: Get a list of dashboards
      tags:
      - Dashboard
      x-accepts: application/json
  /dashboard/{id}/:
    delete:
      description: Delete dashboard by id
      operationId: delete_dashboard
      parameters:
      - description: unique dashboard id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique dashboard id
          title: Id
          type: integer
        style: simple
      responses:
        "204":
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Delete dashboard by id
      tags:
      - Dashboard
      x-accepts: application/json
    get:
      description: Get a list of dashboards
      operationId: get_dashboard
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DictItemScheme'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get a list of dashboards
      tags:
      - Dashboard
      x-accepts: application/json
    put:
      description: Update dashboard by id
      operationId: update_dashboard
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DictItemBaseScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Update dashboard by id
      tags:
      - Dashboard
      x-content-type: application/json
      x-accepts: application/json
  /dashboard/{id}/full-struct/:
    get:
      description: Get full struct dashboard by id
      operationId: get_dashboard_full_struct
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardFullStructScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get full struct dashboard by id
      tags:
      - Dashboard
      x-accepts: application/json
  /dashboard/{dash_type}/:
    post:
      description: Add dashboard
      operationId: add_dashboard
      parameters:
      - explode: false
        in: path
        name: dash_type
        required: true
        schema:
          $ref: '#/components/schemas/DashboardType'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardScheme'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DictItemBaseScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Add dashboard
      tags:
      - Dashboard
      x-content-type: application/json
      x-accepts: application/json
  /addresses/:
    get:
      deprecated: true
      description: Get a list of addresses
      operationId: get_addresses
      parameters:
      - description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
        explode: true
        in: query
        name: status
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Status'
          description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          title: Status
        style: form
      - description: text value for search by name
        explode: true
        in: query
        name: text
        required: false
        schema:
          description: text value for search by name
          title: Text
          type: string
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1000
          title: Per Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_AddressNodeScheme_'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get a list of addresses
      tags:
      - Addresses
      x-accepts: application/json
    post:
      deprecated: true
      description: Add address
      operationId: add_address
      requestBody:
        content:
          application/json:
            examples:
              address_root:
                description: Address node(root)
                summary: Address node(root)
                value:
                  company_id: 1
                  status: 2
                  name: Volodarskogo
                  prefix: str.
                  postfix: 62k2
              address_node:
                description: Address node
                summary: Address node
                value:
                  company_id: 1
                  status: 2
                  parent_id: 1
                  name: Volodarskogo
                  prefix: str.
                  postfix: 62k2
            schema:
              $ref: '#/components/schemas/CreateAddressNodeScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressNodeScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Add address
      tags:
      - Addresses
      x-content-type: application/json
      x-accepts: application/json
  /addresses/{id}/:
    delete:
      deprecated: true
      description: Delete address by id
      operationId: delete_address
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      responses:
        "204":
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Delete address by id
      tags:
      - Addresses
      x-accepts: application/json
    get:
      deprecated: true
      description: Get address by id
      operationId: get_address
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressNodeScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get address by id
      tags:
      - Addresses
      x-accepts: application/json
    put:
      deprecated: true
      description: Update address by id
      operationId: update_address
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAddressNode'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressNodeScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Update address by id
      tags:
      - Addresses
      x-content-type: application/json
      x-accepts: application/json
  /addresses/{addr_id}/norm/:
    get:
      deprecated: true
      description: Get a list of norms
      operationId: get_norms
      parameters:
      - description: address id
        explode: false
        in: path
        name: addr_id
        required: true
        schema:
          description: address id
          title: Addr Id
          type: integer
        style: simple
      - description: text value for search by name
        explode: true
        in: query
        name: text
        required: false
        schema:
          description: text value for search by name
          title: Text
          type: string
        style: form
      - description: object metric group id
        explode: true
        in: query
        name: group_id
        required: false
        schema:
          description: object metric group id
          title: Group Id
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1000
          title: Per Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_AddressNodeNormScheme_'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get a list of norms
      tags:
      - Addresses
      x-accepts: application/json
    post:
      deprecated: true
      description: Add address norm
      operationId: create_norm
      parameters:
      - description: address id
        explode: false
        in: path
        name: addr_id
        required: true
        schema:
          description: address id
          title: Addr Id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAddressNormScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressNodeNormScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Add address norm
      tags:
      - Addresses
      x-content-type: application/json
      x-accepts: application/json
  /addresses/{addr_id}/norm/{id}/:
    delete:
      deprecated: true
      description: Delete address norm by id
      operationId: delete_norm
      parameters:
      - description: address norm id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: address norm id
          title: Id
          type: integer
        style: simple
      - description: address id
        explode: false
        in: path
        name: addr_id
        required: true
        schema:
          description: address id
          title: Addr Id
          type: integer
        style: simple
      responses:
        "204":
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Delete address norm by id
      tags:
      - Addresses
      x-accepts: application/json
    get:
      deprecated: true
      description: Get address norm
      operationId: get_norm
      parameters:
      - description: norm id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: norm id
          title: Id
          type: integer
        style: simple
      - description: address id
        explode: false
        in: path
        name: addr_id
        required: true
        schema:
          description: address id
          title: Addr Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressNodeNormScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get address norm
      tags:
      - Addresses
      x-accepts: application/json
    put:
      deprecated: true
      description: Update address norm
      operationId: update_norm
      parameters:
      - description: address id
        explode: false
        in: path
        name: addr_id
        required: true
        schema:
          description: address id
          title: Addr Id
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAddressNormScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressNodeNormScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Update address norm
      tags:
      - Addresses
      x-content-type: application/json
      x-accepts: application/json
  /devices/:
    get:
      description: Get a list of devices
      operationId: get_devices
      parameters:
      - description: unique address identifier
        explode: true
        in: query
        name: addr_id
        required: false
        schema:
          description: unique address identifier
          title: Addr Id
          type: integer
        style: form
      - description: list of unique group identifiers
        explode: true
        in: query
        name: group_ids
        required: false
        schema:
          description: list of unique group identifiers
          items:
            type: integer
          type: array
        style: form
      - description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
        explode: true
        in: query
        name: status
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Status'
          description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          title: Status
        style: form
      - description: text value for search by name
        explode: true
        in: query
        name: text
        required: false
        schema:
          description: text value for search by name
          title: Text
          type: string
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1000
          title: Per Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_DeviceScheme_'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get a list of devices
      tags:
      - Device
      x-accepts: application/json
    post:
      description: Add device
      operationId: add_device
      requestBody:
        content:
          application/json:
            examples:
              base_device:
                description: Base example device scheme
                summary: Base device
                value:
                  name: Test device
                  net_id_type_id: 1
                  net_id: FFFFFFFFFFFFFFFA
                  conv_group_id: 1
                  groups:
                  - 1
                  - 2
                  longitude: 73.86035
                  latitude: 67.63456
                  altitude: 87
                  comments: This test Device base dcheme
              template_device:
                description: Base example template device scheme
                summary: Template device
                value:
                  name: Test device
                  net_id_type_id: 1
                  net_id: FFFFFFFFFFFFFFFA
                  templ_id: 1
                  groups:
                  - 1
                  - 2
                  longitude: 73.86035
                  latitude: 67.63456
                  altitude: 87
                  comments: This test Device base dcheme
            schema:
              $ref: '#/components/schemas/CreateDeviceScheme'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Add device
      tags:
      - Device
      x-content-type: application/json
      x-accepts: application/json
  /devices/{id}/:
    delete:
      description: Delete device by id
      operationId: delete_device
      parameters:
      - description: unique device id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique device id
          title: Id
          type: integer
        style: simple
      responses:
        "204":
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Delete device by id
      tags:
      - Device
      x-accepts: application/json
    get:
      description: Get device by id
      operationId: get_device
      parameters:
      - description: unique device id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique device id
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get device by id
      tags:
      - Device
      x-accepts: application/json
    put:
      description: Update device by id
      operationId: update_device
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeviceScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Update device by id
      tags:
      - Device
      x-content-type: application/json
      x-accepts: application/json
  /groups/{type}/:
    get:
      description: Get a list of groups
      operationId: get_groups
      parameters:
      - description: "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n\
          \ \n * 3 - ObjectMetricGroup \n "
        explode: false
        in: path
        name: type
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/GroupType'
          description: "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n\
            \ \n * 3 - ObjectMetricGroup \n "
          title: Type
        style: simple
      - description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
        explode: true
        in: query
        name: status
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Status'
          description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          title: Status
        style: form
      - description: text value for search by name
        explode: true
        in: query
        name: text
        required: false
        schema:
          description: text value for search by name
          title: Text
          type: string
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1000
          title: Per Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_GroupScheme_'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get a list of groups
      tags:
      - Groups
      x-accepts: application/json
    post:
      deprecated: true
      description: Add group
      operationId: add_group
      parameters:
      - description: "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n\
          \ \n * 3 - ObjectMetricGroup \n "
        explode: false
        in: path
        name: type
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/GroupType'
          description: "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n\
            \ \n * 3 - ObjectMetricGroup \n "
          title: Type
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              device_group:
                description: Device group
                summary: Device group
                value:
                  company_id: 1
                  status: 2
                  name: Test device group
                  comments: This test device group
                  color: '#a94d4d'
                  is_virtual: false
              object_group:
                description: Object group
                summary: Object group
                value:
                  company_id: 1
                  status: 2
                  name: Test object group
                  comments: This test device group
                  color: '#a94d4d'
                  is_virtual: true
                  num_expr: og
                  tagged_groups:
                  - tag: og
                    tagged_group_id: 1
              object_metric_group:
                description: Object group
                summary: Object metric group
                value:
                  company_id: 1
                  status: 2
                  name: Test object metric group
                  comments: This test object metric group
                  color: '#a94d4d'
                  is_virtual: true
                  num_expr: m+g
                  tagged_groups:
                  - tag: m
                    tagged_group_id: 1
                  - tag: g
                    tagged_group_id: 2
            schema:
              $ref: '#/components/schemas/CreateGroupScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupFullStructScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Add group
      tags:
      - Groups
      x-content-type: application/json
      x-accepts: application/json
  /groups/{type}/{id}/:
    delete:
      description: Delete group by id
      operationId: delete_group
      parameters:
      - description: "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n\
          \ \n * 3 - ObjectMetricGroup \n "
        explode: false
        in: path
        name: type
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/GroupType'
          description: "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n\
            \ \n * 3 - ObjectMetricGroup \n "
          title: Type
        style: simple
      - description: unique group id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique group id
          title: Id
          type: integer
        style: simple
      responses:
        "204":
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Delete group by id
      tags:
      - Groups
      x-accepts: application/json
    get:
      description: Get group by id
      operationId: get_group
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      - description: "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n\
          \ \n * 3 - ObjectMetricGroup \n "
        explode: false
        in: path
        name: type
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/GroupType'
          description: "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n\
            \ \n * 3 - ObjectMetricGroup \n "
          title: Type
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupFullStructScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get group by id
      tags:
      - Groups
      x-accepts: application/json
    put:
      deprecated: true
      description: Update group by id
      operationId: update_group
      parameters:
      - description: unique group id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique group id
          title: Id
          type: integer
        style: simple
      - description: "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n\
          \ \n * 3 - ObjectMetricGroup \n "
        explode: false
        in: path
        name: type
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/GroupType'
          description: "Group type: \n * 1 - DeviceGroup \n \n * 2 - ObjectGroup \n\
            \ \n * 3 - ObjectMetricGroup \n "
          title: Type
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Update group by id
      tags:
      - Groups
      x-accepts: application/json
  /device-netid-types/:
    get:
      description: Get a list of device net id types
      operationId: get_device_net_id_types
      parameters:
      - description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
        explode: true
        in: query
        name: status
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Status'
          description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          title: Status
        style: form
      - description: text value for search by name
        explode: true
        in: query
        name: text
        required: false
        schema:
          description: text value for search by name
          title: Text
          type: string
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1000
          title: Per Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_DeviceNetIdTypeScheme_'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get a list of device net id types
      tags:
      - Device NetId types
      x-accepts: application/json
    post:
      description: Add device net id type
      operationId: add_device_net_id_type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeviceNetIdTypeScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceNetIdTypeScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Add device net id type
      tags:
      - Device NetId types
      x-content-type: application/json
      x-accepts: application/json
  /device-netid-types/{id}/:
    delete:
      description: Delete device net id type by id
      operationId: delete_device_net_id_type
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      responses:
        "204":
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Delete device net id type by id
      tags:
      - Device NetId types
      x-accepts: application/json
    get:
      description: Get device net id type by id
      operationId: get_device_net_id_type
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceNetIdTypeScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get device net id type by id
      tags:
      - Device NetId types
      x-accepts: application/json
    put:
      description: Update device net id type by id
      operationId: update_device_net_id_type
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeviceNetIdTypeScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceNetIdTypeScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Update device net id type by id
      tags:
      - Device NetId types
      x-content-type: application/json
      x-accepts: application/json
  /objects/favorite/:
    post:
      deprecated: true
      description: Add object to dashboard
      operationId: favorite_object
      parameters:
      - explode: true
        in: query
        name: obj_id
        required: true
        schema:
          title: Obj Id
          type: integer
        style: form
      - explode: true
        in: query
        name: dash_id
        required: true
        schema:
          title: Dash Id
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Add object to dashboard
      tags:
      - Object
      x-accepts: application/json
  /objects/{id}/full-object-struct/:
    get:
      description: Metrics of the object
      operationId: full_object_struct
      parameters:
      - description: unique object id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique object id
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectFullStructScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Metrics of the object
      tags:
      - Object
      x-accepts: application/json
  /objects/:
    get:
      description: Get a list of objects
      operationId: get_objects
      parameters:
      - description: unique address identifier
        explode: true
        in: query
        name: addr_id
        required: false
        schema:
          description: unique address identifier
          title: Addr Id
          type: integer
        style: form
      - description: list of unique group identifiers
        explode: true
        in: query
        name: group_ids
        required: false
        schema:
          description: list of unique group identifiers
          items:
            type: integer
          type: array
        style: form
      - description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
        explode: true
        in: query
        name: status
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Status'
          description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          title: Status
        style: form
      - description: text value for search by name
        explode: true
        in: query
        name: text
        required: false
        schema:
          description: text value for search by name
          title: Text
          type: string
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1000
          title: Per Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_ObjectBaseScheme_'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get a list of objects
      tags:
      - Object
      x-accepts: application/json
    post:
      description: Add object
      operationId: add_object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateObjectScheme'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectBaseScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Add object
      tags:
      - Object
      x-content-type: application/json
      x-accepts: application/json
  /objects/{id}/:
    delete:
      description: Delete object by id
      operationId: delete_object
      parameters:
      - description: unique object id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique object id
          title: Id
          type: integer
        style: simple
      responses:
        "204":
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Delete object by id
      tags:
      - Object
      x-accepts: application/json
    get:
      description: Get object by id
      operationId: get_object
      parameters:
      - description: unique object id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique object id
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectBaseScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get object by id
      tags:
      - Object
      x-accepts: application/json
    put:
      description: Update object by id
      operationId: update_object
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateObjectScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectBaseScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Update object by id
      tags:
      - Object
      x-content-type: application/json
      x-accepts: application/json
  /objects/object-types/:
    get:
      description: Get a list of object types
      operationId: get_object_types
      parameters:
      - description: "ConvAttach: \n * 1 - Sync \n \n * 2 - Unsync \n "
        explode: true
        in: query
        name: conv_attach
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/ConvAttach'
          description: "ConvAttach: \n * 1 - Sync \n \n * 2 - Unsync \n "
          title: Conv Attach
        style: form
      - description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
        explode: true
        in: query
        name: status
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Status'
          description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          title: Status
        style: form
      - description: text value for search by name
        explode: true
        in: query
        name: text
        required: false
        schema:
          description: text value for search by name
          title: Text
          type: string
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1000
          title: Per Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_ObjectTypeBaseScheme_'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get a list of object types
      tags:
      - Object
      x-accepts: application/json
  /objects/object-types/{id}/:
    get:
      description: Get object type by id
      operationId: get_object_type
      parameters:
      - description: unique object type id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique object type id
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTypeBaseScheme'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get object type by id
      tags:
      - Object
      x-accepts: application/json
  /objects/object-types/{id}/full-struct/:
    get:
      description: Get full struct of object type by id
      operationId: get_object_type_full_struct
      parameters:
      - description: unique object type id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique object type id
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTypeFullStructScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get full struct of object type by id
      tags:
      - Object
      x-accepts: application/json
  /objects/object-type/:
    post:
      deprecated: true
      description: Add object type
      operationId: create_object_type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateObjectTypeScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTypeFullStructScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Add object type
      tags:
      - Object
      x-content-type: application/json
      x-accepts: application/json
  /objects/object-type/{id}/:
    delete:
      description: Delete object type by id
      operationId: delete_object_type
      parameters:
      - description: unique object id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique object id
          title: Id
          type: integer
        style: simple
      responses:
        "204":
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Delete object type by id
      tags:
      - Object
      x-accepts: application/json
    put:
      deprecated: true
      description: Update object type by id
      operationId: update_object_types
      parameters:
      - description: unique object type id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique object type id
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Update object type by id
      tags:
      - Object
      x-accepts: application/json
  /templates/:
    get:
      description: Get a list of templates
      operationId: get_templates
      parameters:
      - description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
        explode: true
        in: query
        name: status
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Status'
          description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          title: Status
        style: form
      - description: text value for search by name
        explode: true
        in: query
        name: text
        required: false
        schema:
          description: text value for search by name
          title: Text
          type: string
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1000
          title: Per Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_TemplateScheme_'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get a list of templates
      tags:
      - Templates
      x-accepts: application/json
    post:
      description: Add template
      operationId: add_template
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Add template
      tags:
      - Templates
      x-content-type: application/json
      x-accepts: application/json
  /templates/{id}/:
    delete:
      description: Delete template by id
      operationId: delete_template
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      responses:
        "204":
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Delete template by id
      tags:
      - Templates
      x-accepts: application/json
    get:
      description: Get template by id
      operationId: get_template
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get template by id
      tags:
      - Templates
      x-accepts: application/json
    put:
      description: Update template by id
      operationId: update_template
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Update template by id
      tags:
      - Templates
      x-content-type: application/json
      x-accepts: application/json
  /utility-resources/:
    get:
      description: Get a list utility resources
      operationId: get_consumption_groups
      parameters:
      - description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
        explode: true
        in: query
        name: status
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Status'
          description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          title: Status
        style: form
      - description: text value for search by name
        explode: true
        in: query
        name: text
        required: false
        schema:
          description: text value for search by name
          title: Text
          type: string
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1000
          title: Per Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_ConsumptionGroupBaseScheme_'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get a list utility resources
      tags:
      - Utility resources
      x-accepts: application/json
    post:
      description: Add utility resource
      operationId: create_consumption_groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConsumptionGroupScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumptionGroupBaseScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Add utility resource
      tags:
      - Utility resources
      x-content-type: application/json
      x-accepts: application/json
  /utility-resources/{id}/:
    delete:
      description: Delete utility resource by id
      operationId: delete_consumption_group
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      responses:
        "204":
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Delete utility resource by id
      tags:
      - Utility resources
      x-accepts: application/json
    get:
      description: Get utility resource by id
      operationId: get_consumption_group
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumptionGroupBaseScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get utility resource by id
      tags:
      - Utility resources
      x-accepts: application/json
    put:
      description: Update utility resource by id
      operationId: update_consumption_group
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConsumptionGroupScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumptionGroupBaseScheme'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Update utility resource by id
      tags:
      - Utility resources
      x-content-type: application/json
      x-accepts: application/json
  /data-converters-group/{id}/features/:
    post:
      deprecated: true
      description: Set features to converter group
      operationId: set_features
      parameters:
      - description: unique object type id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique object type id
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Set features to converter group
      tags:
      - Data converters
      x-accepts: application/json
  /data-converters-group/{id}/copy/:
    post:
      deprecated: true
      description: Copy converter group by id
      operationId: copy_conv_group
      parameters:
      - description: unique object type id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique object type id
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Copy converter group by id
      tags:
      - Data converters
      x-accepts: application/json
  /data-converters-group/:
    get:
      description: Get a list of data converter groups
      operationId: get_data_converter_groups
      parameters:
      - description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
        explode: true
        in: query
        name: status
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Status'
          description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          title: Status
        style: form
      - description: text value for search by name
        explode: true
        in: query
        name: text
        required: false
        schema:
          description: text value for search by name
          title: Text
          type: string
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1000
          title: Per Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_ConverterGroupBaseScheme_'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get a list of data converter groups
      tags:
      - Data converters
      x-accepts: application/json
    post:
      description: Add data converter group
      operationId: create_data_converter_group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConverterGroupScheme'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConverterGroupBaseScheme-Output'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Add data converter group
      tags:
      - Data converters
      x-content-type: application/json
      x-accepts: application/json
  /data-converters-group/{id}/:
    delete:
      description: Delete data converter group by id
      operationId: delete_data_converter_group
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      responses:
        "204":
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Delete data converter group by id
      tags:
      - Data converters
      x-accepts: application/json
    get:
      description: Get data converter group by id
      operationId: get_data_converter_group
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConverterGroupBaseScheme-Output'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get data converter group by id
      tags:
      - Data converters
      x-accepts: application/json
    put:
      description: Update data converter group by id
      operationId: update_data_converter_group
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConverterGroupBaseScheme-Input'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConverterGroupBaseScheme-Output'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Update data converter group by id
      tags:
      - Data converters
      x-content-type: application/json
      x-accepts: application/json
  /data-converters-group/{conv_gr_id}/data-converters/:
    get:
      deprecated: true
      description: Get a list of data converters
      operationId: get_data_converters
      parameters:
      - description: unique object type id
        explode: false
        in: path
        name: conv_gr_id
        required: true
        schema:
          description: unique object type id
          title: Conv Gr Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get a list of data converters
      tags:
      - Data converters
      x-accepts: application/json
    post:
      deprecated: true
      description: Add data converter
      operationId: create_data_converter
      parameters:
      - description: unique object type id
        explode: false
        in: path
        name: conv_gr_id
        required: true
        schema:
          description: unique object type id
          title: Conv Gr Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Add data converter
      tags:
      - Data converters
      x-accepts: application/json
  /data-converters-group/{conv_gr_id}/data-converters/{id}/:
    delete:
      deprecated: true
      description: Delete data converter by id
      operationId: delete_data_converter
      parameters:
      - description: unique object type id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique object type id
          title: Id
          type: integer
        style: simple
      - description: unique object type id
        explode: false
        in: path
        name: conv_gr_id
        required: true
        schema:
          description: unique object type id
          title: Conv Gr Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Delete data converter by id
      tags:
      - Data converters
      x-accepts: application/json
    get:
      deprecated: true
      description: Get data converter by id
      operationId: get_data_converter
      parameters:
      - description: unique object type id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique object type id
          title: Id
          type: integer
        style: simple
      - description: unique object type id
        explode: false
        in: path
        name: conv_gr_id
        required: true
        schema:
          description: unique object type id
          title: Conv Gr Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get data converter by id
      tags:
      - Data converters
      x-accepts: application/json
    put:
      deprecated: true
      description: Update data converter by id
      operationId: update_data_converter
      parameters:
      - description: unique object type id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: unique object type id
          title: Id
          type: integer
        style: simple
      - description: unique object type id
        explode: false
        in: path
        name: conv_gr_id
        required: true
        schema:
          description: unique object type id
          title: Conv Gr Id
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Update data converter by id
      tags:
      - Data converters
      x-accepts: application/json
  /data-channels/:
    get:
      description: Get a list of data channels
      operationId: get_data_channels
      parameters:
      - description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
        explode: true
        in: query
        name: status
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Status'
          description: "Status: \n * 1 - Inactive \n \n * 2 - Active \n "
          title: Status
        style: form
      - description: text value for search by name
        explode: true
        in: query
        name: text
        required: false
        schema:
          description: text value for search by name
          title: Text
          type: string
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1000
          title: Per Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          title: Page
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_DataChannelBaseScheme_'
          description: Successful Response
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - AWSAuthenticator: []
      summary: Get a list of data channels
      tags:
      - Data channels
      x-accepts: application/json
    post:
      description: Add data channel
      operationId: create_data_channel
      requestBody:
        content:
          application/json:
            examples:
              dc_airbit_lns_http:
                description: "AIRBIT-LNS [HTTP]"
                summary: "AIRBIT-LNS [HTTP]"
                value:
                  company_id: 1
                  status: 2
                  direct: 1
                  proto: 1
                  class_converter: 1
                  net_id_type_id: 1
                  name: WSdev
                  slug: wsdev
                  save_to_db: true
                  uri_full_manual: https://127.0.0.1/api/callback/wsdev/
                  uri_unblock: true
              dc_airbit_lns_amqp_uri_on:
                description: "AIRBIT-LNS [AMQP](uri on)"
                summary: "AIRBIT-LNS [AMQP](uri on)"
                value:
                  company_id: 1
                  status: 2
                  direct: 1
                  proto: 2
                  class_converter: 2
                  net_id_type_id: 1
                  name: WSdev
                  slug: wsdev
                  save_to_db: true
                  uri_full_manual: amqp://airbit:airbit@127.0.0.1:5000/?exchange=airbit.lns&heartbeat=60&queue=airbit.lns.link
                  uri_unblock: true
              dc_airbit_lns_amqp_uri_off:
                description: "AIRBIT-LNS [AMQP](uri off)"
                summary: "AIRBIT-LNS [AMQP](uri off)"
                value:
                  company_id: 1
                  status: 2
                  direct: 1
                  proto: 2
                  class_converter: 2
                  net_id_type_id: 1
                  name: WSdev
                  slug: wsdev
                  save_to_db: true
                  uri_unblock: false
                  account: 1
                  uri_detailed_field:
                    proto: 2
                    virtual_host: /
                    exchange: airbit.lns
                    queue: airbit.lns.link
              dc_airbit_lns_mqtt_uri_on:
                description: "AIRBIT-LNS [MQTT](uri on)"
                summary: "AIRBIT-LNS [MQTT](uri on)"
                value:
                  company_id: 1
                  status: 2
                  direct: 1
                  proto: 3
                  class_converter: 3
                  net_id_type_id: 1
                  name: WSdev
                  slug: wsdev
                  save_to_db: true
[...]
