openapi: 3.1.0
info:
  contact:
    email: support@matix.cloud
  description: |-
    This is the MATIX Enteprise Asset Management (EAM) documentation based on the OpenAPI 3.1 specification.  You can find out more about
    MATIX at [https://matix.cloud](https://matix.cloud). If you have a valid account, you can log into the MATIX EAM Platform at [https://eam.matix.cloud](https://eam.matix.cloud).

    API Authentication is done with Bearer token. The token can be generated by a Company Admin directly on the MATIX EAM Platform.
  license:
    name: MATIX EULA
    url: http://matix.cloud/eula/
  termsOfService: http://matix.cloud/terms/
  title: MATIX Enterprise Asset Management - OpenAPI 3.1
  version: 1.3.0
servers:
- url: https://eam.matix.cloud/api
tags:
- description: Get information about your tools
  externalDocs:
    description: Find out more
    url: http://matix.cloud
  name: tool-controller
paths:
  /companies:
    get:
      description: "All company catalog, along with tool information is returned as\
        \ a JSON array"
      operationId: getCompanies
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Companies'
                type: array
          description: Successful operation
        "401":
          description: Unauthorized
      security:
      - bearerAuth:
        - read:companies
      summary: Get information about all your companies
      tags:
      - tool-controller
      x-accepts: application/json
  /plants:
    get:
      description: "All plants catalog, along with tool information is returned as\
        \ a JSON array"
      operationId: getPlants
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Plants'
                type: array
          description: Successful operation
        "401":
          description: Unauthorized
      security:
      - bearerAuth:
        - read:plants
      summary: Get information about all your plants
      tags:
      - tool-controller
      x-accepts: application/json
  /tools:
    get:
      description: "All tool catalog, along with tool information is returned as a\
        \ JSON array. Output is paginated."
      operationId: getTools
      parameters:
      - description: Id of the desired page
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTools_200_response'
          description: Successful operation
        "401":
          description: Unauthorized
      security:
      - bearerAuth:
        - read:tools
      summary: Get information about all your tools
      tags:
      - tool-controller
      x-accepts: application/json
  /tool:
    get:
      description: A single tool is returned in a JSON object
      operationId: getTool
      parameters:
      - description: Id of the tool
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - description: Id to be used as a key to external database
        explode: true
        in: query
        name: externalId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
          description: Successful operation
        "401":
          description: Unauthorized
        "404":
          description: Not found
      security:
      - bearerAuth:
        - read:tool
      summary: Get information about all a specific tool
      tags:
      - tool-controller
      x-accepts: application/json
  /telemetry:
    get:
      description: "The tool telemetry, for the specified keys, is returned. Custom\
        \ aggregation can be chosen among the available ones."
      operationId: getTelemetry
      parameters:
      - description: Id of the tool
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - description: Id to be used as a key to external database
        explode: true
        in: query
        name: externalId
        required: false
        schema:
          type: string
        style: form
      - description: Start of telemetry interval to be returned
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: integer
        style: form
      - description: End of telemetry interval to be returned
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: integer
        style: form
      - description: "Telemetry keys to be exported, comma separated (CYCLES, CYCLE_TIME,\
          \ RUNTIME, UPTIME, TEMPERATURE)"
        explode: true
        in: query
        name: keys
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTelemetry_200_response'
          description: Successful operation
        "401":
          description: Unauthorized
        "404":
          description: Not found
      security:
      - bearerAuth:
        - read:tool
      summary: Get tool telemetry
      tags:
      - tool-controller
      x-accepts: application/json
components:
  schemas:
    Company:
      example:
        parentCompany:
          parentCompany: "{}"
          country: United States
          zipCode: "94538"
          address: 45500 Fremont Blvd
          city: Fremont
          name: "Tesla, Inc."
          vat: 91 2197729
          id: 2
          state: CA
          cretaedAt: 2024-04-02T11:37:18.000000Z
        country: United States
        zipCode: "94538"
        address: 45500 Fremont Blvd
        city: Fremont
        name: "Tesla, Inc."
        vat: 91 2197729
        id: 2
        state: CA
        cretaedAt: 2024-04-02T11:37:18.000000Z
      properties:
        id:
          description: Id of company
          example: 2
          type: integer
        name:
          description: Name of company
          example: "Tesla, Inc."
          type: string
        vat:
          description: VAT number / tad ID of company
          example: 91 2197729
          type: string
        address:
          description: Address of company
          example: 45500 Fremont Blvd
          type: string
        city:
          description: City of company
          example: Fremont
          type: string
        state:
          description: State of company
          example: CA
          type: string
        country:
          description: Country of company
          example: United States
          type: string
        zipCode:
          description: Zip code of company
          example: "94538"
          type: string
        cretaedAt:
          description: Company creation date
          example: 2024-04-02T11:37:18.000000Z
          type: string
        parentCompany:
          $ref: '#/components/schemas/Company_parentCompany'
    Plant:
      example:
        country: United States
        zipCode: "94538"
        address: 45500 Fremont Blvd
        city: Fremont
        latitude: "37.49237858877767"
        timeZone: America/Los_Angeles
        name: Tesla Fremont
        company:
          parentCompany:
            parentCompany: "{}"
            country: United States
            zipCode: "94538"
            address: 45500 Fremont Blvd
            city: Fremont
            name: "Tesla, Inc."
            vat: 91 2197729
            id: 2
            state: CA
            cretaedAt: 2024-04-02T11:37:18.000000Z
          country: United States
          zipCode: "94538"
          address: 45500 Fremont Blvd
          city: Fremont
          name: "Tesla, Inc."
          vat: 91 2197729
          id: 2
          state: CA
          cretaedAt: 2024-04-02T11:37:18.000000Z
        id: 2
        state: CA
        coverageRange: "2"
        cretaedAt: 2024-04-02T11:37:18.000000Z
        longitude: "-121.94411126150102"
      properties:
        id:
          description: Id of plant
          example: 2
          type: integer
        name:
          description: Name of plant
          example: Tesla Fremont
          type: string
        address:
          description: Address of plant
          example: 45500 Fremont Blvd
          type: string
        city:
          description: City of plant
          example: Fremont
          type: string
        state:
          description: State of plant
          example: CA
          type: string
        country:
          description: Country of plant
          example: United States
          type: string
        zipCode:
          description: Zip code of plant
          example: "94538"
          type: string
        cretaedAt:
          description: Plant creation date
          example: 2024-04-02T11:37:18.000000Z
          format: date-time
          type: string
        timeZone:
          description: Timezone of plant
          example: America/Los_Angeles
          type: string
        latitude:
          description: Latitude of plant
          example: "37.49237858877767"
          format: double
          type: number
        longitude:
          description: Longitude of plant
          example: "-121.94411126150102"
          format: double
          type: number
        coverageRange:
          description: Range for the MATIX to be snapped to the plant
          example: "2"
          format: double
          type: number
        company:
          $ref: '#/components/schemas/Company'
    Tool:
      example:
        ownerCompany:
          parentCompany:
            parentCompany: "{}"
            country: United States
            zipCode: "94538"
            address: 45500 Fremont Blvd
            city: Fremont
            name: "Tesla, Inc."
            vat: 91 2197729
            id: 2
            state: CA
            cretaedAt: 2024-04-02T11:37:18.000000Z
          country: United States
          zipCode: "94538"
          address: 45500 Fremont Blvd
          city: Fremont
          name: "Tesla, Inc."
          vat: 91 2197729
          id: 2
          state: CA
          cretaedAt: 2024-04-02T11:37:18.000000Z
        matixData:
          stateOfCharge:
            value: 0.3456
            updatedAt: 2024-04-02T11:37:18.000000Z
          position:
            latitude: "-121.94411126150102"
            longitude: "-121.94411126150102"
            updatedAt: 2024-04-02T11:37:18.000000Z
          battery:
            value: 3.59
            updatedAt: 2024-04-02T11:37:18.000000Z
          deviceId: "350457791145947"
        availableCavities: 2
        totalCycles: 7776837
        commissioningDate: 2024-04-02T11:37:18.000000Z
        type: plastic_injection
        operatingPlant:
          country: United States
          zipCode: "94538"
          address: 45500 Fremont Blvd
          city: Fremont
          latitude: "37.49237858877767"
          timeZone: America/Los_Angeles
          name: Tesla Fremont
          company:
            parentCompany:
              parentCompany: "{}"
              country: United States
              zipCode: "94538"
              address: 45500 Fremont Blvd
              city: Fremont
              name: "Tesla, Inc."
              vat: 91 2197729
              id: 2
              state: CA
              cretaedAt: 2024-04-02T11:37:18.000000Z
            country: United States
            zipCode: "94538"
            address: 45500 Fremont Blvd
            city: Fremont
            name: "Tesla, Inc."
            vat: 91 2197729
            id: 2
            state: CA
            cretaedAt: 2024-04-02T11:37:18.000000Z
          id: 2
          state: CA
          coverageRange: "2"
          cretaedAt: 2024-04-02T11:37:18.000000Z
          longitude: "-121.94411126150102"
        producedParts:
        - value: Falcon X Part
          key: FCX-55637
        - value: Falcon X Part
          key: FCX-55637
        targetCycleTime: 12.6
        inHouse: true
        usedCavities: 3
        name: Model 3 RWD Rear Panel
        id: 123
        cretaedAt: 2024-04-02T11:37:18.000000Z
      properties:
        id:
          description: Id of tool
          example: 123
          type: integer
        name:
          description: Name of tool
          example: Model 3 RWD Rear Panel
          type: string
        type:
          description: Yype of tool
          enum:
          - plastic_injection
          - metal_stamping
          - die_casting
          - thermoforming
          type: string
        totalCycles:
          description: Total cycles count of tool
          example: 7776837
          format: int32
          type: integer
        usedCavities:
          description: Tool used cavities
          example: 3
          format: int32
          type: integer
        availableCavities:
          description: Tool available cavities
          example: 2
          format: int32
          type: integer
        producedParts:
          description: Array of produced parts
          items:
            $ref: '#/components/schemas/Tool_producedParts_inner'
          type: array
        ownerCompany:
          $ref: '#/components/schemas/Company'
        operatingPlant:
          $ref: '#/components/schemas/Plant'
        inHouse:
          example: true
          format: int32
          type: boolean
        cretaedAt:
          description: Tool creation date
          example: 2024-04-02T11:37:18.000000Z
          format: date-time
          type: string
        commissioningDate:
          description: Tool commissioning date
          example: 2024-04-02T11:37:18.000000Z
          format: date-time
          type: string
        targetCycleTime:
          example: 12.6
          format: double
          type: number
        matixData:
          $ref: '#/components/schemas/Tool_matixData'
    Companies:
      description: array of companies
      items:
        $ref: '#/components/schemas/Company'
      type: array
    Plants:
      description: array of plants
      items:
        $ref: '#/components/schemas/Plant'
      type: array
    Tools:
      description: array of tools
      items:
        $ref: '#/components/schemas/Tool'
      type: array
    Telemetry:
      description: array of telemetry points
      items:
        $ref: '#/components/schemas/Telemetry_inner'
      type: array
    getTools_200_response:
      example:
        data:
        - null
        - null
        meta: "{}"
        links: "{}"
      properties:
        data:
          items:
            $ref: '#/components/schemas/Tools'
          type: array
        links:
          description: links for pagination
          type: object
        meta:
          description: metadata for pagination
          type: object
    getTelemetry_200_response_data_inner:
      example:
        data:
        - null
        - null
        key: CYCLE_TIME
      properties:
        key:
          description: Telemetry key
          example: CYCLE_TIME
          type: string
        data:
          description: Array of telemetry points
          items:
            $ref: '#/components/schemas/Telemetry'
          type: array
    getTelemetry_200_response:
      example:
        data:
        - data:
          - null
          - null
          key: CYCLE_TIME
        - data:
          - null
          - null
          key: CYCLE_TIME
        status: success
      properties:
        status:
          description: success/fail
          enum:
          - success
          - fail
          type: string
        data:
          items:
            $ref: '#/components/schemas/getTelemetry_200_response_data_inner'
          type: array
    Company_parentCompany:
      example:
        parentCompany: "{}"
        country: United States
        zipCode: "94538"
        address: 45500 Fremont Blvd
        city: Fremont
        name: "Tesla, Inc."
        vat: 91 2197729
        id: 2
        state: CA
        cretaedAt: 2024-04-02T11:37:18.000000Z
      properties:
        id:
          description: Id of company
          example: 2
          type: integer
        name:
          description: Name of company
          example: "Tesla, Inc."
          type: string
        vat:
          description: VAT number / tad ID of company
          example: 91 2197729
          type: string
        address:
          description: Address of company
          example: 45500 Fremont Blvd
          type: string
        city:
          description: City of company
          example: Fremont
          type: string
        state:
          description: State of company
          example: CA
          type: string
        country:
          description: Country of company
          example: United States
          type: string
        zipCode:
          description: Zip code of company
          example: "94538"
          type: string
        cretaedAt:
          description: Company creation date
          example: 2024-04-02T11:37:18.000000Z
          format: date-time
          type: string
        parentCompany:
          type: object
    Tool_producedParts_inner:
      example:
        value: Falcon X Part
        key: FCX-55637
      properties:
        key:
          description: Part code
          example: FCX-55637
          type: string
        value:
          description: Part name
          example: Falcon X Part
          type: string
    Tool_matixData_position:
      example:
        latitude: "-121.94411126150102"
        longitude: "-121.94411126150102"
        updatedAt: 2024-04-02T11:37:18.000000Z
      properties:
        latitude:
          description: Latitude of device
          example: "-121.94411126150102"
          format: double
          type: number
        longitude:
          description: Longitude of device
          example: "-121.94411126150102"
          format: double
          type: number
        updatedAt:
          description: Data update time
          example: 2024-04-02T11:37:18.000000Z
          format: date-time
          type: string
    Tool_matixData_stateOfCharge:
      example:
        value: 0.3456
        updatedAt: 2024-04-02T11:37:18.000000Z
      properties:
        value:
          description: State of charge (SOC) value
          example: 0.3456
          format: double
          type: number
        updatedAt:
          description: Data update time
          example: 2024-04-02T11:37:18.000000Z
          format: date-time
          type: string
    Tool_matixData_battery:
      example:
        value: 3.59
        updatedAt: 2024-04-02T11:37:18.000000Z
      properties:
        value:
          description: Battery voltage value in (V)
          example: 3.59
          format: double
          type: number
        updatedAt:
          description: Data update time
          example: 2024-04-02T11:37:18.000000Z
          format: date-time
          type: string
    Tool_matixData:
      example:
        stateOfCharge:
          value: 0.3456
          updatedAt: 2024-04-02T11:37:18.000000Z
        position:
          latitude: "-121.94411126150102"
          longitude: "-121.94411126150102"
          updatedAt: 2024-04-02T11:37:18.000000Z
        battery:
          value: 3.59
          updatedAt: 2024-04-02T11:37:18.000000Z
        deviceId: "350457791145947"
      properties:
        deviceId:
          example: "350457791145947"
          type: string
        position:
          $ref: '#/components/schemas/Tool_matixData_position'
        stateOfCharge:
          $ref: '#/components/schemas/Tool_matixData_stateOfCharge'
        battery:
          $ref: '#/components/schemas/Tool_matixData_battery'
    Telemetry_inner:
      properties:
        time:
          description: Telemetry point date - start of aggregated interval
          example: 2024-04-02T11:37:18.000000Z
          format: date-time
          type: string
        max:
          description: Max value of telemetry variable in interval
          example: 3.59
          format: double
          type: number
        min:
          description: Min value of telemetry variable in interval
          example: 3.1
          format: double
          type: number
        avg:
          description: Avg value of telemetry variable in interval
          example: 3.24
          format: double
          type: number
        sum:
          description: Sum value of telemetry variable in interval
          example: 30.67
          format: double
          type: number
  securitySchemes:
    bearerAuth:
      scheme: Bearer
      type: http

