openapi: 3.1.0
info:
  description: Complete Matomo reporting API documentation
  title: Matomo API
  version: 5.0.0
externalDocs:
  description: Official Matomo doc
  url: https://developer.matomo.org/api-reference/reporting-api
servers:
- description: Matomo demo server
  url: https://demo.matomo.cloud/
security:
- TokenAuth: []
tags:
- name: API
- name: AbTesting
- name: Actions
- name: ActivityLog
- name: AdvertisingConversionExport
- name: Annotations
- name: Contents
- name: CoreAdminHome
- name: CrashAnalytics
- name: CustomAlerts
- name: CustomDimensions
- name: CustomJsTracker
- name: CustomReports
- name: CustomVariables
- name: Dashboard
- name: DevicePlugins
- name: DevicesDetection
- name: Events
- name: Feedback
- name: FormAnalytics
- name: Funnels
- name: Goals
- name: HeatmapSessionRecording
- name: ImageGraph
- name: Insights
- name: LanguagesManager
- name: Live
- name: Login
- name: MarketingCampaignsReporting
- name: MediaAnalytics
- name: MobileMessaging
- name: MultiChannelConversionAttribution
- name: MultiSites
- name: Overlay
- name: PagePerformance
- name: PrivacyManager
- name: Referrers
- name: Resolution
- name: RollUpReporting
- name: SEO
- name: ScheduledReports
- name: SearchEngineKeywordsPerformance
- name: SegmentEditor
- name: SitesManager
- name: TagManager
- name: Tour
- name: Transitions
- name: TwoFactorAuth
- name: UserCountry
- name: UserId
- name: UserLanguage
- name: UsersFlow
- name: UsersManager
- name: VisitFrequency
- name: VisitTime
- name: VisitorInterest
- name: VisitsSummary
paths:
  /index.php?method=API.get:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_get_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getMatomoVersion:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getPhpVersion:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getIpFromHeader:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getSettings:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getSegmentsMetadata:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getSegmentsMetadata_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getMetadata:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMetadata_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getReportMetadata:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportMetadata_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getProcessedReport:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getProcessedReport_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getReportPagesMetadata:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getWidgetMetadata:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getRowEvolution:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getRowEvolution_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getBulkRequest:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getBulkRequest_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.isPluginActivated:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_isPluginActivated_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getSuggestedValuesForSegment:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getSuggestedValuesForSegment_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getPagesComparisonsDisabledFor:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getGlossaryReports:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=API.getGlossaryMetrics:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - API
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.getMetricsOverview:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AbTesting_getMetricsOverview_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.getMetricDetails:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AbTesting_getMetricDetails_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.addExperiment:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AbTesting_addExperiment_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.updateExperiment:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AbTesting_updateExperiment_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.startExperiment:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AbTesting_startExperiment_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.finishExperiment:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AbTesting_startExperiment_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.archiveExperiment:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AbTesting_startExperiment_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.getJsIncludeTemplate:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.getJsExperimentTemplate:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AbTesting_startExperiment_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.getAllExperiments:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.getActiveExperiments:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.getExperimentsByStatuses:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AbTesting_getExperimentsByStatuses_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.getExperiment:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AbTesting_startExperiment_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.deleteExperiment:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AbTesting_startExperiment_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.getAvailableStatuses:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.getAvailableSuccessMetrics:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.getAvailableTargetAttributes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AbTesting.getExperimentsWithReports:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - AbTesting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.get:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_get_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getPageUrls:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getPageUrls_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getPageUrlsFollowingSiteSearch:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getPageUrlsFollowingSiteSearch_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getPageTitlesFollowingSiteSearch:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getPageUrlsFollowingSiteSearch_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getEntryPageUrls:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getEntryPageUrls_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getExitPageUrls:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getEntryPageUrls_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getPageUrl:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getPageUrl_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getPageTitles:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getEntryPageUrls_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getEntryPageTitles:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getEntryPageUrls_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getExitPageTitles:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getEntryPageUrls_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getPageTitle:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getPageTitle_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getDownloads:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getEntryPageUrls_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getDownload:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getDownload_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getOutlinks:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getEntryPageUrls_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getOutlink:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getOutlink_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getSiteSearchKeywords:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getSiteSearchNoResultKeywords:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Actions.getSiteSearchCategories:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - Actions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=ActivityLog.getEntries:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_ActivityLog_getEntries_post_request'
      tags:
      - ActivityLog
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=ActivityLog.getEntryCount:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_ActivityLog_getEntryCount_post_request'
      tags:
      - ActivityLog
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AdvertisingConversionExport.getConversionExports:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - AdvertisingConversionExport
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AdvertisingConversionExport.getConversionExport:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AdvertisingConversionExport_getConversionExport_post_request'
      tags:
      - AdvertisingConversionExport
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AdvertisingConversionExport.deleteConversionExport:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AdvertisingConversionExport_deleteConversionExport_post_request'
      tags:
      - AdvertisingConversionExport
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AdvertisingConversionExport.addConversionExport:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AdvertisingConversionExport_addConversionExport_post_request'
      tags:
      - AdvertisingConversionExport
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AdvertisingConversionExport.regenerateAccessToken:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AdvertisingConversionExport_getConversionExport_post_request'
      tags:
      - AdvertisingConversionExport
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=AdvertisingConversionExport.updateConversionExport:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AdvertisingConversionExport_updateConversionExport_post_request'
      tags:
      - AdvertisingConversionExport
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Annotations.add:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Annotations_add_post_request'
      tags:
      - Annotations
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Annotations.save:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Annotations_save_post_request'
      tags:
      - Annotations
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Annotations.delete:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Annotations_delete_post_request'
      tags:
      - Annotations
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Annotations.deleteAll:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - Annotations
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Annotations.get:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Annotations_delete_post_request'
      tags:
      - Annotations
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Annotations.getAll:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Annotations_getAll_post_request'
      tags:
      - Annotations
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Annotations.getAnnotationCountForDates:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Annotations_getAnnotationCountForDates_post_request'
      tags:
      - Annotations
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Contents.getContentNames:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Contents_getContentNames_post_request'
      tags:
      - Contents
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Contents.getContentPieces:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Contents_getContentNames_post_request'
      tags:
      - Contents
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CoreAdminHome.deleteAllTrackingFailures:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - CoreAdminHome
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CoreAdminHome.deleteTrackingFailure:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CoreAdminHome_deleteTrackingFailure_post_request'
      tags:
      - CoreAdminHome
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CoreAdminHome.getTrackingFailures:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - CoreAdminHome
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.searchCrashMessagesForMerge:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_searchCrashMessagesForMerge_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.mergeCrashes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.unmergeCrashGroup:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashGroups:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashTypes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashTypes_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.setIgnoreCrash:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getIgnoredCrashes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashSummary:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashVisitContext:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashVisitContext_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getAllCrashes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getAllCrashes_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.get:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_get_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getAllCrashMessages:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getAllCrashMessages_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashMessages:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getAllCrashMessages_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getUnidentifiedCrashMessages:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getAllCrashMessages_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getDisappearedCrashes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getAllCrashMessages_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getReappearedCrashes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getAllCrashMessages_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getNewCrashes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getAllCrashMessages_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashesByPageUrl:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesByPageUrl_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashesForPageUrl:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesForPageUrl_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashesByPageTitle:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesByPageUrl_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashesForPageTitle:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesForPageUrl_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashesBySource:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesByPageUrl_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashesForSource:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesForPageUrl_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashesByCategory:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesByPageUrl_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashesForCategory:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesForPageUrl_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashesByFirstParty:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getAllCrashMessages_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getCrashesByThirdParty:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getAllCrashMessages_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getLastCrashesOverview:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getLastCrashesOverview_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getLastTopCrashes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getLastTopCrashes_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getLastNewCrashes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getLastTopCrashes_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getLastReappearedCrashes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getLastTopCrashes_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CrashAnalytics.getLastDisappearedCrashes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getLastTopCrashes_post_request'
      tags:
      - CrashAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomAlerts.getValuesForAlertInPast:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomAlerts_getValuesForAlertInPast_post_request'
      tags:
      - CustomAlerts
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomAlerts.getAlert:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomAlerts_getAlert_post_request'
      tags:
      - CustomAlerts
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomAlerts.getAlerts:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomAlerts_getAlerts_post_request'
      tags:
      - CustomAlerts
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomAlerts.addAlert:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomAlerts_addAlert_post_request'
      tags:
      - CustomAlerts
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomAlerts.editAlert:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomAlerts_editAlert_post_request'
      tags:
      - CustomAlerts
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomAlerts.deleteAlert:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomAlerts_getAlert_post_request'
      tags:
      - CustomAlerts
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomAlerts.getTriggeredAlerts:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getSegmentsMetadata_post_request'
      tags:
      - CustomAlerts
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomDimensions.getCustomDimension:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomDimensions_getCustomDimension_post_request'
      tags:
      - CustomDimensions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomDimensions.configureNewCustomDimension:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomDimensions_configureNewCustomDimension_post_request'
      tags:
      - CustomDimensions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomDimensions.configureExistingCustomDimension:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomDimensions_configureExistingCustomDimension_post_request'
      tags:
      - CustomDimensions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomDimensions.getConfiguredCustomDimensions:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - CustomDimensions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomDimensions.getConfiguredCustomDimensionsHavingScope:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomDimensions_getConfiguredCustomDimensionsHavingScope_post_request'
      tags:
      - CustomDimensions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomDimensions.getAvailableScopes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - CustomDimensions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomDimensions.getAvailableExtractionDimensions:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - CustomDimensions
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomJsTracker.doesIncludePluginTrackersAutomatically:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - CustomJsTracker
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomReports.addCustomReport:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomReports_addCustomReport_post_request'
      tags:
      - CustomReports
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomReports.updateCustomReport:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomReports_updateCustomReport_post_request'
      tags:
      - CustomReports
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomReports.getConfiguredReports:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomReports_getConfiguredReports_post_request'
      tags:
      - CustomReports
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomReports.getConfiguredReport:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomReports_getConfiguredReport_post_request'
      tags:
      - CustomReports
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomReports.deleteCustomReport:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomReports_getConfiguredReport_post_request'
      tags:
      - CustomReports
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomReports.getAvailableCategories:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - CustomReports
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomReports.getAvailableReportTypes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - CustomReports
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomReports.getAvailableDimensions:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - CustomReports
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomReports.getAvailableMetrics:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - CustomReports
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomReports.getCustomReport:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CustomReports_getCustomReport_post_request'
      tags:
      - CustomReports
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomVariables.getCustomVariables:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesByPageUrl_post_request'
      tags:
      - CustomVariables
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomVariables.getCustomVariablesValuesFromNameId:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesForPageUrl_post_request'
      tags:
      - CustomVariables
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=CustomVariables.getUsagesOfSlots:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - CustomVariables
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Dashboard.getDashboards:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Dashboard_getDashboards_post_request'
      tags:
      - Dashboard
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Dashboard.createNewDashboardForUser:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Dashboard_createNewDashboardForUser_post_request'
      tags:
      - Dashboard
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Dashboard.removeDashboard:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Dashboard_removeDashboard_post_request'
      tags:
      - Dashboard
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Dashboard.copyDashboardToUser:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Dashboard_copyDashboardToUser_post_request'
      tags:
      - Dashboard
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Dashboard.resetDashboardLayout:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Dashboard_removeDashboard_post_request'
      tags:
      - Dashboard
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=DevicePlugins.getPlugin:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getAllCrashMessages_post_request'
      tags:
      - DevicePlugins
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=DevicesDetection.getType:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - DevicesDetection
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=DevicesDetection.getBrand:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - DevicesDetection
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=DevicesDetection.getModel:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - DevicesDetection
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=DevicesDetection.getOsFamilies:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - DevicesDetection
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=DevicesDetection.getOsVersions:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - DevicesDetection
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=DevicesDetection.getBrowsers:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - DevicesDetection
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=DevicesDetection.getBrowserVersions:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - DevicesDetection
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=DevicesDetection.getBrowserEngines:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - DevicesDetection
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Events.getCategory:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Events_getCategory_post_request'
      tags:
      - Events
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Events.getAction:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Events_getCategory_post_request'
      tags:
      - Events
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Events.getName:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Events_getCategory_post_request'
      tags:
      - Events
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Events.getActionFromCategoryId:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesForPageUrl_post_request'
      tags:
      - Events
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Events.getNameFromCategoryId:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesForPageUrl_post_request'
      tags:
      - Events
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Events.getCategoryFromActionId:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesForPageUrl_post_request'
      tags:
      - Events
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Events.getNameFromActionId:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesForPageUrl_post_request'
      tags:
      - Events
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Events.getActionFromNameId:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesForPageUrl_post_request'
      tags:
      - Events
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Events.getCategoryFromNameId:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getCrashesForPageUrl_post_request'
      tags:
      - Events
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Feedback.sendFeedbackForFeature:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Feedback_sendFeedbackForFeature_post_request'
      tags:
      - Feedback
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Feedback.sendFeedbackForSurvey:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Feedback_sendFeedbackForSurvey_post_request'
      tags:
      - Feedback
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Feedback.updateFeedbackReminderDate:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - Feedback
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.addForm:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_addForm_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.updateForm:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_updateForm_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getForm:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getForm_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getForms:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getFormsByStatuses:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_AbTesting_getExperimentsByStatuses_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.deleteForm:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getForm_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.archiveForm:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getForm_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.get:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_get_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getEntryFields:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getEntryFields_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getDropOffFields:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getEntryFields_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getPageUrls:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getEntryFields_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getFieldTimings:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getEntryFields_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getFieldSize:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getEntryFields_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getUneededFields:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getEntryFields_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getMostUsedFields:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getEntryFields_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getFieldCorrections:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getEntryFields_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.updateFormFieldDisplayName:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_updateFormFieldDisplayName_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getCounters:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getCounters_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getCurrentMostPopularForms:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getCurrentMostPopularForms_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getAutoCreationSettings:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getAvailableStatuses:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getAvailableFormRules:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getAvailablePageRules:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=FormAnalytics.getAvailableConversionRuleOptions:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - FormAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Funnels.getMetrics:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Funnels_getMetrics_post_request'
      tags:
      - Funnels
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Funnels.getFunnelFlow:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Funnels_getMetrics_post_request'
      tags:
      - Funnels
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Funnels.getFunnelEntries:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Funnels_getFunnelEntries_post_request'
      tags:
      - Funnels
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Funnels.getFunnelExits:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Funnels_getFunnelExits_post_request'
      tags:
      - Funnels
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Funnels.getGoalFunnel:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Funnels_getGoalFunnel_post_request'
      tags:
      - Funnels
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Funnels.getAllActivatedFunnelsForSite:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - Funnels
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Funnels.hasAnyActivatedFunnelForSite:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - Funnels
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Funnels.deleteGoalFunnel:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Funnels_getGoalFunnel_post_request'
      tags:
      - Funnels
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Funnels.setGoalFunnel:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Funnels_setGoalFunnel_post_request'
      tags:
      - Funnels
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Funnels.getAvailablePatternMatches:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - Funnels
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Funnels.testUrlMatchesSteps:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Funnels_testUrlMatchesSteps_post_request'
      tags:
      - Funnels
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Goals.getGoal:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Funnels_getGoalFunnel_post_request'
      tags:
      - Goals
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Goals.getGoals:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - Goals
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Goals.addGoal:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Goals_addGoal_post_request'
      tags:
      - Goals
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Goals.updateGoal:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Goals_updateGoal_post_request'
      tags:
      - Goals
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Goals.deleteGoal:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Funnels_getGoalFunnel_post_request'
      tags:
      - Goals
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Goals.getItemsSku:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Goals_getItemsSku_post_request'
      tags:
      - Goals
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Goals.getItemsName:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Goals_getItemsSku_post_request'
      tags:
      - Goals
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Goals.getItemsCategory:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Goals_getItemsSku_post_request'
      tags:
      - Goals
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Goals.get:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Goals_get_post_request'
      tags:
      - Goals
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Goals.getDaysToConversion:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Goals_getDaysToConversion_post_request'
      tags:
      - Goals
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Goals.getVisitsUntilConversion:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Goals_getDaysToConversion_post_request'
      tags:
      - Goals
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.addHeatmap:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_addHeatmap_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.updateHeatmap:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_updateHeatmap_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.deleteHeatmapScreenshot:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_deleteHeatmapScreenshot_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.addSessionRecording:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_addSessionRecording_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.updateSessionRecording:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_updateSessionRecording_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getHeatmap:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_deleteHeatmapScreenshot_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getSessionRecording:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_deleteHeatmapScreenshot_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.deleteHeatmap:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_deleteHeatmapScreenshot_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.endHeatmap:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_deleteHeatmapScreenshot_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.deleteSessionRecording:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_deleteHeatmapScreenshot_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.endSessionRecording:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_deleteHeatmapScreenshot_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getHeatmaps:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_getHeatmaps_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getSessionRecordings:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getRecordedSessions:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_getRecordedSessions_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getRecordedSession:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_getRecordedSession_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.deleteRecordedSession:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_deleteRecordedSession_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.deleteRecordedPageview:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_getRecordedSession_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getRecordedHeatmapMetadata:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_getRecordedHeatmapMetadata_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getRecordedHeatmap:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_getRecordedHeatmap_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getEmbedSessionInfo:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_getRecordedSession_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.testUrlMatchPages:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_HeatmapSessionRecording_testUrlMatchPages_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getAvailableStatuses:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getAvailableTargetPageRules:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getAvailableDeviceTypes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getAvailableHeatmapTypes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getAvailableSessionRecordingSampleLimits:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=HeatmapSessionRecording.getEventTypes:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - HeatmapSessionRecording
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=ImageGraph.get:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_ImageGraph_get_post_request'
      tags:
      - ImageGraph
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Insights.canGenerateInsights:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Insights_canGenerateInsights_post_request'
      tags:
      - Insights
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Insights.getInsightsOverview:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getAllCrashMessages_post_request'
      tags:
      - Insights
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Insights.getMoversAndShakersOverview:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getAllCrashMessages_post_request'
      tags:
      - Insights
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Insights.getMoversAndShakers:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Insights_getMoversAndShakers_post_request'
      tags:
      - Insights
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Insights.getInsights:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Insights_getInsights_post_request'
      tags:
      - Insights
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=LanguagesManager.isLanguageAvailable:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_LanguagesManager_isLanguageAvailable_post_request'
      tags:
      - LanguagesManager
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=LanguagesManager.getAvailableLanguages:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - LanguagesManager
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=LanguagesManager.getAvailableLanguagesInfo:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_LanguagesManager_getAvailableLanguagesInfo_post_request'
      tags:
      - LanguagesManager
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=LanguagesManager.getAvailableLanguageNames:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - LanguagesManager
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=LanguagesManager.getTranslationsForLanguage:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_LanguagesManager_isLanguageAvailable_post_request'
      tags:
      - LanguagesManager
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=LanguagesManager.getLanguageForUser:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_LanguagesManager_getLanguageForUser_post_request'
      tags:
      - LanguagesManager
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=LanguagesManager.setLanguageForUser:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_LanguagesManager_setLanguageForUser_post_request'
      tags:
      - LanguagesManager
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=LanguagesManager.uses12HourClockForUser:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_LanguagesManager_getLanguageForUser_post_request'
      tags:
      - LanguagesManager
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=LanguagesManager.set12HourClockForUser:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_LanguagesManager_set12HourClockForUser_post_request'
      tags:
      - LanguagesManager
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Live.getCounters:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Live_getCounters_post_request'
      tags:
      - Live
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Live.getLastVisitsDetails:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Live_getLastVisitsDetails_post_request'
      tags:
      - Live
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Live.getVisitorProfile:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Live_getVisitorProfile_post_request'
      tags:
      - Live
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Live.getMostRecentVisitorId:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Live_getMostRecentVisitorId_post_request'
      tags:
      - Live
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=Login.unblockBruteForceIPs:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getMatomoVersion_post_request'
      tags:
      - Login
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MarketingCampaignsReporting.getId:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - MarketingCampaignsReporting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MarketingCampaignsReporting.getName:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_MarketingCampaignsReporting_getName_post_request'
      tags:
      - MarketingCampaignsReporting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MarketingCampaignsReporting.getKeywordContentFromNameId:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_MarketingCampaignsReporting_getKeywordContentFromNameId_post_request'
      tags:
      - MarketingCampaignsReporting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MarketingCampaignsReporting.getKeyword:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - MarketingCampaignsReporting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MarketingCampaignsReporting.getSource:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - MarketingCampaignsReporting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MarketingCampaignsReporting.getMedium:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - MarketingCampaignsReporting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MarketingCampaignsReporting.getContent:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - MarketingCampaignsReporting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MarketingCampaignsReporting.getGroup:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - MarketingCampaignsReporting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MarketingCampaignsReporting.getPlacement:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_getSiteSearchKeywords_post_request'
      tags:
      - MarketingCampaignsReporting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MarketingCampaignsReporting.getSourceMedium:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_MarketingCampaignsReporting_getName_post_request'
      tags:
      - MarketingCampaignsReporting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MarketingCampaignsReporting.getNameFromSourceMediumId:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_MarketingCampaignsReporting_getKeywordContentFromNameId_post_request'
      tags:
      - MarketingCampaignsReporting
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MediaAnalytics.hasRecords:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_API_getReportPagesMetadata_post_request'
      tags:
      - MediaAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MediaAnalytics.get:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_Actions_get_post_request'
      tags:
      - MediaAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MediaAnalytics.getCurrentNumPlays:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getCounters_post_request'
      tags:
      - MediaAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MediaAnalytics.getCurrentSumTimeSpent:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getCounters_post_request'
      tags:
      - MediaAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MediaAnalytics.getCurrentMostPlays:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_FormAnalytics_getCurrentMostPopularForms_post_request'
      tags:
      - MediaAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MediaAnalytics.getVideoResources:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_MediaAnalytics_getVideoResources_post_request'
      tags:
      - MediaAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MediaAnalytics.getAudioResources:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_MediaAnalytics_getVideoResources_post_request'
      tags:
      - MediaAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MediaAnalytics.getVideoTitles:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_MediaAnalytics_getVideoTitles_post_request'
      tags:
      - MediaAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MediaAnalytics.getAudioTitles:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_MediaAnalytics_getVideoTitles_post_request'
      tags:
      - MediaAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MediaAnalytics.getGroupedVideoResources:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_MediaAnalytics_getVideoTitles_post_request'
      tags:
      - MediaAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MediaAnalytics.getGroupedAudioResources:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_MediaAnalytics_getVideoTitles_post_request'
      tags:
      - MediaAnalytics
      x-content-type: application/json
      x-accepts: application/json
  /index.php?method=MediaAnalytics.getVideoHours:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_index_php_method_CrashAnalytics_getAllCrashMessages_post_request'
      tags:
[...]
