openapi: 3.1.0
info:
  contact:
    email: developers@hudini.io
  description: Explore reference documentation for Hudini Elevate - A collection of
    APIs that application developers can utilize to extend hospitality functions on
    their experiences
  termsOfService: http://hudini.io/terms/
  title: Hudini Elevate
  version: 1.0.0
externalDocs:
  description: Find out more about Hudini
  url: http://hudini.io
servers:
- url: https://api.hudini.io/v1
tags:
- description: Operations on a room reservation.
  name: reservation
paths:
  /{hotelId}/reservations:
    get:
      description: Returns a collection of reservations
      operationId: getReservations
      parameters:
      - description: Hudini Hotel Identifier
        explode: false
        in: path
        name: hotelId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Start of range for check in dates
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End of range for check in dates
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: First name of guest
        explode: true
        in: query
        name: firstName
        required: false
        schema:
          type: string
        style: form
      - description: Last name of guest
        explode: true
        in: query
        name: lastName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getReservations_200_response_inner'
                type: array
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Downstream system unavailable
      security:
      - api_key: []
      - hudini_auth:
        - read:reservations
      summary: Find Reservations
      tags:
      - reservation
      x-accepts: application/json
  /{hotelId}/reservations/{reservationId}:
    get:
      description: Returns details about a reservation
      operationId: getReservationDetails
      parameters:
      - description: Hudini Hotel Identifier
        explode: false
        in: path
        name: hotelId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Reservation ID
        explode: false
        in: path
        name: reservationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReservationDetails_200_response'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Downstream system unavailable
      security:
      - api_key: []
      - hudini_auth:
        - read:reservations
      summary: Find Reservation Details
      tags:
      - reservation
      x-accepts: application/json
  /{hotelId}/reservations/{reservationId}/guests:
    get:
      description: Returns details about all guests on reservation
      operationId: getReservationGuests
      parameters:
      - description: Hudini Hotel Identifier
        explode: false
        in: path
        name: hotelId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Reservation ID
        explode: false
        in: path
        name: reservationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Guest'
                type: array
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Downstream system unavailable
      security:
      - api_key: []
      - hudini_auth:
        - read:reservations
      summary: Find Guests on a reservation
      tags:
      - reservation
      x-accepts: application/json
    post:
      description: Add a new guest to the reservation
      operationId: addReservationGuest
      parameters:
      - description: Hudini Hotel Identifier
        explode: false
        in: path
        name: hotelId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Reservation ID
        explode: false
        in: path
        name: reservationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Guest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Guest'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Downstream system unavailable
      security:
      - api_key: []
      - hudini_auth:
        - write:reservations
      summary: Add a guest
      tags:
      - reservation
      x-content-type: application/json
      x-accepts: application/json
  /{hotelId}/reservations/{reservationId}/guests/{guestId}:
    get:
      description: Returns details about a guest on reservation
      operationId: getReservationGuestDetails
      parameters:
      - description: Hudini Hotel Identifier
        explode: false
        in: path
        name: hotelId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Reservation ID
        explode: false
        in: path
        name: reservationId
        required: true
        schema:
          type: string
        style: simple
      - description: Guest ID
        explode: false
        in: path
        name: guestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Guest'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Downstream system unavailable
      security:
      - api_key: []
      - hudini_auth:
        - read:reservations
      summary: Find Guests Details on a reservation
      tags:
      - reservation
      x-accepts: application/json
    patch:
      description: Add a new guest to the reservation
      operationId: updateReservationGuest
      parameters:
      - description: Hudini Hotel Identifier
        explode: false
        in: path
        name: hotelId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Reservation ID
        explode: false
        in: path
        name: reservationId
        required: true
        schema:
          type: string
        style: simple
      - description: Guest ID
        explode: false
        in: path
        name: guestId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Guest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Guest'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Downstream system unavailable
      security:
      - api_key: []
      - hudini_auth:
        - write:reservations
      summary: Add a guest
      tags:
      - reservation
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    ErrorResponse:
      example:
        errorMessage: errorMessage
        errorCode: 5
      properties:
        errorCode:
          format: int64
          type: integer
        errorMessage:
          type: string
    ReservationSummary:
      properties:
        id:
          description: System generated unique ID for a reservation
          type: string
        externalIds:
          description: One or more reference IDs for a reservation. Uniqueness is
            not guarenteed.
          items:
            $ref: '#/components/schemas/ExternalReservationID'
          type: array
        checkinDate:
          description: Start of stay reservation
          format: date-time
          type: string
        checkoutDate:
          description: End of stay reservation
          format: date-time
          type: string
        status:
          description: Status of reservation
          enum:
          - CONFIRMED
          - CHECKED_IN
          - ""
          type: string
        numAdults:
          description: Total number of adults on the reservation
          type: integer
        numChildren:
          description: Total number of children on the reservation
          type: integer
        payments:
          items:
            $ref: '#/components/schemas/ReservationSummary_payments_inner'
          type: array
    ExternalReservationID:
      description: Alternate reference IDs for the reservation. Uniqueness of this
        reference number is not guarenteed
      example:
        id: id
        source: source
        type: EXTERNAL_ID
      properties:
        id:
          type: string
        type:
          enum:
          - EXTERNAL_ID
          - CONFIRMATION_ID
          - CRS_ID
          - OTA_ID
          type: string
        source:
          description: Reference to the source of external ID
          type: string
    RoomTypeSummary:
      example:
        code: code
        isAssigned: true
        roomNo: roomNo
        name: name
      properties:
        code:
          type: string
        name:
          type: string
        isAssigned:
          description: Is set to true is a room is assigned
          type: boolean
        roomNo:
          description: "Assigned room number, when isAssigned is true"
          type: string
    RoomType:
      allOf:
      - $ref: '#/components/schemas/RoomTypeSummary'
      - properties:
          ratePlan:
            $ref: '#/components/schemas/RoomType_allOf_ratePlan'
          addOns:
            items:
              $ref: '#/components/schemas/RoomType_allOf_addOns_inner'
            type: array
          preferences:
            items:
              $ref: '#/components/schemas/RoomType_allOf_preferences_inner'
            type: array
      example:
        ratePlan:
          code: code
          rate: 1.4658129
          name: name
          currency: currency
        preferences:
        - code: code
          title: title
        - code: code
          title: title
        code: code
        isAssigned: true
        roomNo: roomNo
        addOns:
        - code: code
          price:
            description: description
            unitAmount: 5.962134
            currency: currency
            units: 5.637377
          title: title
        - code: code
          price:
            description: description
            unitAmount: 5.962134
            currency: currency
            units: 5.637377
          title: title
        name: name
    Amount:
      example:
        description: description
        unitAmount: 5.962134
        currency: currency
        units: 5.637377
      properties:
        description:
          type: string
        unitAmount:
          format: float
          type: number
        units:
          format: float
          type: number
        currency:
          type: string
    GuestSummary:
      example:
        firstName: firstName
        lastName: lastName
        isVerified: true
        isPrimary: true
        middleName: middleName
        id: id
        title: title
        isAdult: true
      properties:
        id:
          type: string
        title:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        middleName:
          type: string
        isAdult:
          description: Set to true when a guest is considered an adult as per hotel
            rules
          type: boolean
        isVerified:
          description: Set to true when a guest has been verified against an ID Docuemnt
          type: boolean
        isPrimary:
          description: Set to true if this is a primary guest
          type: boolean
    Guest:
      allOf:
      - $ref: '#/components/schemas/GuestSummary'
      - properties:
          gender:
            enum:
            - MALE
            - FEMALE
            - OTHER
            - NA
            type: string
          emailAddresses:
            items:
              $ref: '#/components/schemas/EmailAddress'
            type: array
          phoneNumbers:
            items:
              $ref: '#/components/schemas/PhoneNumber'
            type: array
          addresses:
            items:
              $ref: '#/components/schemas/Address'
            type: array
          nationality:
            $ref: '#/components/schemas/Country'
          identity:
            $ref: '#/components/schemas/Guest_allOf_identity'
          verification:
            $ref: '#/components/schemas/Guest_allOf_verification'
      example:
        lastName: lastName
        addresses:
        - country:
            countryCode: countryCode
            countryName: countryName
          city: city
          state: state
          type: HOME
          line2: line2
          line1: line1
        - country:
            countryCode: countryCode
            countryName: countryName
          city: city
          state: state
          type: HOME
          line2: line2
          line1: line1
        gender: MALE
        isVerified: true
        title: title
        phoneNumbers:
        - phone: 6
          countryCode: 0
          type: MOBILE
        - phone: 6
          countryCode: 0
          type: MOBILE
        firstName: firstName
        emailAddresses:
        - type: PRIMARY
          email: email
        - type: PRIMARY
          email: email
        nationality:
          countryCode: countryCode
          countryName: countryName
        isPrimary: true
        identity:
          expiryDate: expiryDate
          number: number
          issueCountry:
            countryCode: countryCode
            countryName: countryName
          issueDate: issueDate
          IDType: PASSPORT
        middleName: middleName
        id: id
        isAdult: true
        verification:
          score: 1.4658129
          status: ID_VERIFIED
    EmailAddress:
      example:
        type: PRIMARY
        email: email
      properties:
        email:
          format: email
          type: string
        type:
          enum:
          - PRIMARY
          - OTHER
          type: string
    Country:
      example:
        countryCode: countryCode
        countryName: countryName
      properties:
        countryCode:
          description: ISO 3166 A-2 country code corresponding to the country
          type: string
        countryName:
          type: string
    PhoneNumber:
      example:
        phone: 6
        countryCode: 0
        type: MOBILE
      properties:
        countryCode:
          format: int64
          type: integer
        phone:
          format: int64
          type: integer
        type:
          enum:
          - MOBILE
          - HOME
          - WHATSAPP
          - TEXT
          type: string
    Address:
      example:
        country:
          countryCode: countryCode
          countryName: countryName
        city: city
        state: state
        type: HOME
        line2: line2
        line1: line1
      properties:
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          $ref: '#/components/schemas/Country'
        type:
          enum:
          - HOME
          - WORK
          - OTHER
          type: string
    getReservations_200_response_inner_allOf_additionalData_inner:
      example:
        value: value
        key: key
      properties:
        key:
          description: Unique key for a hotel-specific advanced proeprty
          type: string
        value:
          description: Value of a hotel-specific advanced property
          type: string
    getReservations_200_response_inner:
      allOf:
      - $ref: '#/components/schemas/ReservationSummary'
      - properties:
          roomTypes:
            description: Rooms booked on the reservation
            items:
              $ref: '#/components/schemas/RoomTypeSummary'
            type: array
          guests:
            description: Collection of guests on the reservation
            items:
              $ref: '#/components/schemas/GuestSummary'
            type: array
          additionalData:
            items:
              $ref: '#/components/schemas/getReservations_200_response_inner_allOf_additionalData_inner'
            type: array
      example:
        checkoutDate: 2000-01-23T04:56:07.000+00:00
        numAdults: 0
        roomTypes:
        - code: code
          isAssigned: true
          roomNo: roomNo
          name: name
        - code: code
          isAssigned: true
          roomNo: roomNo
          name: name
        payments:
        - description: description
          unitAmount: 1.4658129
          currency: currency
          units: 5.962134
          status: PAID
        - description: description
          unitAmount: 1.4658129
          currency: currency
          units: 5.962134
          status: PAID
        externalIds:
        - id: id
          source: source
          type: EXTERNAL_ID
        - id: id
          source: source
          type: EXTERNAL_ID
        numChildren: 6
        guests:
        - firstName: firstName
          lastName: lastName
          isVerified: true
          isPrimary: true
          middleName: middleName
          id: id
          title: title
          isAdult: true
        - firstName: firstName
          lastName: lastName
          isVerified: true
          isPrimary: true
          middleName: middleName
          id: id
          title: title
          isAdult: true
        checkinDate: 2000-01-23T04:56:07.000+00:00
        id: id
        additionalData:
        - value: value
          key: key
        - value: value
          key: key
        status: CONFIRMED
    getReservationDetails_200_response:
      allOf:
      - $ref: '#/components/schemas/ReservationSummary'
      - properties:
          roomTypes:
            description: Rooms booked on the reservation
            items:
              $ref: '#/components/schemas/RoomType'
            type: array
          guests:
            description: Collection of guests on the reservation
            items:
              $ref: '#/components/schemas/GuestSummary'
            type: array
      example:
        checkoutDate: 2000-01-23T04:56:07.000+00:00
        numAdults: 0
        roomTypes:
        - ratePlan:
            code: code
            rate: 1.4658129
            name: name
            currency: currency
          preferences:
          - code: code
            title: title
          - code: code
            title: title
          code: code
          isAssigned: true
          roomNo: roomNo
          addOns:
          - code: code
            price:
              description: description
              unitAmount: 5.962134
              currency: currency
              units: 5.637377
            title: title
          - code: code
            price:
              description: description
              unitAmount: 5.962134
              currency: currency
              units: 5.637377
            title: title
          name: name
        - ratePlan:
            code: code
            rate: 1.4658129
            name: name
            currency: currency
          preferences:
          - code: code
            title: title
          - code: code
            title: title
          code: code
          isAssigned: true
          roomNo: roomNo
          addOns:
          - code: code
            price:
              description: description
              unitAmount: 5.962134
              currency: currency
              units: 5.637377
            title: title
          - code: code
            price:
              description: description
              unitAmount: 5.962134
              currency: currency
              units: 5.637377
            title: title
          name: name
        payments:
        - description: description
          unitAmount: 1.4658129
          currency: currency
          units: 5.962134
          status: PAID
        - description: description
          unitAmount: 1.4658129
          currency: currency
          units: 5.962134
          status: PAID
        externalIds:
        - id: id
          source: source
          type: EXTERNAL_ID
        - id: id
          source: source
          type: EXTERNAL_ID
        numChildren: 6
        guests:
        - firstName: firstName
          lastName: lastName
          isVerified: true
          isPrimary: true
          middleName: middleName
          id: id
          title: title
          isAdult: true
        - firstName: firstName
          lastName: lastName
          isVerified: true
          isPrimary: true
          middleName: middleName
          id: id
          title: title
          isAdult: true
        checkinDate: 2000-01-23T04:56:07.000+00:00
        id: id
        status: CONFIRMED
    ReservationSummary_payments_inner:
      allOf:
      - $ref: '#/components/schemas/Amount'
      - properties:
          status:
            enum:
            - PAID
            - HOLD
            - PENDING
            type: string
      example:
        description: description
        unitAmount: 1.4658129
        currency: currency
        units: 5.962134
        status: PAID
    RoomType_allOf_ratePlan:
      example:
        code: code
        rate: 1.4658129
        name: name
        currency: currency
      properties:
        code:
          type: string
        name:
          type: string
        rate:
          format: float
          type: number
        currency:
          type: string
    RoomType_allOf_addOns_inner:
      example:
        code: code
        price:
          description: description
          unitAmount: 5.962134
          currency: currency
          units: 5.637377
        title: title
      properties:
        code:
          type: string
        title:
          type: string
        price:
          $ref: '#/components/schemas/Amount'
    RoomType_allOf_preferences_inner:
      example:
        code: code
        title: title
      properties:
        code:
          type: string
        title:
          type: string
    Guest_allOf_identity:
      example:
        expiryDate: expiryDate
        number: number
        issueCountry:
          countryCode: countryCode
          countryName: countryName
        issueDate: issueDate
        IDType: PASSPORT
      properties:
        IDType:
          enum:
          - PASSPORT
          - DRIVERS_LICENSE
          - NATIONAL_ID
          - OTHER_ID
          type: string
        number:
          type: string
        issueDate:
          format: datetime
          type: string
        expiryDate:
          format: datetime
          type: string
        issueCountry:
          $ref: '#/components/schemas/Country'
    Guest_allOf_verification:
      example:
        score: 1.4658129
        status: ID_VERIFIED
      properties:
        status:
          description: Value set based on verification performed
          enum:
          - ID_VERIFIED
          - FACE_MATCHED
          - EXTERNAL
          type: string
        score:
          description: Verification score
          format: float
          type: number
  securitySchemes:
    hudini_auth:
      flows:
        implicit:
          authorizationUrl: https://auth.hudini.io/oauth/authorize
          scopes:
            write:reservations: modify authorized reservations
            read:reservations: read authorized reservations
      type: oauth2
    api_key:
      in: header
      name: api_key
      type: apiKey

