

# Verification


## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**address** | **String** |  |  [optional] |
|**firstName** | **Boolean** |  |  [optional] |
|**lastName** | **Boolean** |  |  [optional] |
|**linkingMatch** | **Boolean** |  |  [optional] |
|**phone** | **Boolean** |  |  [optional] |
|**ssn** | **String** |  |  [optional] |
|**tooManyResults** | **Boolean** |  |  [optional] |



