

# VerificationSummary


## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**bestMatch** | **String** |  |  [optional] |
|**keyMessages** | [**KeyMessages**](KeyMessages.md) |  |  [optional] |
|**lowerThreshold** | **Integer** |  |  [optional] |
|**riskIndicator** | **String** |  |  [optional] |
|**upperThreshold** | **Integer** |  |  [optional] |
|**verificationPoint** | **Integer** |  |  [optional] |



